<div class="--o--widget widget_recent_entries">
    <h4 class="--o--widget-header text-uppercase">Recent Posts</h4>

    <ul>
        <li  class="text-truncate">
            <a href="single.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/blog-food-article-3-100x100-notinclude.jpg">
            </a>
            <a href="single.html"> Green-Chile Burgers with Fried Eggs</a>
            <small class="post-date d-block">September 25, 2017</small>
        </li>

        <li  class="text-truncate">
            <a href="single.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/blog-food-article-2-100x100-notinclude.jpg">
            </a>
            <a href="single.html"> Pug Burger</a>
            <small class="post-date d-block">June 12, 2017</small>
        </li>
        <li  class="text-truncate">
            <a href="single.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/blog-food-article-1-100x100-notinclude.jpg">
            </a>
            <a href="single.html"> Bacon Burgers on Brioche Buns</a>
            <small class="post-date d-block">May 05, 2017</small>
        </li>
    </ul>
</div>
