{% set active_page = 'about.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
    <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top --o--demo-bg-image-01"></div>
    </div>
    <div class="section-content">
        <div class="container">

            <div class="row --o--pb-18 --o--pt-25 ">
                <div class="col-lg-3">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation card-inverse --o--mb-3 text-lg-right --o--demo-bg-color-orange" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <h1 class="h3 card-title">Few Things About Us</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --o--mb-3 --o--os-animation  --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <img src="assets/images/education-modern-team-07-800x400-notinclude.jpg" alt="some illustration" class="card-img">
                        <div class="card-body">
                            <h4 class="card-title text-uppercase --o--mb-2">
                                Who are we?
                            </h4>
                            <p class="card-text">
                                As part of Verso's creative ecosystem, Verso Tuts contributes to our mission of “helping people learn and earn online”. We love to see how people transform themselves and their lives by learning creative skills and earning money selling their creations or services to the world.
                            </p>
                            <p>
                                Whether your day job is creative or not, life is better when you learn and apply creative skills regularly. To do this is satisfying in its own right and a practical investment in your future.
                            </p>
                            <p>
                                It’s inspiring to see busy people who are committed to developing and refreshing their skills. This isn’t school: there aren’t any uniforms or tests or badges. For lifelong learners who are seeking practical skills and real-world outcomes, true motivation comes from within.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row --o--pb-18">
                <div class="col-lg-3">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation card-inverse --o--mb-3 text-lg-right --o--demo-bg-color-yellow" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <h2 class="h3 card-title">Why you should choose us?</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <img src="assets/images/education-modern-icon-01-80x80.png" alt="service" class="--o--mt-1 --o--mb-4">
                            <h4 class="card-title text-uppercase --o--mb-2">
                                <a href="course.html">501 e-books</a>
                            </h4>
                            <p class="card-text">Books to help you develop creative and technical skills. What would you like to read? </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <img src="assets/images/education-modern-icon-02-80x80.png" alt="service" class="--o--mt-1 --o--mb-4">
                            <h4 class="card-title text-uppercase --o--mb-2">
                                305 courses
                            </h4>
                            <p class="card-text">Video-based courses and short courses to help you develop creative and technical skills. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="card-body">
                            <img src="assets/images/education-modern-icon-03-80x80.png" alt="service" class="--o--mt-1 --o--mb-4">
                            <h4 class="card-title text-uppercase --o--mb-2">
                                25 Tutors
                            </h4>
                            <p class="card-text">Whether your day job is creative or not, life is better when you learn and apply creative skills.  </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 ml-auto">
                    <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <img src="assets/images/education-modern-icon-04-80x80.png" alt="service" class="--o--mt-1 --o--mb-4">
                            <h4 class="card-title text-uppercase --o--mb-2">
                                <a href="course.html">Self Learning</a>
                            </h4>
                            <p class="card-text">It’s inspiring to see busy people who are committed to developing and refreshing their skills.  </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <img src="assets/images/education-modern-icon-05-80x80.png" alt="service" class="--o--mt-1 --o--mb-4">
                            <h4 class="card-title text-uppercase --o--mb-2">
                                Creative Skills
                            </h4>
                            <p class="card-text">We believe everyone can be creative. It’s not a rare or magical talent, just a mindset and a set of skills. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="card-body">
                            <img src="assets/images/education-modern-icon-06-80x80.png" alt="service" class="--o--mt-1 --o--mb-4">
                            <h4 class="card-title text-uppercase --o--mb-2">
                                Multi language
                            </h4>
                            <p class="card-text">Whether your speak English, Spanish or Russians you can find tutorials in your language.  </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row --o--pb-18">
                <div class="col-lg-3">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation card-inverse --o--mb-3 text-lg-right --o--demo-bg-color-brown" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <h1 class="h3 card-title">Our Story So Far</h1>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card card-hero --o--shadow-10 --o--shadow-hover-15 --o--transition --o--mb-3 --o--os-animation  --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <div class="--o--timeline">
                                <div class="--o--timeline-item">
                                    <h3 class="--o--timeline-item-title --o--mb-1">2009 <small class=" --o--opacity-5">- The Start</small></h3>
                                    <p class="--o--timeline-item-description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam veniam obcaecati animi voluptates expedita ratione facilis officiis, eum illo id dolor deleniti quidem quo sed quibusdam rem neque eos. Facilis?
                                    </p>
                                </div>
                                <div class="--o--timeline-item">
                                    <h3 class="--o--timeline-item-title --o--mb-1">2012 <small class=" --o--opacity-5">- First 200 Courses</small></h3>
                                    <p class="--o--timeline-item-description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, voluptatum cumque aut adipisci magnam. Aliquam hic vel culpa eligendi saepe cum fugiat alias eum maiores ut cumque voluptas, debitis.
                                    </p>
                                </div>
                                <div class="--o--timeline-item">
                                    <h3 class="--o--timeline-item-title --o--mb-1">2015 <small class=" --o--opacity-5">- 1000 Courses</small></h3>
                                    <p class="--o--timeline-item-description --o--mb-0">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel repellendus nisi quibusdam amet tenetur placeat ipsum perferendis, earum illo. Dolores deleniti, tempore, asperiores esse libero quo natus dolorem ipsa est.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
