{% set active_page = 'events.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
    <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top --o--demo-bg-image-01"></div>
    </div>
    <div class="section-content">
        <div class="container">

            <div class="row --o--pb-18 --o--pt-25 ">
                <div class="col-lg-12">
                    <h1 class="h3 card-title --o--os-animation --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">Events: <span class="text-muted">May 2017, Week 2</span></h1>
                    <table class="--o--events-table table table-striped table-vertical-striped table-fixed --o--shadow-2 --o--shadow-hover-4 --o--transition --o--os-animation --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                        <thead class="font-italic --o--text-light">
                            <tr>
                                <th>
                                    <div class="--o--text-super-truncate">

                                    </div>
                                </th>
                                <th>
                                    <div class="--o--text-super-truncate">
                                        Monday
                                    </div>
                                </th>
                                <th>
                                    <div class="--o--text-super-truncate">
                                        Tuesday
                                    </div>
                                </th>
                                <th>
                                    <div class="--o--text-super-truncate">
                                        Wednesday
                                    </div>
                                </th>
                                <th>
                                    <div class="--o--text-super-truncate">
                                        Thursday
                                    </div>
                                </th>
                                <th>
                                    <div class="--o--text-super-truncate">
                                        Friday
                                    </div>
                                </th>
                                <th>
                                    <div class="--o--text-super-truncate">
                                        Saturday
                                    </div>
                                </th>
                                <th>
                                    <div class="--o--text-super-truncate">
                                        Sunday
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="small">
                            <tr>
                                <td>
                                    07.00 - 08.00
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition bg-primary text-white" rowspan="4">
                                    <a class="--o--event text-white d-block d-md-none" data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                    <p class="d-none d-md-block">
                                        <a class="--o--event text-white "  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                            <strong>CSS Basics</strong> <br>
                                            DESIGN <br>
                                            John Langan
                                        </a>
                                    </p>
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition bg-primary text-white" rowspan="2">
                                    <a class="--o--event text-white d-block d-md-none"  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                    <p class="d-none d-md-block">
                                        <a class="--o--event text-white "  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                            <strong>HTML intro</strong> <br>
                                            Web Design <br>
                                            John Langan
                                        </a>
                                    </p>
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition bg-primary text-white" rowspan="2">
                                    <a class="--o--event text-white d-block d-md-none"  data-toggle="popover" data-trigger="hover" data-placement="left" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                    <p class="d-none d-md-block">
                                        <a class="--o--event text-white "  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                            <strong>Python</strong> <br>
                                            Programming <br>
                                            Manos Proistakis
                                        </a>
                                    </p>
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                            </tr>
                            <tr>
                                <td>
                                    08.00 - 09.00
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition bg-danger text-white" rowspan="2">
                                    <a class="--o--event text-white d-block d-md-none"  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                    <p class="d-none d-md-block">
                                        <a class="--o--event text-white "  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                            <strong>WordPress</strong> <br>
                                            CMS <br>
                                            Sue Langan
                                        </a>
                                    </p>
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                            </tr>
                            <tr>
                                <td>
                                    09.00 - 10.00
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition bg-danger text-white" rowspan="3">
                                    <a class="--o--event text-white d-block d-md-none"  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                    <p class="d-none d-md-block">
                                        <a class="--o--event text-white "  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                            <strong>Brand Design</strong> <br>
                                            Graphics <br>
                                            Harry No
                                        </a>
                                    </p>
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                            </tr>
                            <tr>
                                <td>
                                    10.00 - 11.00
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition bg-info text-white" rowspan="5">
                                    <a class="--o--event text-white d-block d-md-none"  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                    <p class="d-none d-md-block">
                                        <a class="--o--event text-white "  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                            <strong>Lavarel</strong> <br>
                                            Programming <br>
                                            John Langan
                                        </a>
                                    </p>
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition bg-info text-white" rowspan="3">
                                    <a class="--o--event text-white d-block d-md-none"  data-toggle="popover" data-trigger="hover" data-placement="left" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                    <p class="d-none d-md-block">
                                        <a class="--o--event text-white "  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                            <strong>Drupal</strong> <br>
                                            CMS <br>
                                            Manos Doe
                                        </a>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    11.00 - 12.00
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition bg-primary text-white" rowspan="5">
                                    <a class="--o--event text-white d-block d-md-none"  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                    <p class="d-none d-md-block">
                                        <a class="--o--event text-white "  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                            <strong>Photoshop</strong> <br>
                                            Graphic Design <br>
                                            Dimitrios Pantazis
                                        </a>
                                    </p>
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>

                            </tr>
                            <tr>
                                <td>
                                    12.00 - 13.00
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                            </tr>
                            <tr>
                                <td>
                                    13.00 - 14.00
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition bg-success text-white" rowspan="2">
                                    <a class="--o--event text-white d-block d-md-none"  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                    <p class="d-none d-md-block">
                                        <a class="--o--event text-white "  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                            <strong>Color Theory</strong> <br>
                                            Graphic Design <br>
                                            Manos Proistak
                                        </a>
                                    </p>
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                            </tr>
                            <tr>
                                <td>
                                    14.00 - 15.00
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                            </tr>
                            <tr>
                                <td>
                                    15.00 - 16.00
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition bg-primary text-white" rowspan="4">
                                    <a class="--o--event text-white hidden-md-up"  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                    <p class="d-none d-md-block">
                                        <a class="--o--event text-white "  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                            <strong>Sketch</strong> <br>
                                            Graphic design <br>
                                            Manos Proistak
                                        </a>
                                    </p>
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition bg-primary text-white" rowspan="3">
                                    <a class="--o--event text-white hidden-md-up"  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                    <p class="d-none d-md-block">
                                        <a class="--o--event text-white "  data-toggle="popover" data-trigger="hover" data-placement="right" title="Web Design" data-content="Please join us for a morning of creative expression and the opportunity to work with two talented artists. We meet the 1st, 3rd and 5th" href="#">
                                            <strong>JQuery basics</strong> <br>
                                            Programming <br>
                                            Christos Pan
                                        </a>
                                    </p>
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                            </tr>
                            <tr>
                                <td>
                                    16.00 - 17.00
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                            </tr>
                            <tr>
                                <td>
                                    17.00 - 18.00
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                            </tr>
                            <tr>
                                <td>
                                    18.00 - 19.00
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                            </tr>
                            <tr>
                                <td>
                                    19.00 - 20.00
                                </td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                                <td class="--o--shadow-hover-6 --o--transition"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12">
                    <a href="#" class="btn btn-primary --o--shadow-4 --o--shadow-hover-8 --o--transition --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s"> ← previous week</a>
                    <a href="#" class="btn btn-primary float-right --o--shadow-4 --o--shadow-hover-8 --o--transition --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s"> next week →</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
