<div class="--o--widget widget_recent_entries">
    <h4 class="--o--widget-header">Recent Posts</h4>

    <ul>
        <li  class="text-truncate">
            <a href="single-post.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/church-09-100x100-notinclude.jpg">
            </a>
            <a href="single-post.html">I will instruct you & teach you in the way you should go.</a>
            <small class="post-date d-block">September 25, 2017</small>
        </li>

        <li  class="text-truncate">
            <a href="single-post.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/church-06-100x100-notinclude.jpg">
            </a>
            <a href="single-post.html"> Make a joyful shout to God!</a>
            <small class="post-date d-block">June 12, 2017</small>
        </li>
        <li  class="text-truncate">
            <a href="single-post.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/church-03-100x100-notinclude.jpg">
            </a>
            <a href="single-post.html">Stronger Leads & new visitors</a>
            <small class="post-date d-block">May 05, 2017</small>
        </li>
    </ul>
</div>
