{% set active_page = 'about.html' -%}

{% extends "layouts/default.html" %}

{% block content %}

<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-02"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-15">
                <div class="col-lg-4 --o--text-light">
                    <h1 class="text-uppercase --o--mb-0 --o--os-animation text-shadow" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        About Us
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background"></div>
    <div class="section-content">
        <div class="container">
            <div class="row align-items-end">
                <div class="col-lg-6 --o--py-15">
                    <h1 class="h2 card-title text-uppercase --o--mb-2 --o--os-animation " data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        Our Clinic
                    </h1>
                    <p class="--o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">Verso Medical Centre is a modern private clinic located at New York area on the main road, in a short distance from the airport.</p>
                    <p class="--o--os-animation " data-os-animation="fadeIn" data-os-animation-delay=".4s">Since our establishments in 2001 we are able to serve the local community as well as foreign patients who are spending their holidays and it is the best Private Clinic.</p>
                    <p class="--o--os-animation " data-os-animation="fadeIn" data-os-animation-delay=".4s">The communication between patients and their doctors who are specialist in their relevant field, in combination with the fully equipped facilities, make the medical care a unique and reassuring experience.</p>
                </div>
                <div class="col-lg-6">
                    <img class="mw-100 --o--os-animation " data-os-animation="fadeIn" data-os-animation-delay=".4s" src="assets/images/medical-modern-about-01-600x600-notinclude.jpg" alt="Team">
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-gradiend-01"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-15">
                <div class="col-lg-4 --o--text-light --o--order-lg-2">
                    <small class="text-muted font-italic text-uppercase text-white --o--os-animation text-shadow --o--mt-lg-9 d-block" data-os-animation="fadeIn" data-os-animation-delay=".3s">What did we started</small>
                    <h1 class="h2 text-uppercase --o--mb-2 --o--os-animation text-shadow" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        Our History
                    </h1>
                    <p class="--o--os-animation text-shadow --o--mb-5" data-os-animation="fadeIn" data-os-animation-delay=".5s">Hue Medical Centre is a modern private clinic located at New York area on the main road, in a short distance from the airport.</p>
                </div>
                <div class="col-lg-8">
                    <div class="card card-hero --o--shadow-15 --o--shadow-hover-20 --o--transition  --o--mb-lg--30 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <div class="--o--timeline">
                                <div class="--o--timeline-item">
                                    <h3 class="--o--timeline-item-title --o--mb-1">2001 <small class=" --o--opacity-5">- The Foundation</small></h3>
                                    <p class="--o--timeline-item-description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam veniam obcaecati animi voluptates expedita ratione facilis officiis, eum illo id dolor deleniti quidem quo sed quibusdam rem neque eos. Facilis?
                                    </p>
                                </div>
                                <div class="--o--timeline-item">
                                    <h3 class="--o--timeline-item-title --o--mb-1">2004 <small class=" --o--opacity-5">- Optical Clinic Foundation</small></h3>
                                    <p class="--o--timeline-item-description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, voluptatum cumque aut adipisci magnam. Aliquam hic vel culpa eligendi saepe cum fugiat alias eum maiores ut cumque voluptas, debitis.
                                    </p>
                                </div>
                                <div class="--o--timeline-item">
                                    <h3 class="--o--timeline-item-title --o--mb-1">2015 <small class=" --o--opacity-5">- Expanded Cardiology Department</small></h3>
                                    <p class="--o--timeline-item-description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel repellendus nisi quibusdam amet tenetur placeat ipsum perferendis, earum illo. Dolores deleniti, tempore, asperiores esse libero quo natus dolorem ipsa est.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background"></div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-15 --o--mt-lg-15">
                <div class="col-lg-4">
                    <small class="d-block text-muted font-italic text-uppercase text-white --o--os-animation --o--mt-lg-9" data-os-animation="fadeIn" data-os-animation-delay=".3s">What we do</small>
                    <h1 class="h2 text-uppercase --o--mb-2 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        Our Services
                    </h1>
                    <p class="--o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">Hue Medical Centre is a modern private clinic located at New York area on the main road, in a short distance from the airport.</p>
                    <a class="--o--os-animation --o--mb-5 d-block" href="services.html" data-os-animation="fadeIn" data-os-animation-delay=".5s">read more →</a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --os-animation --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <img  src="assets/images/medical-modern-icon-05-100x100-notinclude.png" alt="Service icon" class="--o--mb-5 --o--mt-3">
                            <h2 class="h3 card-title --o--mb-0 text-uppercase --o--mb-2">
                                <a href="service.html">Audiology</a>
                            </h2>
                            <p>
                                We treat hearing loss and related auditory problems in individuals of all ages.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --os-animation --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <img  src="assets/images/medical-modern-icon-06-100x100-notinclude.png" alt="Service icon" class="--o--mb-5 --o--mt-3">
                            <h2 class="h3 card-title --o--mb-0 text-uppercase --o--mb-2">
                                <a href="service.html">Cardiology</a>
                            </h2>
                            <p>
                                Uses the most sophisticated tools to diagnose heart and vascular disease.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 ml-auto">
                    <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --os-animation --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <img  src="assets/images/medical-modern-icon-07-100x100-notinclude.png" alt="Service icon" class="--o--mb-5 --o--mt-3">
                            <h2 class="h3 card-title --o--mb-0 text-uppercase --o--mb-2">
                                <a href="service.html">Dental Center</a>
                            </h2>
                            <p>
                                 Specializes in dental implants as a solution for the millions of people.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --os-animation --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <img  src="assets/images/medical-modern-icon-08-100x100-notinclude.png" alt="Service icon" class="--o--mb-5 --o--mt-3">
                            <h2 class="h3 card-title --o--mb-0 text-uppercase --o--mb-2">
                                <a href="service.html">Eye Care</a>
                            </h2>
                            <p>
                                We offer adult eye care at two main locations of our Clinics.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
