{% set active_page = 'appointment.html' -%}

{% extends "layouts/default.html" %}

{% block extrajs %}
    <script type="text/javascript">
        var map = {
            map_type: 'ROADMAP',
            auto_zoom: 'manual',                                        // set to 'manual' to set the zoom manually. Leave empty for auto zoom
            map_zoom: 7,                                                // set the zoom if auto_zoom is set to
            map_scrollable: 'on',                                       // makes the map draggable
            map_style: '',                                    // if set to blackwhite it takes a black/white saturation
            addresses: ['London', 'Paris'],                             // addresses separated by comma. Addresses are picked up first
            latlngs : ['51.511084, -0.133202', '51.506623, -0.111916'], // Lat/Lng separated by comma. if no addresses are set these coordinates will get used
            labels: ['London', 'Paris'],                                // labels that will be added to the markeres respectively. Keep the same number as markers
            auto_center: 'auto',                                        // center the map 'auto' or 'custom'
            center_latlng: '',                                          // centers the map to this point, unless it is set to auto
            show_markers: 'on',                                         // shows/Hides the markers
            markerURL: 'assets/images/marker.png'                       // the marker URL
        };
    </script>
    <script type="text/javascript" src="assets/js/contact.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA53lVLoFr_BgRcgzx80ThvLm4vBJLp3x0"></script>
{% endblock %}

{% block content %}

<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-gradiend-01"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-15">
                <div class="col-lg-4 --o--text-light">
                    <h1 class="text-uppercase --o--os-animation text-shadow --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        Appointment
                    </h1>

                    <p class="--o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        Have any questions? We'll be happy to answer them all. Have a look at the most frequently questions asked and if you feel that your question is not answered use the contact form bellow to send us an email.
                    </p>
                </div>
                <div class="col-lg-8">
                    <div class="card card-hero --o--shadow-10 --o--shadow-hover-15 --o--transition --os-animation --o--os-animation text-center --o--mb-3 card-inverse  --o--mb-lg--30" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <form action="contact_mailer.php" class="contact-form">
                                <input type="text" id="name" name="name" class="form-control --o--shadow-0 --o--shadow-focus-2 --o--transition --o--mb-3" placeholder="Name">
                                <input type="email" id="email" name="email" class="form-control --o--shadow-0 --o--shadow-focus-2 --o--transition --o--mb-3" placeholder="Your Email">
                                <textarea id="message" name="message" rows="8" class="form-control --o--shadow-0 --o--shadow-focus-2 --o--transition --o--mb-3" placeholder="Describe your issue and when it would be better to call you"></textarea>
                                <div class="form-check --o--mb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" id="sign" name="sign" type="checkbox" value="sign"> Sign me up to the newsletter
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary --o--shadow-2">Send</button>
                                <div class="--o--messages --o--pt-2"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background"></div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-15 --o--mt-lg-15">
                <div class="col-lg-4 --o--order-lg-2">
                    <small class="d-block text-muted font-italic text-uppercase text-white --o--os-animation --o--mt-lg-9" data-os-animation="fadeIn" data-os-animation-delay=".3s">Prefer to visit us? </small>
                    <h1 class="h2 text-uppercase --o--mb-2 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        Visit Our Clinic
                    </h1>
                    <p class="--o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">San Francisco,
                    <br>CA 13234-0340 <br>Phone: (123) 456-789 <br>Fax: (123) 456-7898</p>
                </div>
                <div class="col-lg-8">
                    <div class="card card-hero --o--shadow-10 --o--shadow-hover-15 --o--transition --os-animation --o--os-animation text-center --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="google-map" id="map" style="height:700px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
