{% set active_page = 'faq.html' -%}

{% extends "layouts/default.html" %}

{% block content %}

<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-gradiend-01"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-15">
                <div class="col-lg-6 --o--text-light">
                    <h1 class="text-uppercase --o--os-animation text-shadow --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        FAQ
                    </h1>

                    <p class="--o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        Have any questions? We'll be happy to answer them all. Have a look at the most frequently questions asked and if you feel that your question is not answered use the contact form bellow to send us an email.
                    </p>
                    <p class="--o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        We reply within 24 hours and if needed a specialist will contact you over the phone for personal questions. Please have your medical records nearby in case they are needed by the doctor appointed to you.
                    </p>
                    <p class="--o--os-animation --o--mb-5" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        Our clinic we'll keep your records safe and discreet. We have some of the best doctors and we'll be happy to serve you.
                    </p>
                </div>
                <div class="col-lg-6">
                    <div id="accordion" role="tablist" aria-multiselectable="true" class="--o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation --o--os-animation  --o--mb-lg--30" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h3 class="mb-0 text-uppercase">
                                    <a class="card-header-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Do I need Annual Checkups?
                                    </a>
                                </h3>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h3 class="mb-0 text-uppercase">
                                    <a class="card-header-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Should I do My blood exams every semester?
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h3 class="mb-0 text-uppercase">
                                    <a class="card-header-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What Should my doctor Know About me?
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <h3 class="mb-0 text-uppercase">
                                    <a class="card-header-collapse collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    What injections should I get?
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background"></div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-15 --o--mt-lg-15">
                <div class="col-lg-4 --o--order-lg-2">
                    <small class="d-block text-muted font-italic text-uppercase text-white --o--os-animation --o--mt-lg-9" data-os-animation="fadeIn" data-os-animation-delay=".3s">Didn't Find an Answer? </small>
                    <h1 class="h2 text-uppercase --o--mb-2 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        Feel free to contact us
                    </h1>
                    <p class="--o--os-animation --o--mb-5" data-os-animation="fadeIn" data-os-animation-delay=".5s">Oxygenna Medical Centre is a modern private clinic located at New York area on the main road, in a short distance from the airport.</p>
                </div>
                <div class="col-lg-8">
                    <div class="card card-hero --o--shadow-10 --o--shadow-hover-15 --o--transition --os-animation --o--os-animation text-center --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <form action="contact_mailer.php" class="contact-form">
                                <input type="text" id="name" name="name" class="form-control --o--shadow-0 --o--shadow-focus-2 --o--transition --o--mb-3" placeholder="Name">
                                <input type="email" id="email" name="email" class="form-control --o--shadow-0 --o--shadow-focus-2 --o--transition --o--mb-3" placeholder="Your Email">
                                <textarea id="message" name="message" rows="8" class="form-control --o--shadow-0 --o--shadow-focus-2 --o--transition --o--mb-3" placeholder="Your Comment"></textarea>
                                <div class="form-check --o--mb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" id="sign" name="sign" type="checkbox" value="sign"> Sign me up to the newsletter
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary --o--shadow-2">Send</button>
                                <div class="--o--messages --o--pt-2"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
