{% set active_page = 'plans.html' -%}

{% extends "layouts/default.html" %}

{% block content %}

<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-04"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-15">        
                <div class="col-lg-4 --o--text-light">
                    <h1 class="text-uppercase --o--mb-0 --o--os-animation text-shadow" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        Our Gallery
                    </h1>
                </div>        
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background"></div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-15">
                <div class="col-md-4 col-sm-6">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/medical-modern-gallery-01-600x400-notinclude.jpg" alt="Doctor">
                        </div>
                        <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                            <p class="card-title --o--transition">
                                Surgery Department
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/medical-modern-gallery-04-600x400-notinclude.jpg" alt="Doctor">
                        </div>
                        <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                            <p class="card-title --o--transition">
                                Traumatology
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/medical-modern-gallery-07-600x400-notinclude.jpg" alt="Doctor">
                        </div>
                        <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                            <p class="card-title --o--transition">
                                Cardiology
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/medical-modern-gallery-08-600x400-notinclude.jpg" alt="Doctor">
                        </div>
                        <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                            <p class="card-title --o--transition">
                                General practice
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/medical-modern-gallery-09-600x400-notinclude.jpg" alt="Doctor">
                        </div>
                        <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                            <p class="card-title --o--transition">
                                Dermatology
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/medical-modern-gallery-10-600x400-notinclude.jpg" alt="Doctor">
                        </div>
                        <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                            <p class="card-title --o--transition">
                                Dentistry
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

