{% set active_page = 'doctors.html' -%}

{% extends "layouts/default.html" %}

{% block content %}

<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-gradiend-01"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-15">
                <div class="col-lg-6 --o--text-light">
                    <h1 class="text-uppercase --o--os-animation text-shadow --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        Neurology
                    </h1>
                    <p class="--o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">Αt the Oxygenna Neurology Department, we treat hearing loss and related auditory problems in individuals of all ages. The clinic works in close cooperation with a variety of specialists to provide state of the art diagnostic, electrophysiologic, and balance testing for patients with any degree of hearing loss or communicative impairment.</p>
                    <p  class="--o--os-animation --o--mb-5" data-os-animation="fadeIn" data-os-animation-delay=".4s">A full-service dispensing program is available for hearing aid and assistive listening devices as well as rehabilitative services for hearing loss, dizziness and balance problems, tinnitus and hyperacusis.</p>
                </div>
                <div class="col-lg-6">
                    <div class="card card-hero --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-lg--30 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <img class="card-img" src="assets/images/medical-modern-gallery-01-600x400-notinclude.jpg" alt="Doctor">
                        <div class="card-body">
                            <h2 class="h3 card-title text-uppercase --o--mb-2">
                                <a href="doctor.html">Dr. John Langan</a>
                            </h2>
                            <p class="card-text">John Langan is the director of the Neurology Clinic. He provides comprehensive Neurology evaluations for adult and pediatric patients, specializing in vestibular and balance disorder.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background"></div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-15 --o--mt-lg-15">
                <div class="col-lg-4 --o--order-lg-3">
                    <small class="d-block text-muted font-italic text-uppercase text-white --o--os-animation --o--mt-lg-9" data-os-animation="fadeIn" data-os-animation-delay=".3s">Our Clinic</small>
                    <h1 class="h2 text-uppercase --o--mb-2 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        Other Services
                    </h1>
                    <p class="--o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">Hue Medical Centre is a modern private clinic located at New York area on the main road, in a short distance from the airport.</p>
                    <a class="--o--os-animation --o--mb-5 d-block" href="services.html" data-os-animation="fadeIn" data-os-animation-delay=".5s">read more →</a>
                </div> 
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --os-animation --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".3s"> 
                                <div class="card-body">
                                    <img  src="assets/images/medical-modern-icon-05-100x100-notinclude.png" alt="Service icon" class="--o--mb-5 --o--mt-3">
                                    <h2 class="h3 card-title --o--mb-0 text-uppercase --o--mb-2">
                                        <a href="service.html">Audiology</a>
                                    </h2>
                                    <p>
                                        We treat hearing loss and related auditory problems in individuals of all ages.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --os-animation --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".4s"> 
                                <div class="card-body">
                                    <img  src="assets/images/medical-modern-icon-06-100x100-notinclude.png" alt="Service icon" class="--o--mb-5 --o--mt-3">
                                    <h2 class="h3 card-title --o--mb-0 text-uppercase --o--mb-2">
                                        <a href="service.html">Cardiology</a>
                                    </h2>
                                    <p>
                                        Uses the most sophisticated tools to diagnose heart and vascular disease.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --os-animation --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".3s"> 
                                <div class="card-body">
                                    <img  src="assets/images/medical-modern-icon-07-100x100-notinclude.png" alt="Service icon" class="--o--mb-5 --o--mt-3">
                                    <h2 class="h3 card-title --o--mb-0 text-uppercase --o--mb-2">
                                        <a href="service.html">Dental Center</a>
                                    </h2>
                                    <p>
                                         Specializes in dental implants as a solution for the millions of people.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card --o--shadow-10 --o--shadow-hover-15 --o--transition --os-animation --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".4s"> 
                                <div class="card-body">
                                    <img  src="assets/images/medical-modern-icon-08-100x100-notinclude.png" alt="Service icon" class="--o--mb-5 --o--mt-3">
                                    <h2 class="h3 card-title --o--mb-0 text-uppercase --o--mb-2">
                                        <a href="service.html">Eye Care</a>
                                    </h2>
                                    <p>
                                        We offer adult eye care at two main locations of our Clinics.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

