<div class="--o--header">

    <!-- Top Bar -->
    <div class="--o--topbar --o--topbar-leftright">
        <div class="--o--topbar-inner">
            <div class="--o--topbar-container">
                <div class="--o--topbar-col">
                    <div class="--o--widget widget_text">
                        <i class="fa fa-phone"></i> &nbsp; 1-800-555-555
                    </div>
                </div>
                <div class="--o--topbar-col">
                    <div class="--o--widget widget_text">
                        <a class="d-inline-block" href="about.html">
                            About Us
                        </a>
                        <a class="d-inline-block --o--ml-2" href="departments.html">
                            Departments
                        </a>
                        <a class="d-inline-block --o--ml-2" href="services.html">
                            Services
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation -->
    <div class="--o--nav --o--nav-sticky --o--nav-layout-logo-l-menu-r">
        <div class="--o--nav-inner">
            <div class="--o--nav-container">

                <!-- Logo -->
                <div class="--o--nav-brand">
                    <a href="index.html">
                        <img src="assets/images/medical-modern-logo-130x100.png" alt="verso">
                        MEDICAL
                    </a>
                </div>

                <!-- Mobile menu toggle button -->
                <div class="--o--nav-mobile">
                    <a id="nav-toggle" href="#">
                        <span></span>
                    </a>
                </div>

                <!-- Menu One -->
                <nav class="--o--nav-menu">
                    <ul class="--o--nav-list">
                        <li>
                            <a href="index.html">HOME</a>
                        </li>
                        <li>
                            <a href="about.html">ABOUT</a>
                            <ul class="--o--nav-dropdown closed">
                                <li>
                                    <a href="about.html">ABOUT US</a>
                                </li>
                                <li>
                                    <a href="doctors.html">OUR DOCTORS</a>
                                </li>
                                <li>
                                    <a href="doctor.html">SINGLE DOCTOR</a>
                                </li>
                                <li>
                                    <a href="services.html">HEALTH SERVICES</a>
                                </li>
                                <li>
                                    <a href="service.html">SINGLE SERVICE</a>
                                </li>
                                <li>
                                    <a href="plans.html">HEALTH PLANS</a>
                                </li>
                                <li>
                                    <a href="faq.html">FAQ</a>
                                </li>
                                <li>
                                    <a href="appointment.html">APPOINTMENT</a>
                                </li>
                                <li>
                                    <a href="gallery.html">GALLERY</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="departments.html">DEPARTMENTS</a>
                            <ul class="--o--nav-dropdown closed">
                                <li>
                                    <a href="departments.html">DEPARTMENTS LIST</a>
                                </li>
                                <li>
                                    <a href="department-1.html">PEDIATRIC</a>
                                </li>
                                <li>
                                    <a href="department-2.html">CARDIOLOGY</a>
                                </li>
                                <li>
                                    <a href="department-3.html">DENTAL CARE</a>
                                </li>
                                <li>
                                    <a href="department-4.html">NEUROLOGY</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="timetable.html">TIMETABLE</a>
                        </li>
                        <li>
                            <a href="blog.html">BLOG</a>
                            <ul class="--o--nav-dropdown closed">
                                <li>
                                    <a href="blog.html">BLOG</a>
                                </li>
                                <li>
                                    <a href="post.html">SINGLE POST</a>
                                </li>
                                <li>
                                    <a href="author.html">AUTHOR'S PAGE</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">CONTACT</a>
                        </li>
                    </ul>
                    <div class="--o--nav-widget">
                        <div class="--o--widget">
                            <div class="--o--icon-set">
                                <a class="--o--icon-set-item --o--transition --o--search-widget-button-open" href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
