// basic colors
$body-bg: #1b6e6d;
$body-color: #80a3a3;

$o-primary:                 #168180;
$o-secondary:               #e30e2a;
$o-info:                    #009999;
$o-success:                 rgba(0,153,153,0.8);
$o-warning:                 #cc6633;
$o-danger:                  #a91628;
$o-light:                  #a91628;
$o-dark:                  #a91628;

// basic type
$font-family-base:  'cardo';
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.68;

// headings type
$headings-font-family: 'pathway gothic one';
$headings-color: #168180;
$headings-font-weight: 700;
$o-headings-style: normal;
$o-headings-text-transform: uppercase;
$headings-margin-bottom: 24px;
$headings-line-height:   1.2;

$h1-font-size: 48px;
$h2-font-size: 36px;
$h3-font-size: 24px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;

$display1-size: 96px;
$display2-size: 60px;
$display3-size: 48px;
$display4-size: 36px;

$font-size-lg:   21px;
$font-size-sm:   16px;
$font-size-xs:   14px;

// links
$link-color: #168180;
$link-decoration: none;
$link-hover-color: #e30e2a;
$link-hover-decoration: none;

// muted text
$text-muted: #c0d2d2;

// navigation
$o-nav-height: 100px;
$o-nav-height-scrolled: 90px;
$o-nav-bg: rgba(39,173,168,.9);
$o-nav-font-family: 'pathway gothic one';
$o-nav-font-weight: 400;
$o-nav-text-tranform: uppercase;
$o-nav-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 4px 5px 0 rgba(0,0,0,.05),0 1px 10px 0 rgba(0,0,0,.1);

$o-nav-link-font-size: 18px;
$o-nav-link-color: #f7ffff;
$o-nav-link-hover-color: #1b6e6d;
$o-nav-link-hover-bg: transparent;
$o-nav-link-active-color: #1b6e6d;
$o-nav-link-active-bg: transparent;
$o-nav-link-padding-y: 20px; // for menu items before collapsing only
$o-nav-link-padding-x: 30px; // for menu items after collapsing only
$o-nav-link-max-size: 130px; // for menu style with the logo in center and menu left and right
$o-nav-link-border-width: 3px;
$o-nav-link-border-color: #1b6e6d;

$o-nav-brand-color: #f7ffff;
$o-nav-brand-font-size: 24px;
$o-nav-link-brand-height: 100px; // for menu layouts with the logo above only
$o-nav-link-brand-width: 200px;  // brand width for float style only
$o-nav-brand-padding-y: 20px; // brand vertical padding

// navigation dropdowns
$o-nav-dropdown-bg: rgba(247,255,255,.9);
$o-nav-dropdown-font-size: 16px;
$o-nav-dropdown-link-color: #27ada8;
$o-nav-dropdown-link-hover-color: #168180;
$o-nav-dropdown-link-hover-bg: rgba(255, 255, 255, .4);
$o-nav-dropdown-link-active-color: #168180;
$o-nav-dropdown-link-active-bg: rgba(255, 255, 255, .2);
$o-nav-dropdown-link-padding-y: 12px;
$o-nav-dropdown-link-padding-x: 20px;
$o-nav-dropdown-width: 250px;
$o-nav-dropdown-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.04), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);

// float header
$o-header-float-y: 20px; // top margin for float nav only

// transparent header
$o-header-transparent-bg: rgba(255, 255, 255, .02);
$o-header-transparent-link-color: #27ada8;
$o-header-transparent-link-hover-color: #1b6e6d;
$o-header-transparent-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.02), 0 4px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.01);

// transparent top bar
$o-topbar-transparent-bg: rgba(0, 0, 0, .05);
$o-topbar-transparent-color: #7e949f;

// navigation collapse point
$o-nav-collapse-breakpoint: 1200px;

// top bar
$o-topbar-height: 36px;
$o-topbar-bg: #168180;
$o-topbar-font-size: 13px;
$o-topbar-color: #a2e7e7;
$o-topbar-hover-color: #f7ffff;
$o-topbar-shadow: 0 -2px 4px -1px rgba(0,0,0,.3) inset;

// blockquotes
$o-blockquote-font-family: 'cardo';
$blockquote-font-size:    27px;
$o-blockquote-font-weight: 400;
$o-blockquote-style:  italic;
$o-blockquote-line-height: 1.77;
$o-blockquote-font-size-lg: 36px;

$blockquote-small-color:  #263238;
$o-blockquote-small-size: 14px;
$o-blockquote-small-style: normal;

// lead text
$lead-font-size:   18px;
$lead-font-weight: 300;
$o-lead-line-height: 40px;

// light colored elements
$o-light-color: #a2e7e7;
$o-light-headings-color: #fafafa;
$o-light-link-color: #fafafa;
$o-light-link-hover-color: #fafafa;
$o-light-text-muted: #a2e7e7;
$o-light-border-color: #a2e7e7;

// global border radius
$border-radius: 0px;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Buttons
$input-btn-padding-x: 36px;
$input-btn-padding-y: 10px;
$input-btn-line-height: 1.25;
$btn-font-weight: 700;
$o-input-btn-font-size: 16px;
$o-input-btn-style: uppercase;
$o-input-btn-border-width: 0px;

$btn-link-disabled-color:        #979da3;

$input-btn-padding-x-sm:               30px;
$input-btn-padding-y-sm:               5px;

$input-btn-padding-x-lg:               60px;
$input-btn-padding-y-lg:               13px;

$btn-border-radius: 20px;
$btn-border-radius-lg:           23px;
$btn-border-radius-sm:           15px;

// forms
$input-padding-x:                14px;
$input-padding-y:                10px;

$input-bg:                       #f7ffff;
$input-disabled-bg:              #f7ffff;

$input-color:                    #27ada8;
$input-border-color:             #27ada8;
$input-btn-border-width:         3px;

$input-border-radius:            0;
$input-border-radius-lg:         0;
$input-border-radius-sm:         0;

$input-focus-bg:                 #f7ffff;
$input-focus-border-color:             #168180;
$input-focus-color:              #168180;

$input-placeholder-color:        #c0d2d2;

// Footer
$o-footer-bg: #168180;
$o-footer-color: #c0d2d2;
$o-footer-font-size: 14px;
$o-footer-link-color: #f7ffff;
$o-footer-link-hover-color: #c0d2d2;
$o-footer-headings-color: #f7ffff;
$o-footer-border-color: rgba(255, 255, 255, 0.1);
$o-footer-muted-color: #58bfbe;
$o-footer-primary-color:  #168180;
$o-footer-primary-bg: #a2e7e7;

// subfooter
$o-subfooter-bg: #1b6e6d;
$o-subfooter-color: #c0d2d2;
$o-subfooter-font-size: 14px;
$o-subfooter-link-color: #f7ffff;
$o-subfooter-link-hover-color: #c0d2d2;
$o-subfooter-muted-color: #ffffff;

// Sidebar Widgets
$o-widget-padding-x: 30px;
$o-widget-padding-y: 30px;
$o-widget-bottom-margin: 30px;
$o-widget-bg: rgba(255, 255, 255, 1);
$o-widget-border-color: #f0f0f0;

// Rule & border Colors
$hr-border-color: #27ada8;

// Bordered Header width
$o-heading-border-width: 3px;

// Cards
$card-spacer-x:            30px;
$card-spacer-y:            30px;
$o-card-cap-spacer-y:      10px; // footer horizontal padding
$card-border-width:        0px;
$card-border-radius:       0;
$card-border-color:        rgba(255, 255, 255, 1);
$card-bg:                  rgba(255, 255, 255, 1);
$card-img-overlay-padding: 20px;

$card-cap-bg:              #e3eded;
$o-card-inverse-bg:        #27ada8;

$o-card-hero-spacer-x:     67px;
$o-card-hero-spacer-y:     67px;

$o-card-overlay-bg:       rgba(0,0,0,0.65);

// list groups
$list-group-item-padding-y: 20px;
$list-group-item-padding-x: 30px;
$list-group-border-width: 1px;

$list-group-bg: rgba(255, 255, 255, .8);
$list-group-border-color: #f0f0f0;
$list-group-hover-bg: #f7f7f7;

// counters
$o-counter-width:         150px;

// progress bars
$progress-bg:                 #c0d2d2;
$progress-bar-bg:             #168180;
$progress-bar-color:          #168180;
$progress-height:        8px;

// breadcrumbs
$breadcrumb-padding-y:          30px;
$breadcrumb-padding-x:          30px;
$breadcrumb-item-padding:       10px;

$breadcrumb-bg:                 #f7f7f7;
$breadcrumb-divider-color:      #979da3;
$breadcrumb-active-color:       #979da3;
$breadcrumb-divider:            "/";

// pagination
$pagination-padding-x:                16px;
$pagination-padding-y:                11px;
$pagination-padding-x-sm:             14px;
$pagination-padding-y-sm:             3px;
$pagination-padding-x-lg:             20px;
$pagination-padding-y-lg:             8px;

$pagination-color:                     #333;
$pagination-bg:                        #fff;
$pagination-border-width:              1px;
$pagination-border-color:              #ddd;

$pagination-hover-color:               #f7ffff;
$pagination-hover-bg:                  #168180;
$pagination-hover-border-color:              #168180;

$pagination-active-color:              #f7ffff;
$pagination-active-bg:                 #168180;
$pagination-active-border-color:             #168180;

$pagination-disabled-color:            #333;
$pagination-disabled-bg:               #fff;
$pagination-disabled-border-color:           #ddd;

// popovers
$popover-bg:                          #80A3A3;
$popover-body-color:                     #F7FFFF;
$popover-border-color:                #80A3A3;
$popover-header-bg:                    #80A3A3;

// tooltips
$tooltip-color:               #F7FFFF;
$tooltip-bg:                  #80A3A3;
$tooltip-padding-y:           6px;
$tooltip-padding-x:           20px;

// modals
$modal-inner-padding:         30px;

$modal-content-bg:               #ffffff;
$modal-content-border-color:     rgba(0,0,0,.2);
$modal-content-border-width:     1px;
$modal-backdrop-bg:           rgba(0,0,0, .95);
$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    300px;

// tables
$table-cell-padding:            20px;
$table-cell-padding-sm:         10;

$table-bg:                      #fdfdfd;
$o-table-header-bg: #d0d0d0;
$o-table-body-bg: rgba(255, 255, 255, .8);
$table-accent-bg:               rgba(222, 222, 222, 0.6);
$table-hover-bg:                rgba(222, 222, 222, 0.4);
$table-active-bg:               red;
$table-border-width:            1px;
$table-border-color:            rgba(0,0,0,.025);

// nav
$nav-tabs-border-color:                       #dbdad7;
$nav-tabs-border-width:                       1px;
$nav-tabs-border-radius:                      0;
$nav-tabs-link-hover-border-color:            transparent;
$nav-tabs-link-active-color:            #061a40;
$nav-tabs-link-active-bg:               #ffffff;
$nav-tabs-link-active-border-color:     #dbdad7;

// section background titles
$o-section-bg-color: rgba(150,150,150, .05);
$o-section-bg-size: 220px;
$o-section-bg-offset: 0px;

// carousel indicators/text color
$carousel-control-color:                      #007674;
$carousel-caption-color:                      #f7ffff;

// magnific - full screen search
$o-magnific-overlay-color:                   rgba(38, 50, 56,.9);
$o-magnific-controls-color:                  #c0cbd0;

// loader
$o-loader-bg: rgba(247,255,255,0.95);
$o-loader-color: rgba(227,14,42, 1);
$o-loader-image: '';

// box layout settings
$o-box-layout-width: 100%;  // when not defined it should be 100%
$o-box-layout-top-offest: 0px;
$o-box-layout-shadow: none;
$o-box-layout-bg: #f5f5f5;

// go to top button
$o-go-top-bg: rgba(22,129,128,0.9);
$o-go-top-color: #f7ffff;
$o-go-top-radius: 50%;

// transition speed
$o-transition-speed: 0.3s;

// paralax speed
$parallax-space: 20%;
