<div class="--o--header --o--header-transparent">
    <!-- Navigation -->
    <div class="--o--nav --o--nav-sticky --o--nav-layout-logo-l-menu-r">
        <div class="--o--nav-inner">
            <div class="--o--nav-container">

                <!-- Logo -->
                <div class="--o--nav-brand">
                    <a href="index.html">
                        <img src="assets/images/creative-personal-logo-130x100.png" alt="verso">
                        Creative
                    </a>
                </div>

                <!-- Mobile menu toggle button -->
                <div class="--o--nav-mobile">
                    <a id="nav-toggle" class="--o--nav-smooth-scroll" data-offset="90" href="#">
                        <span></span>
                    </a>
                </div>

                <!-- Menu One -->
                <nav class="--o--nav-menu">
                    <ul class="--o--nav-list">
                        <li>
                            <a href="index.html#about" class="--o--nav-smooth-scroll" data-offset="90">About</a>
                        </li>
                        <li>
                            <a href="index.html#portfolio" class="--o--nav-smooth-scroll" data-offset="90">Portfolio</a>
                        </li>
                        <li>
                            <a href="index.html#services" class="--o--nav-smooth-scroll" data-offset="90">Services</a>
                        </li>
                        <li>
                            <a href="index.html#testimonials" class="--o--nav-smooth-scroll" data-offset="90">Testimonials</a>
                        </li>
                        <li>
                            <a href="blog.html">Blog</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                    <div class="--o--nav-widget">
                        <div class="--o--widget">
                            <div class="--o--widget widget_social">
                                <div class="--o--icon-set">
                                    <a class="--o--icon-set-item --o--transition" href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                    <a class="--o--icon-set-item --o--transition" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a class="--o--icon-set-item --o--transition" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</div>
