<div class="--o--widget widget_recent_entries">
    <h4 class="h5 --o--widget-header text-uppercase">Recent Posts</h4>

    <ul>
        <li  class="text-truncate">
            <a href="single.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/magazine-food-article-01-100x100-notinclude.jpg">
            </a>
            <a href="single.html"> Cooking a great meal for the holidays!</a>
            <small class="post-date d-block">September 25, 2017</small>
        </li>

        <li  class="text-truncate">
            <a href="single.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/magazine-food-article-02-100x100-notinclude.jpg">
            </a>
            <a href="single.html"> Fish fillet, the right way.</a>
            <small class="post-date d-block">June 12, 2017</small>
        </li>
        <li  class="text-truncate">
            <a href="single.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/magazine-food-article-03-100x100-notinclude.jpg">
            </a>
            <a href="single.html"> Chicken facks you didn't know.</a>
            <small class="post-date d-block">May 05, 2017</small>
        </li>
    </ul>
</div>
