<footer class="--o--footer">
    <div class="section --o--py-9">
        <div class="section-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        {% include "partials/widgets/text-widget.html" %}
                    </div>
                    <div class="col-md-3">
                        {% include "partials/widgets/categories-widget.html" %}
                    </div>
                    <div class="col-md-3">
                        {% include "partials/widgets/recent-posts-widget.html" %}
                    </div>
                    <div class="col-md-3">
                        {% include "partials/widgets/text-widget-2.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "partials/subfooter.html" %}

</footer>

<a href="#" class="--o--go-top --o--shadow-10 --o--shadow-hover-15 d-none d-sm-block hide">
    <i class="fa fa-angle-up"></i>
</a>

