<div class="--o--widget widget_recent_entries">
    <h4 class="--o--widget-header text-uppercase">Latest Courses</h4>

    <ul>
        <li  class="text-truncate">
            <a href="course.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/education-modern-post-04-50x50-notinclude.jpg">
            </a>
            <a href="course.html">CSS3 selectors</a>
            <small class="post-date d-block">102 Hours, $20</small>
        </li>

        <li  class="text-truncate">
            <a href="course.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/education-modern-post-05-50x50-notinclude.jpg">
            </a>
            <a href="course.html"> Intro In WordPress</a>
            <small class="post-date d-block">80 Hours, $25</small>
        </li>
        <li  class="text-truncate">
            <a href="course.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/education-modern-post-06-50x50-notinclude.jpg">
            </a>
            <a href="course.html">Javascript for begginers</a>
            <small class="post-date d-block">25 Hours, free</small>
        </li>
    </ul>
</div>
