<div class="--o--widget widget_tag_cloud">
    <h4 class="--o--widget-header text-uppercase">Tags</h4>
    <ul>
        <li>
            <a href="courses-list.html">CSS</a>
        </li>

        <li>
            <a href="courses-list.html">HTML</a>
        </li>

        <li>
            <a href="courses-list.html">Design</a>
        </li>

        <li>
            <a href="courses-list.html">PHP</a>
        </li>

        <li>
            <a href="courses-list.html">WordPress</a>
        </li>
        <li>
            <a href="courses-list.html">CMS</a>
        </li>
        <li>
            <a href="courses-list.html">Logo</a>
        </li>

        <li>
            <a href="courses-list.html">PSD</a>
        </li>

        <li>
            <a href="courses-list.html">Illustrator</a>
        </li>

        <li>
            <a href="courses-list.html">Design</a>
        </li>
    </ul>
</div>
