{% set active_page = 'blog.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-20 --o--pb-9">
                <div class="col-md-8 --o--mb-9 --o--mb-md-0">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-6 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">

                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/magazine-food-author-01-800x500-notinclude.jpg" alt="Card image">
                        </div>

                        <div class="card-body">
                            <h1 class="h3 text-uppercase card-title --o--mb-1">
                                <a href="single.html">Jessica Smith</a>
                            </h1>
                            <p>Short ribs picanha kevin, pork loin chuck shoulder burgdoggen tail. Sausage ham ball tip porchetta shankle. T-bone bresaola bacon meatloaf pork. Pork chop ham ribeye pancetta capicola tongue kevin boudin beef ribs biltong venison pig leberkas t-bone picanha.</p>

                            <p>Short loin venison salami ham pig capicola, pork loin meatloaf picanha beef kevin porchetta ham hock. Kevin ham picanha, porchetta jerky shankle ham hock drumstick pork flank doner. Alcatra t-bone shank tenderloin salami shoulder. Tongue chicken corned beef andouille, pork loin kielbasa short loin pork chop tenderloin venison burgdoggen. Strip steak rump alcatra meatball, flank hamburger burgdoggen bresaola jerky prosciutto ground round tri-tip ham hock frankfurter. Burgdoggen jowl filet mignon, spare ribs short loin jerky chicken t-bone pork belly flank turducken boudin doner meatloaf.</p>
                        </div>

                        <div class="card-footer clearfix">
                            <div class="--o--icon-set --o--icon-set-expandable --o--transition float-right">
                                <a class="--o--icon-set-item --o--icon-set-item-trigger text-muted" href="1">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                                <a class="--o--icon-set-item --o--icon-set-item-close --o--transition" href="2">
                                    <i class="fa fa-close"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <h4 class="h4 text-uppercase --o--mb-3 --o--text-light --o--transition --o--mb-3 --o--os-animation text-shadow" data-os-animation="fadeIn" data-os-animation-delay=".3s">Related posts</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/magazine-food-recentpost-02-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Super Pizza</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">Pizza recipes</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/magazine-food-recentpost-01-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html"></a>Gourmet Restaurants</h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">Where to eat</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/magazine-food-category-02-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Meat &amp; veggies</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">Cooking Meat</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/magazine-food-category-01-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Homemade Pita</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">Greek Food</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 sidebar --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                    {% include "partials/sidebar.html" %}
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

