{% set active_page = 'awards.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-100 section-bg-image-size-md-100 section-bg-image-size-lg-100 section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-04"></div>
    </div>
    <div class="section-content">
        <div class="container-fluid">
            <div class="row --o--pt-20 --o--pb-20 --o--pt-md-25 --o--pl-4 --o--pr-4">
                <div class="col-lg-12 --o--text-normal">
                    <h1 class="text-uppercase display-3 --o--font-weight-600 d-inline-block --o---float-header --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        My Awards <small>*</small> 
                    </h1>
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <p class="--o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">Over the last years I’ve been blessed to receive many awards for some of my work. Here are some of them.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row --o--pl-4 --o--pr-4">
                <div class="col-lg-4">
                    <div class="card --o--transition --o--mb-3 --o--os-animation --o--os-animation text-center card-hero" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <img src="assets/images/icon-01-100x100.png" alt="icon" class="award-icon --o--mb-3 --o--mt-0">
                            <h4>Houston Awards</h4>
                            <p class="--o--mb-0">2nd place award for best b&amp;w photo shooting.</p>
                        </div>            
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card --o--transition --o--mb-3 --o--os-animation --o--os-animation text-center card-hero" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <img src="assets/images/icon-02-100x100.png" alt="icon" class="award-icon --o--mb-3 --o--mt-0">
                            <h4>Portraits</h4>
                            <p class="--o--mb-0">4th place award for best all around portrait.</p>
                        </div>            
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card --o--transition --o--mb-3 --o--os-animation --o--os-animation text-center card-hero" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="card-body">
                            <img src="assets/images/icon-03-100x100.png" alt="icon" class="award-icon --o--mb-3 --o--mt-0">
                            <h4>New York ns</h4>
                            <p class="--o--mb-0">1st place for best use of negative space in photos.</p>
                        </div>            
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <div class="card --o--transition --o--mb-3 --o--os-animation --o--os-animation text-center card-hero" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <img src="assets/images/icon-04-100x100.png" alt="icon" class="award-icon --o--mb-3 --o--mt-0">
                            <h4>Langan awards</h4>
                            <p class="--o--mb-0">3rd place award for best monochrome photography.</p>
                        </div>            
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card --o--transition --o--mb-3 --o--os-animation --o--os-animation text-center card-hero" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <img src="assets/images/icon-05-100x100.png" alt="icon" class="award-icon --o--mb-3 --o--mt-0">
                            <h4>Proistak mag</h4>
                            <p class="--o--mb-0">2nd place award for best nude model shooting.</p>
                        </div>            
                    </div>
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <div class="card --o--transition --o--mb-3 --o--os-animation --o--os-animation text-center card-hero" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <img src="assets/images/icon-06-100x100.png" alt="icon" class="award-icon --o--mb-3 --o--mt-0">
                            <h4>Fashion mag</h4>
                            <p class="--o--mb-0">2nd place award for best b&w photo shooting.</p>
                        </div>            
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div>

 
{% endblock %}
