{% set active_page = 'contact.html' -%}

{% extends "layouts/default.html" %}
{% block extrajs %}
    <script type="text/javascript" src="assets/js/contact.min.js"></script>
{% endblock %}

{% block content %}
<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-100 section-bg-image-size-md-100 section-bg-image-size-lg-100 section-bg-image-position-top section-bg-image-paralax verso-opacity-10 --o--demo-bg-image-03"></div>
    </div>
    <div class="section-content">
        <div class="container-fluid">
            <div class="row --o--pt-20 --o--pb-20 --o--pt-md-25 --o--pl-4 --o--pr-4">
                <div class="col-12 --o--text-normal">
                    <h1 class="text-uppercase display-3 --o--font-weight-600 d-inline-block --o---float-header --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        Contact Me <small>*</small> 
                    </h1>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="--o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">If you want to work together don’t hesitate to contact me. Currently I operate in Europe but if you have a good idea, distance won’t keep me apart.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row --o--pl-4 --o--pr-4">
                <div class="col-lg-6">
                    <form action="contact_mailer.php" class="contact-form --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="name" name="name" class="form-control --o--transition --o--mb-2" placeholder="Name">
                            </div>
                            <div class="col-md-12">
                                <input type="email" id="email" name="email" class="form-control --o--transition --o--mb-2" placeholder="Your Email">
                            </div>
                            <div class="col-md-12">
                                <textarea id="message" name="message" rows="8" class="form-control --o--transition --o--mb-2" placeholder="Your Message"></textarea>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </div>

                        </div>
                        <div class="--o--messages --o--pt-2"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
