<div class="--o--widget widget_categories">
    <h4 class="--o--widget-header text-uppercase">Categories</h4>
    <ul>
        <li>
            <a href="blog.html">
                Winter Travel (3)
            </a>
        </li>
        <li>
            <a href="blog.html">
                Travel Tales (2)
            </a>
        </li>
        <li>
            <a href="blog.html">
                City maps (1)
            </a>
        </li>
        <li>
            <a href="blog.html">
                Europe's Towns (3)
            </a>
        </li>
        <li>
            <a href="blog.html">
                Exploration (9)
            </a>
        </li>
    </ul>
</div>
