{% set active_page = 'about.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-20 --o--pb-9">
                <div class="col-md-12">

                    <div class="card card-horizontal  --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-6 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="row">
                            <div class="col-md-6">
                                <img class="card-img" src="assets/images/magazine-pastry-about-01-500x420-notinclude.jpg" alt="Card image">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h1 class="h3 card-title text-uppercase --o--mb-1">
                                        About Us
                                    </h1>
                                    <p class="card-text lead">We love sweet roll gummies oat cake sesame snaps tiramisu chocolate cake. Gummi bears toffee icing gummies macaroon pie. Pie pie pastry chocolate cake halvah tootsie roll. Lollipop chocolate bar apple pie wafer jelly beans I love cake. </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h2 class="h4 text-uppercase --o--text-light --o--transition --o--mb-3 --o--os-animation text-shadow" data-os-animation="fadeIn" data-os-animation-delay=".3s">Meet the team</h2>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-img-container">
                            <img class="card-img d-block img-fluid" src="assets/images/magazine-pastry-team-06-500x500-notinclude.jpg" alt="Card image">
                        </div>
                        <div class="card-body">
                            <h3 class="h5 card-title text-uppercase --o--mb-1">
                                <a href="author.html">Jessie Jones</a>
                            </h3>
                            <p class="text-muted font-italic">Cake ice cream sesame snaps cake ice cream I love pastry.</p>
                            <div class="--o--icon-set">
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="card-img-container">
                            <img class="card-img d-block img-fluid" src="assets/images/magazine-pastry-team-01-500x500-notinclude.jpg" alt="Card image">
                        </div>
                        <div class="card-body">
                            <h3 class="h5 card-title text-uppercase --o--mb-1">
                                <a href="author.html">Amelia Doe</a>
                            </h3>
                            <p class="text-muted font-italic">Danish tootsie roll croissant topping lemon drops tiramisu.</p>
                            <div class="--o--icon-set">
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-img-container">
                            <img class="card-img d-block img-fluid" src="assets/images/magazine-pastry-team-02-500x500-notinclude.jpg" alt="Card image">
                        </div>
                        <div class="card-body">
                            <h3 class="h5 card-title text-uppercase --o--mb-1">
                                <a href="author.html">Alice Ross</a>
                            </h3>
                            <p class="text-muted font-italic">Chocolate bar lollipop cake dessert tart I love.</p>
                            <div class="--o--icon-set">
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="card-img-container">
                            <img class="card-img d-block img-fluid" src="assets/images/magazine-pastry-team-03-500x500-notinclude.jpg" alt="Card image">
                        </div>
                        <div class="card-body">
                            <h3 class="h5 card-title text-uppercase --o--mb-1">
                                <a href="author.html">Bella Cake</a>
                            </h3>
                            <p class="text-muted font-italic">Brownie danish cupcake. Lollipop gummies fruitcake oat cake.</p>
                            <div class="--o--icon-set">
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="--o--icon-set-item --o--transition" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-img-container">
                                    <img class="card-img d-block img-fluid" src="assets/images/magazine-pastry-team-04-500x500-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-body">
                                    <h3 class="h5 card-title text-uppercase --o--mb-1">
                                        <a href="author.html">Christie Chris</a>
                                    </h3>
                                    <p class="text-muted font-italic">Oat cake biscuit pudding chocolate cake sweet. Gummi bears toffee toffee.</p>
                                    <div class="--o--icon-set">
                                        <a class="--o--icon-set-item --o--transition" href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a class="--o--icon-set-item --o--transition" href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a class="--o--icon-set-item --o--transition" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a class="--o--icon-set-item --o--transition" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-12">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                                <div class="card-img-container">
                                    <img class="card-img d-block img-fluid" src="assets/images/magazine-pastry-team-05-500x500-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-body">
                                    <h3 class="h5 card-title text-uppercase --o--mb-1">
                                        <a href="author.html">Alex Jensen</a>
                                    </h3>
                                    <p class="text-muted font-italic">Cupcake tiramisu lollipop jelly toffee I love jelly cotton candy. Caramels lemon drops sweet dessert.</p>
                                    <div class="--o--icon-set">
                                        <a class="--o--icon-set-item --o--transition" href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <a class="--o--icon-set-item --o--transition" href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                        <a class="--o--icon-set-item --o--transition" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                        <a class="--o--icon-set-item --o--transition" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-hero --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-6 --o--os-animation --o--demo-bg-image-01" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                        <div class="card-body">
                            <h3 class="card-title text-uppercase"><a href="categories-1.html">Don't miss our latest recipe book for just $23.99.</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

