{% set active_page = 'blog.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-20 --o--pb-9">
                <div class="col-md-8 --o--mb-9 --o--mb-md-0">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-6 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">

                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/magazine-pastry-author-800x500-notinclude.jpg" alt="Card image">
                        </div>

                        <div class="card-body">
                            <h1 class="h3 text-uppercase card-title --o--mb-1">
                                <a href="single.html">Sue Langan</a>
                            </h1>
                            <p class="card-subtitle font-italic text-muted --o--mb-3">By <a href="author.html">Christos</a> in <a href="blog.html">cake recipes</a> on January 2017</p>
                            <p>Brownie danish cupcake. Lollipop gummies fruitcake oat cake. Biscuit marshmallow bonbon. Cookie candy canes liquorice bonbon jujubes lollipop ice cream. Wafer cheesecake donut sesame snaps. Sesame snaps marzipan marzipan chupa chups sugar plum I love jelly-o. Gingerbread chocolate biscuit. Pudding tart danish brownie croissant I love. Marzipan sugar plum pie fruitcake chocolate I love cake cookie sugar plum. Jelly beans ice cream cake tiramisu chocolate bar bonbon fruitcake gingerbread carrot cake. Cupcake chocolate bar wafer I love apple pie. Jelly apple pie ice cream. Bonbon macaroon gummi bears bear claw.</p>

                            <p>Jelly-o sugar plum fruitcake jelly carrot cake gummies. I love jelly cookie. Halvah I love dragée tiramisu topping jelly I love sugar plum. Bear claw ice cream chocolate bar I love pie candy croissant. I love bonbon I love I love apple pie soufflé icing macaroon sweet. Topping lemon drops bonbon I love cake danish jelly danish. Chupa chups chocolate sesame snaps topping. Brownie gummies gingerbread liquorice carrot cake donut sweet roll. Tart I love I love tiramisu. Halvah pie topping cupcake macaroon lemon drops sesame snaps fruitcake fruitcake. I love danish cookie sweet roll cake gummies cotton candy. Cotton candy cotton candy sweet jelly beans topping I love dessert cookie caramels.</p>
                        </div>

                        <div class="card-footer clearfix">
                            <div class="--o--icon-set --o--icon-set-expandable --o--transition float-right">
                                <a class="--o--icon-set-item --o--icon-set-item-trigger text-muted" href="1">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                                <a class="--o--icon-set-item --o--icon-set-item-close --o--transition" href="2">
                                    <i class="fa fa-close"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <h4 class="h4 text-uppercase --o--mb-3 --o--text-light --o--transition --o--mb-3 --o--os-animation text-shadow" data-os-animation="fadeIn" data-os-animation-delay=".3s">Related posts</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/magazine-pastry-recent-post-04-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Twisted Corner Tartlets </a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">cake recipes</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/magazine-pastry-recent-post-03-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Spice Cake with Lemon Sauce</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">cake recipes</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/magazine-pastry-recent-post-02-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Homemade pancakes </a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">cake recipes</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/magazine-pastry-recent-post-01-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Big, Soft, Ginger Cookie!</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">cake recipes</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 sidebar --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                    {% include "partials/sidebar.html" %}
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

