{% set active_page = 'blog.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-20 --o--pb-9">
                <div class="col-md-8 --o--mb-9 --o--mb-md-0">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">

                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/magazine-pastry-singlepost-800x400-notinclude.jpg" alt="Card image">
                        </div>

                        <div class="card-body">
                            <h1 class="h3 text-uppercase card-title --o--mb-1">
                                <a href="single.html">Big, Soft, Ginger Cookie!</a>
                            </h1>
                            <p class="card-subtitle font-italic text-muted --o--mb-3">By <a href="author.html">Christos</a> in <a href="blog.html">Cakes & Sweets</a> on January 2017</p>
                            <p>Jelly-o sugar plum fruitcake jelly carrot cake gummies. I love jelly cookie. Halvah I love dragée tiramisu topping jelly I love sugar plum. Bear claw ice cream chocolate bar I love pie candy croissant. I love bonbon I love I love apple pie soufflé icing macaroon sweet. Topping lemon drops bonbon I love cake danish jelly danish. Chupa chups chocolate sesame snaps topping. Brownie gummies gingerbread liquorice carrot cake donut sweet roll. Tart I love I love tiramisu. Halvah pie topping cupcake macaroon lemon drops sesame snaps fruitcake fruitcake. I love danish cookie sweet roll cake gummies cotton candy. Cotton candy cotton candy sweet jelly beans topping I love dessert cookie caramels.</p>

                            <p>Marzipan soufflé topping. Tiramisu marshmallow I love sweet toffee apple pie sweet roll topping. Cake ice cream sesame snaps cake ice cream I love pastry. Danish tootsie roll croissant topping lemon drops tiramisu. I love gummi bears cookie candy canes ice cream halvah toffee pudding. Tootsie roll fruitcake cake sweet pie jelly I love wafer. I love wafer lemon drops. Jelly beans I love halvah halvah I love I love oat cake lemon drops pudding. Pie donut chupa chups sweet roll bear claw pie I love. Chocolate cake bear claw jelly beans bonbon fruitcake. Jelly-o I love sugar plum pastry gummi bears gummies. Danish cake bonbon sweet roll jelly beans caramels.</p>

                            <p>Sweet roll gummies oat cake sesame snaps tiramisu chocolate cake. Gummi bears toffee icing gummies macaroon pie. Pie pie pastry chocolate cake halvah tootsie roll. Lollipop chocolate bar apple pie wafer jelly beans I love cake. Chocolate bar lollipop cake dessert tart I love. Jelly beans jujubes jujubes. I love I love bear claw dragée bonbon halvah. Danish donut pudding cotton candy topping caramels. Toffee chupa chups liquorice I love I love. Macaroon chocolate cake gingerbread. Lemon drops fruitcake I love tootsie roll donut I love. Cheesecake oat cake I love. Jelly apple pie sweet lollipop.</p>
                        </div>

                        <div class="card-footer clearfix">
                            <small class="text-muted">
                                <i class="fa fa-tags text-muted"></i>
                                <a href="#" class="text-muted">cake</a>,
                                <a href="#" class="text-muted">breakfast</a>,
                                <a href="#" class="text-muted">sweet</a>
                            </small>
                            <div class="--o--icon-set --o--icon-set-expandable --o--transition float-right">
                                <a class="--o--icon-set-item --o--icon-set-item-trigger text-muted" href="1">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                                <a class="--o--icon-set-item --o--icon-set-item-close --o--transition" href="2">
                                    <i class="fa fa-close"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="--o--mb-7">
                        <a href="#" class="btn btn-primary --o--shadow-4 --o--shadow-hover-8 --o--transition --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s"> ← previous post </a>
                        <a href="#" class="btn btn-primary float-right --o--shadow-4 --o--shadow-hover-8 --o--transition --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s"> next post →</a>
                    </div>

                    <div class="card card-horizontal --o--shadow-15 --o--shadow-hover-20 --o--mb-7 --o--transition --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/magazine-pastry-author-250x250-notinclude.jpg" alt="Card image">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h2 class="h5 text-uppercase card-title --o--mb-3">
                                        <a href="author.html">Jess Doe</a>
                                    </h2>
                                    <p>Sweet roll gummies oat cake sesame snaps tiramisu chocolate cake. Gummi bears toffee icing gummies macaroon pie. Pie pie pastry chocolate cake halvah tootsie roll. Lollipop chocolate bar apple pie wafer jelly beans I love cake.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="h4 text-uppercase --o--mb-3 --o--text-light --o--transition --o--mb-3 --o--os-animation text-shadow" data-os-animation="fadeIn" data-os-animation-delay=".3s">Related posts</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/magazine-pastry-categories-02-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Homemade pancakes</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">Cakes & donuts</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/magazine-pastry-categories-01-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Big, Soft, Ginger Cookie!</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">Cakes & donuts</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4 class="h4 text-uppercase --o--mb-3 --o--text-light --o--transition --o--mt-7 --o--mb-3 --o--os-animation text-shadow" data-os-animation="fadeIn" data-os-animation-delay=".3s">4 comments</h4>

                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-7 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">

                        <div class="card-body media-list">
                            <div class="media">
                                <img class="d-flex --o--mr-1 --o--mr-md-3 rounded-circle" src="assets/images/magazine-pastry-comment-author-01-70x70-notinclude.jpg" alt="comments author">
                                <div class="media-body">
                                    <h5 class="media-heading --o--mb-1 font-italic">Peter Chur Chlington - <small class="text-muted">June 11th, 2001 <a href="#" class="float-right">reply</a></small></h5>
                                    <p>Chocolate cake bear claw jelly beans bonbon fruitcake. Jelly-o I love sugar plum pastry gummi bears gummies.</p>
                                </div>
                            </div>
                            <div class="media --o--mt-5">
                                <img class="d-flex --o--mr-1 --o--mr-md-3 rounded-circle" src="assets/images/magazine-pastry-comment-author-02-70x70-notinclude.jpg" alt="comments author">
                                <div class="media-body">
                                    <h5 class="media-heading --o--mb-1 font-italic">Don Johnson - <small class="text-muted">June 11th, 2001 <a href="#" class="float-right">reply</a></small></h5>
                                    <p>Chocolate bar lollipop cake dessert tart I love. Jelly beans jujubes jujubes. I love I love bear claw dragée bonbon halvah.</p>
                                    <!-- Nested media object -->
                                    <div class="media --o--mt-5">
                                        <img class="d-flex --o--mr-1 --o--mr-md-3 rounded-circle" src="assets/images/magazine-pastry-comment-author-01-70x70-notinclude.jpg" alt="comments author">
                                        <div class="media-body">
                                            <h5 class="media-heading --o--mb-1 font-italic">Peter Chur Chlington - <small class="text-muted">June 11th, 2001 <a href="#" class="float-right">reply</a></small></h5>
                                            Jelly beans I love halvah halvah I love I love oat cake lemon drops pudding. Pie donut chupa chups sweet roll bear claw pie I love.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="media --o--mt-5">
                                <img class="d-flex --o--mr-1 --o--mr-md-3 rounded-circle" src="assets/images/magazine-pastry-comment-author-01-70x70-notinclude.jpg" alt="comments author">
                                <div class="media-body">
                                    <h5 class="media-heading --o--mb-1 font-italic">Peter Chur Chlington - <small class="text-muted">June 11th, 2001 <a href="#" class="float-right">reply</a></small></h5>
                                    <p>Brownie gummies gingerbread liquorice carrot cake donut sweet roll. Tart I love I love tiramisu. Halvah pie topping cupcake macaroon lemon drops sesame snaps fruitcake fruitcake.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="h4 text-uppercase --o--mb-3 --o--text-light --o--transition --o--os-animation text-shadow" data-os-animation="fadeIn" data-os-animation-delay=".3s">Leave a reply</h4>

                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <form>
                                <div class="form-group row --o--mb-3">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control --o--shadow-2 --o--shadow-focus-4 --o--transition " id="lgFormGroupInput" placeholder="Your Name">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="form-control --o--shadow-2 --o--shadow-focus-4 --o--transition " id="smFormGroupInput" placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="form-group row --o--mb-3">
                                    <div class="col-md-12">
                                        <textarea rows="8" class="form-control --o--shadow-2 --o--shadow-focus-4 --o--transition " id="smFormGroupArea" placeholder="Your Comment"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row ">
                                    <div class="col-md-12">
                                        <input type="submit" value="Post Comment" class="btn btn-primary --o--shadow-2 --o--shadow-focus-4 --o--transition ">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="col-md-4 sidebar --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                    {% include "partials/sidebar.html" %}
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}

