// Basic Colors
$body-bg: #263238;
$body-color: #7e949f;

$o-primary:                 #263238;
$o-secondary:               #7E949F;
$o-info:                    #009999;
$o-success:                 rgba(0,153,153,0.8);
$o-warning:                 #cc6633;
$o-danger:                  #a91628;
$o-light:                  #7E949F;
$o-dark:                  #a91628;

// Basic Type
$font-family-base:  'Quattrocento';
$font-size-base: 14px;
$font-weight-base: 400;
$line-height-base: 1.7;

// Headings Type
$headings-font-family: 'Oswald';
$headings-color: #263238;
$headings-font-weight: 700;
$o-headings-style: normal;
$o-headings-text-transform: uppercase;
$headings-margin-bottom: 24px;
$headings-line-height:   1.2;

$h1-font-size: 48px;
$h2-font-size: 36px;
$h3-font-size: 24px;
$h4-font-size: 18px;
$h5-font-size: 16px;
$h6-font-size: 14px;

$display1-size: 96px;
$display2-size: 60px;
$display3-size: 48px;
$display4-size: 36px;

$font-size-lg:   21px;
$font-size-sm:   16px;
$font-size-xs:   14px;

// links
$link-color: #263238;
$link-decoration: none;
$link-hover-color: #1E272C;
$link-hover-decoration: none;

// Muted text
$text-muted: #C0CBD0;

// Navigation
$o-nav-height: 90px;
$o-nav-height-scrolled: 75px;
$o-nav-bg: rgba(255,255,255,.95);
$o-nav-font-family: 'Oswald';
$o-nav-font-weight: 400;
$o-nav-text-tranform: uppercase;
$o-nav-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 4px 5px 0 rgba(0,0,0,.05),0 1px 10px 0 rgba(0,0,0,.1);

$o-nav-link-font-size: 14px;
$o-nav-link-color: #263238;
$o-nav-link-hover-color: #7E949F;
$o-nav-link-hover-bg: transparent;
$o-nav-link-active-color: #7E949F;
$o-nav-link-active-bg: transparent;
$o-nav-link-padding-y: 20px; // For menu items before collapsing only
$o-nav-link-padding-x: 30px; // For menu items after collapsing only
$o-nav-link-max-size: 130px; // For menu style with the logo in center and menu left and right
$o-nav-link-border-width: 3px;
$o-nav-link-border-color: #7E949F;

$o-nav-brand-color: #263238;
$o-nav-brand-font-size: 24px;
$o-nav-link-brand-height: 100px; // For menu layouts with the logo above only
$o-nav-link-brand-width: 200px;  // Brand width for float style only
$o-nav-brand-padding-y: 15px; // Brand vertical padding

// Navigation Dropdowns
$o-nav-dropdown-bg: rgba(255,255,255,.8);
$o-nav-dropdown-font-size: 13px;
$o-nav-dropdown-link-color: #263238;
$o-nav-dropdown-link-hover-color: #7E949F;
$o-nav-dropdown-link-hover-bg: rgba(255, 255, 255, .4);
$o-nav-dropdown-link-active-color: #555E5B;
$o-nav-dropdown-link-active-bg: rgba(255, 255, 255, .2);
$o-nav-dropdown-link-padding-y: 12px;
$o-nav-dropdown-link-padding-x: 20px;
$o-nav-dropdown-width: 250px;
$o-nav-dropdown-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.04), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);

// Float header
$o-header-float-y: 20px; // Top margin for float nav only

// Transparent Header
$o-header-transparent-bg: rgba(255, 255, 255, .02);
$o-header-transparent-link-color: #C0CBD0;
$o-header-transparent-link-hover-color: #F7FFFF;
$o-header-transparent-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.02), 0 4px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.01);

// Transparent Top bar
$o-topbar-transparent-bg: rgba(0, 0, 0, .05);
$o-topbar-transparent-color: #7E949F;

// Navigation Collapse point
$o-nav-collapse-breakpoint: 1200px;

// Top bar
$o-topbar-height: 36px;
$o-topbar-bg: #fdfdfd;
$o-topbar-font-size: 13px;
$o-topbar-color: #7E949F;
$o-topbar-hover-color: #263238;
$o-topbar-shadow: 0 -2px 4px -1px rgba(0,0,0,.3) inset;

// Blockquotes
$o-blockquote-font-family: 'Quattrocento';
$blockquote-font-size:    24px;
$o-blockquote-font-weight: 400;
$o-blockquote-style:  normal;
$o-blockquote-line-height: 1.66666;
$o-blockquote-font-size-lg: 36px;

$blockquote-small-color:  #263238;
$o-blockquote-small-size: 14px;
$o-blockquote-small-style: normal;

// Lead text
$lead-font-size:   18px;
$lead-font-weight: 300;
$o-lead-line-height: 40px;

// Light colored elements
$o-light-color: #fafafa;
$o-light-headings-color: #fafafa;
$o-light-link-color: #fafafa;
$o-light-link-hover-color: #fafafa;
$o-light-text-muted: #9aafba;
$o-light-border-color: #fafafa;

// Global Border radius
$border-radius: 0px;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Buttons
$input-btn-padding-x: 36px;
$input-btn-padding-y: 10px;
$input-btn-line-height: 1.25;
$btn-font-weight: 700;
$o-input-btn-font-size: 13px;
$o-input-btn-style: uppercase;
$o-input-btn-border-width: 0px;

$btn-link-disabled-color:        #979da3;

$input-btn-padding-x-sm:               30px;
$input-btn-padding-y-sm:               5px;

$input-btn-padding-x-lg:               40px;
$input-btn-padding-y-lg:               13px;

$btn-border-radius: 18px;
$btn-border-radius-lg:           21px;
$btn-border-radius-sm:           0;

// Forms
$input-padding-x:                14px;
$input-padding-y:                10px;

$input-bg:                       #C0CBD0;
$input-disabled-bg:              #F7FFFF;

$input-color:                    #7E949F;
$input-border-color:             #7E949F;
$input-btn-border-width:         3px;

$input-border-radius:            0;
$input-border-radius-lg:         0;
$input-border-radius-sm:         0;

$input-focus-bg:                 #C0CBD0;
$input-focus-border-color:             #263238;
$input-focus-color:              #263238;

$input-placeholder-color:        #7E949F;

// Footer
$o-footer-bg: #263238;
$o-footer-color: #7E949F;
$o-footer-font-size: 14px;
$o-footer-link-color: #F7FFFF;
$o-footer-link-hover-color: #C0CBD0;
$o-footer-headings-color: #F7FFFF;
$o-footer-border-color: rgba(255, 255, 255, 0.1);
$o-footer-muted-color: #7E949F;
$o-footer-primary-color:  #555E5B;
$o-footer-primary-bg: #A9C7C7;

// Subfooter
$o-subfooter-bg: #1E272C;
$o-subfooter-color: #7E949F;
$o-subfooter-font-size: 14px;
$o-subfooter-link-color: #F7FFFF;
$o-subfooter-link-hover-color: #C0CBD0;
$o-subfooter-muted-color: #ffffff;

// Sidebar Widgets
$o-widget-padding-x: 30px;
$o-widget-padding-y: 30px;
$o-widget-bottom-margin: 30px;
$o-widget-bg: rgba(255, 255, 255, 1);
$o-widget-border-color: #f0f0f0;

// Rule & border Colors
$hr-border-color: #7DB4B1;

// Bordered Header width
$o-heading-border-width: 3px;

// Cards
$card-spacer-x:            30px;
$card-spacer-y:            30px;
$o-card-cap-spacer-y:      10px; // footer horizontal padding
$card-border-width:        0px;
$card-border-radius:       0;
$card-border-color:        rgba(255, 255, 255, 1);
$card-bg:                  rgba(255, 255, 255, 1);
$card-img-overlay-padding: 20px;

$card-cap-bg:              #f7f7f7;
$o-card-inverse-bg:        #485b64;

$o-card-hero-spacer-x:     67px;
$o-card-hero-spacer-y:     67px;

$o-card-overlay-bg:       rgba(0,0,0,0.65);

// List Groups
$list-group-item-padding-y: 20px;
$list-group-item-padding-x: 30px;
$list-group-border-width: 1px;

$list-group-bg: rgba(255, 255, 255, .8);
$list-group-border-color: #f0f0f0;
$list-group-hover-bg: #f7f7f7;

// Counters
$o-counter-width:         150px;

// Progress Bars
$progress-bg:                 #C0CBD0;
$progress-bar-bg:             #263238;
$progress-bar-color:          #263238;
$progress-height:        8px;

// Breadcrumbs
$breadcrumb-padding-y:          30px;
$breadcrumb-padding-x:          30px;
$breadcrumb-item-padding:       10px;

$breadcrumb-bg:                 #f7f7f7;
$breadcrumb-divider-color:      #979da3;
$breadcrumb-active-color:       #979da3;
$breadcrumb-divider:            "/";

// Pagination
$pagination-padding-x:                16px;
$pagination-padding-y:                11px;
$pagination-padding-x-sm:             14px;
$pagination-padding-y-sm:             3px;
$pagination-padding-x-lg:             20px;
$pagination-padding-y-lg:             8px;

$pagination-color:                     #333;
$pagination-bg:                        #fff;
$pagination-border-width:              1px;
$pagination-border-color:              #ddd;

$pagination-hover-color:               #F7FFFF;
$pagination-hover-bg:                  #263238;
$pagination-hover-border-color:        #263238;

$pagination-active-color:              #F7FFFF;
$pagination-active-bg:                 #263238;
$pagination-active-border-color:             #263238;

$pagination-disabled-color:            #333;
$pagination-disabled-bg:               #fff;
$pagination-disabled-border-color:     #ddd;

// Popovers
$popover-bg:                          #061a40;
$popover-body-color:                  #fafafa;
$popover-border-color:                #061a40;
$popover-header-bg:                    #061a40;

// Tooltips
$tooltip-color:               #fafafa;
$tooltip-bg:                  #061a40;
$tooltip-padding-y:           6px;
$tooltip-padding-x:           20px;

// Modals
$modal-inner-padding:         30px;

$modal-content-bg:               #fafafa;
$modal-content-border-color:     rgba(0,0,0,.2);
$modal-content-border-width:     1px;
$modal-backdrop-bg:           rgba(6, 26, 64, .8);
$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    300px;

// Tables
$table-cell-padding:            20px;
$table-cell-padding-sm:         10;

$table-bg:                      #fdfdfd;
$o-table-header-bg: #d0d0d0;
$o-table-body-bg: rgba(255, 255, 255, .8);
$table-accent-bg:               rgba(222, 222, 222, 0.6);
$table-hover-bg:                rgba(222, 222, 222, 0.4);
$table-active-bg:               red;
$table-border-width:            1px;
$table-border-color:            rgba(0,0,0,.025);

// Nav
$nav-tabs-border-color:                       #dbdad7;
$nav-tabs-border-width:                       1px;
$nav-tabs-border-radius:                      0;
$nav-tabs-link-hover-border-color:            transparent;
$nav-tabs-link-active-color:            #061a40;
$nav-tabs-link-active-bg:               #ffffff;
$nav-tabs-link-active-border-color:     #dbdad7;

// Section Background titles
$o-section-bg-color: rgba(150,150,150, .05);
$o-section-bg-size: 220px;
$o-section-bg-offset: 0px;

// Carousel indicators/text color
$carousel-control-color:                      #263238;
$carousel-caption-color:                      #ffffff;

// Magnific - Full Screen Search
$o-magnific-overlay-color:                   rgba(38, 50, 56,.9);
$o-magnific-controls-color:                  #C0CBD0;

// Loader
$o-loader-bg: rgba(38, 50, 56,0.98);
$o-loader-color: #E2EAE9;
$o-loader-image: url("../images/logo.png");

// Box layout settings
$o-box-layout-width: 100%;  // When not defined it should be 100%
$o-box-layout-top-offest: 0px;
$o-box-layout-shadow: none;
$o-box-layout-bg: #f5f5f4;

// Go to top button
$o-go-top-bg: rgba(38, 50, 56,0.9);
$o-go-top-color: #E2EAE9;
$o-go-top-radius: 0%;

// Transition Speed
$o-transition-speed: 0.3s;

// Paralax Speed
$parallax-space: 20%;
