{% set active_page = 'contact.html' -%}

{% extends "layouts/default.html" %}
{% block extrajs %}
    <script type="text/javascript">
        var map = {
            map_type: 'ROADMAP',
            auto_zoom: 'manual',                                        // set to 'manual' to set the zoom manually. Leave empty for auto zoom
            map_zoom: 7,                                                // set the zoom if auto_zoom is set to
            map_scrollable: 'on',                                       // makes the map draggable
            map_style: '',                                    // if set to blackwhite it takes a black/white saturation
            addresses: ['London', 'Paris'],                             // addresses separated by comma. Addresses are picked up first
            latlngs : ['51.511084, -0.133202', '51.506623, -0.111916'], // Lat/Lng separated by comma. if no addresses are set these coordinates will get used
            labels: ['London', 'Paris'],                                // labels that will be added to the markeres respectively. Keep the same number as markers
            auto_center: 'auto',                                        // center the map 'auto' or 'custom'
            center_latlng: '',                                          // centers the map to this point, unless it is set to auto
            show_markers: 'on',                                         // shows/Hides the markers
            markerURL: 'assets/images/marker.png'                       // the marker URL
        };
    </script>
    <script type="text/javascript" src="assets/js/contact.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA53lVLoFr_BgRcgzx80ThvLm4vBJLp3x0"></script>
{% endblock %}

{% block content %}

<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-12"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-25 --o--pb-15">
                <div class="col-lg-6">
                    <h1 class="--o--line-height-small --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        Feel free to contact us for any <span class="color-purlpe">quote</span>
                    </h1>
                </div>
            </div>

            <div class="row --o--pb-15">
                <div class="col-lg-3 --o--order-1 --o--order-lg-3 ">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation card-inverse  --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <h2 class="h3 card-title --o--mb-3">Our Offices</h2>
                            <p class="card-text">Gain traction. Take five, punch the tree, and come back in here with a clear head we don't want to boil the ocean one-sheet.</p>
                            <p class="card-text">Bring to the table win-win survival strategies to ensure proactive domination. That's what we do.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 --o--order-2 --o--order-lg-1 ml-auto">
                    <div class="card card-hero --o--shadow-8 --o--shadow-hover-16 --o--transition --o--os-animation --o--mb-3 text-center --o--mt-lg-7" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="google-map --o--photo-filter-hue-rotate-2" id="map" style="height:500px"></div>
                        <div class="pt-1 --o--demo-bg-gradiend-01"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-content">
        <div class="container">
            <div class="row  --o--pb-15">
                <div class="col-lg-3">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation card-inverse --o--mb-3 --o--demo-bg-purple" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <h2 class="h3 card-title --o--mb-3">Contact us</h2>
                            <p class="card-text">Gain traction. Take five, punch the tree, and come back in here with a clear head we don't want to boil the ocean one-sheet, but value prop so out of the loop.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card-hero --o--shadow-8 --o--shadow-hover-16 --o--transition --o--os-animation  --o--pb-2  text-center --o--demo-bg-gradiend-03 --o--mt-lg-7" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                        <div class="card-body">
                            <form action="contact_mailer.php" class="contact-form">
                                <input type="text" id="name" name="name" class="form-control --o--shadow-0 --o--shadow-focus-2 --o--transition --o--mb-3" placeholder="Name">
                                <input type="email" id="email" name="email" class="form-control --o--shadow-0 --o--shadow-focus-2 --o--transition --o--mb-3" placeholder="Your Email">
                                <textarea id="message" name="message" rows="8" class="form-control --o--shadow-0 --o--shadow-focus-2 --o--transition --o--mb-3" placeholder="Your Comment"></textarea>
                                <div class="form-check --o--mb-3">
                                    <label class="form-check-label">
                                        <input class="form-check-input" id="sign" name="sign" type="checkbox" value="sign"> Sign me up to the newsletter
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary --o--shadow-2">Send</button>
                                <div class="--o--messages --o--pt-2"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
