{% set active_page = 'portfolio.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-10"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-25 --o--pb-15">
                <div class="col-lg-6">
                    <h1 class="--o--line-height-small --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        We leave our work to speak for our <span class="color-purlpe">capabilities</span>
                    </h1>
                    <p class="--o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">Success is no accident. It is hard work, perseverance, learning, studying, sacrifice
                    and most of all, love of what you are doing or learning to do.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">

    <div class="section-content">
        <div class="container">
            <div class="row align-items-end ">
                <div class="col-lg-3 --o--order-1 --o--order-lg-3 ">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation card-inverse --o--mb-3 " data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <h2 class="h3 card-title --o--mb-3">Our Portfolio</h2>
                            <p class="card-text">Gain traction. Take five, punch the tree, and come back in here with a clear head we don't want to boil the ocean one-sheet.</p>
                            <p class="card-text">Bring to the table win-win survival strategies to ensure proactive domination. That's what we do.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 --o--order-2 --o--order-lg-1 ml-auto">
                    <div class="card --o--shadow-8 --o--shadow-hover-16 --o--transition --o--os-animation --o--mb-3 text-center --o--mt-lg-7" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/creative-agency-portfolio-06-800x500-notinclude.jpg" alt="Card image">
                        </div>
                        <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                            <h3 class="h4 card-title --o--transition">
                                <a href="project.html">Blossom Inc</a>
                            </h3>
                            <p class="card-subtitle --o--transition">Web Identity</p>
                        </div>
                        <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-right --o--demo-bg-purple">
                            <h5 class="card-title --o--transition text-uppercase">
                                <a href="project.html">Featured</a>
                            </h5>
                        </div>
                        <div class="pt-1 --o--demo-bg-gradiend-01"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 ml-auto --o--pb-15">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                            <div class="card-img-container">
                                <img class="card-img" src="assets/images/creative-agency-portfolio-01-600x600-notinclude.jpg" alt="Card image">
                            </div>
                            <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                                <h3 class="h5 card-title --o--transition">
                                    <a href="project.html">Fursbuds</a>
                                </h3>
                                <p class="card-subtitle --o--transition">Web page redesign</p>
                            </div>
                        </div>
                        <div class="card --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                            <div class="card-img-container">
                                <img class="card-img" src="assets/images/creative-agency-portfolio-03-600x400-notinclude.jpg" alt="Card image">
                            </div>
                            <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                                <h3 class="h5 card-title --o--transition">
                                    <a href="project.html">Preston Vista</a>
                                </h3>
                                <p class="card-subtitle --o--transition">Brand Identity</p>
                            </div>
                        </div>
                        <div class="card --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                            <div class="card-img-container">
                                <img class="card-img" src="assets/images/creative-agency-portfolio-08-600x350-notinclude.jpg" alt="Card image">
                            </div>
                            <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                                <h3 class="h5 card-title --o--transition">
                                    <a href="project.html">Mckenzie Co</a>
                                </h3>
                                <p class="card-subtitle --o--transition">Web design</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                            <div class="card-img-container">
                                <img class="card-img" src="assets/images/creative-agency-portfolio-09-600x800-notinclude.jpg" alt="Card image">
                            </div>
                            <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                                <h3 class="h5 card-title --o--transition">
                                    <a href="project.html">Norris Delivery </a>
                                </h3>
                                <p class="card-subtitle --o--transition">Web Design</p>
                            </div>
                        </div>
                        <div class="card --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                            <div class="card-img-container">
                                <img class="card-img" src="assets/images/creative-agency-portfolio-07-600x600-notinclude.jpg" alt="Card image">
                            </div>
                            <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                                <h3 class="h5 card-title --o--transition">
                                    <a href="project.html">Irwin Oil</a>
                                </h3>
                                <p class="card-subtitle --o--transition">Brand design</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
