{% set active_page = 'events-list.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
    <div class="section-background">
        <div class="section-bg-image section-bg-image-size-lg-100 section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-16-b --o--opacity-3"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h2 --o--heading-bordered text-capitalize --o--os-animation  --o--mt-25 --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <small class="text-muted font-italic">Upcoming</small> Events
                    </h1>
                </div>

                <div class="col-md-12">
                    {% include "partials/events-form.html" %}
                    <h3 class="--o--heading-bordered text-capitalize --o--os-animation --o--mb-3"  data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        June
                    </h3>
                    <div class="card  card-horizontal --o--os-animation --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 align-items-strech" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/church-01-400x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-left text-xs-center">
                                        <span class="h3 d-block --o--mb-0">
                                            08
                                        </span>
                                        <span class="d-block">
                                            JUN
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h2 class="h3 card-title"><a href="single-event.html">Bondage of the Will & the Sovereignty of Grace.</a></h2>
                                    <h6 class="card-subtitle font-italic text-muted --o--mb-3"><i class="fa fa-map-marker"></i> <a href="#">45 Plastira Avenue</a>, in <a href="#">Athens</a> <i class="fa fa-clock-o"></i> 22:00 am</h6>
                                    <p class="card-text">Blessed is the man who doesn't walk in the counsel of the wicked, nor stand in the way of sinners, nor sit in the seat of scoffers; but his delight is in Yahweh's law. On his law he meditates day and night. He will be like a tree planted by the streams of water, that brings forth its fruit in its season, whose leaf also does not wither. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card  card-horizontal --o--os-animation --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 align-items-strech" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/church-04-400x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-left text-xs-center">
                                        <span class="h3 d-block --o--mb-0">
                                            21
                                        </span>
                                        <span class="d-block">
                                            JUN
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h2 class="h3 card-title"><a href="single-event.html">The Blood of the Martyrs Is Seed</a></h2>
                                    <h6 class="card-subtitle font-italic text-muted --o--mb-3"><i class="fa fa-map-marker"></i> <a href="#">45 Plastira Avenue</a>, in <a href="#">Athens</a> <i class="fa fa-clock-o"></i> 22:00 am</h6>
                                    <p class="card-text">Whatever he does shall prosper. The wicked are not so, but are like the chaff which the wind drives away. Therefore the wicked shall not stand in the judgment, nor sinners in the congregation of the righteous. For Yahweh knows the way of the righteous, but the way of the wicked shall perish.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="--o--heading-bordered text-capitalize --o--os-animation --o--mb-3 --o--mt-9"  data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        July
                    </h3>
                    <div class="card  card-horizontal --o--os-animation --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 align-items-strech" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/church-06-400x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-left text-xs-center">
                                        <span class="h3 d-block --o--mb-0">
                                            12
                                        </span>
                                        <span class="d-block">
                                            JUL
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h2 class="h3 card-title"><a href="single-event.html">Speaking the Gospel with Clarity</a></h2>
                                    <h6 class="card-subtitle font-italic text-muted --o--mb-3"><i class="fa fa-map-marker"></i> <a href="#">45 Plastira Avenue</a>, in <a href="#">Athens</a> <i class="fa fa-clock-o"></i> 22:00 am</h6>
                                    <p class="card-text">Blessed is the man who doesn't walk in the counsel of the wicked, nor stand in the way of sinners, nor sit in the seat of scoffers; but his delight is in Yahweh's law. On his law he meditates day and night. He will be like a tree planted by the streams of water, that brings forth its fruit in its season, whose leaf also does not wither. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="--o--heading-bordered text-capitalize --o--os-animation --o--mb-3 --o--mt-9"  data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        August
                    </h3>
                    <div class="card  card-horizontal --o--os-animation --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 align-items-strech" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/church-03-400x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-left text-xs-center">
                                        <span class="h3 d-block --o--mb-0">
                                            07
                                        </span>
                                        <span class="d-block">
                                            AUG
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h2 class="h3 card-title"><a href="single-event.html">Creativity & God</a></h2>
                                    <h6 class="card-subtitle font-italic text-muted --o--mb-3"><i class="fa fa-map-marker"></i> <a href="#">45 Syntagma Sq</a>, in <a href="#">Heraklion</a> <i class="fa fa-clock-o"></i> 22:00 am</h6>
                                    <p class="card-text">Yahweh said to me, «You are my son. Today I have become your father. Ask of me, and I will give the nations for your inheritance, the uttermost parts of the earth for your possession. You shall break them with a rod of iron. You shall dash them in pieces like a potter's vessel.» Now therefore be wise, you kings. Be instructed, you judges of the earth. Serve Yahweh with fear, and rejoice with trembling.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card  card-horizontal --o--os-animation --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 align-items-strech" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/church-05-400x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-left text-xs-center">
                                        <span class="h3 d-block --o--mb-0">
                                            15
                                        </span>
                                        <span class="d-block">
                                            AUG
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h2 class="h3 card-title"><a href="single-event.html">Prophetic Conference</a></h2>
                                    <h6 class="card-subtitle font-italic text-muted --o--mb-3"><i class="fa fa-map-marker"></i> <a href="#">45 Plastira Avenue</a>, in <a href="#">Athens</a> <i class="fa fa-clock-o"></i> 22:00 am</h6>
                                    <p class="card-text">I awakened; for Yahweh sustains me. I will not be afraid of tens of thousands of people who have set themselves against me on every side. Arise, Yahweh! Save me, my God! For you have struck all of my enemies on the cheek bone. You have broken the teeth of the wicked. Salvation belongs to Yahweh. Your blessing be on your people.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-6 --o--mt-9">
                            <h3 class="--o--heading-bordered text-capitalize --o--os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                                <a href="events-day.html">
                                    <small class="text-muted font-italic">&larr; Previous</small> Events On May
                                </a>
                            </h3>
                        </div>
                        <div class="col-md-6 col-6 --o--mt-9 --o--mb-9">
                            <h3 class="--o--heading-bordered --o--heading-bordered-reversed text-capitalize --o--os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
                                <a href="events-list.html">
                                    <small class="text-muted font-italic">Next &rarr;</small>  Events On July
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
