{% set active_page = 'events-day.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
    <div class="section-background">
        <div class="section-bg-image section-bg-image-size-lg-100 section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-16-b --o--opacity-3"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h2 --o--heading-bordered text-capitalize --o--os-animation  --o--mt-25 --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <small class="text-muted font-italic">Daily Events</small> Tuesday 21, June 2017
                    </h1>
                </div>
                <div class="col-md-12">
                    {% include "partials/events-form.html" %}
                    <div class="card  card-horizontal --o--os-animation --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 align-items-lg-strech" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/church-01-400x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-left text-xs-center">
                                        <span class="h2 d-block --o--mb-0">
                                            21
                                        </span>
                                        <span class="d-block">
                                            JUN
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h2 class="h3 card-title"><a href="single-event.html">The Bondage of the Will, the Sovereignty of Grace, and the Glory of God</a></h2>
                                    <h6 class="card-subtitle font-italic text-muted --o--mb-3"><i class="fa fa-map-marker"></i> <a href="#">45 Plastira Avenue</a>, in <a href="#">Athens</a> <i class="fa fa-clock-o"></i> 22:00 am</h6>
                                    <p class="card-text">Why do the nations rage, and the peoples plot a vain thing? The kings of the earth take a stand, and the rulers take counsel together, against Yahweh, and against his Anointed, saying, «Let's break their bonds apart, and cast their cords from us.» He who sits in the heavens will laugh. The LORD will have them in derision.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card  card-horizontal --o--os-animation --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 align-items-lg-strech" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/church-03-400x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-left text-xs-center">
                                        <span class="h2 d-block --o--mb-0">
                                            21
                                        </span>
                                        <span class="d-block">
                                            JUN
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h2 class="h3 card-title"><a href="single-event.html">The Blood of the Martyrs Is Seed: Learning from Missions and for Missions</a></h2>
                                    <h6 class="card-subtitle font-italic text-muted --o--mb-3"><i class="fa fa-map-marker"></i> <a href="#">45 Plastira Avenue</a>, in <a href="#">Athens</a> <i class="fa fa-clock-o"></i> 22:00 am</h6>
                                    <p class="card-text">Why do the nations rage, and the peoples plot a vain thing? The kings of the earth take a stand, and the rulers take counsel together, against Yahweh, and against his Anointed, saying, «Let's break their bonds apart, and cast their cords from us.» He who sits in the heavens will laugh. The LORD will have them in derision.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card  card-horizontal --o--os-animation --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 align-items-lg-strech" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/church-07-400x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-left text-xs-center">
                                        <span class="h2 d-block --o--mb-0">
                                            21
                                        </span>
                                        <span class="d-block">
                                            JUN
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h2 class="h3 card-title"><a href="single-event.html">Boldness Under Threat: Speaking the Gospel with Clarity as Opposition Grows</a></h2>
                                    <h6 class="card-subtitle font-italic text-muted --o--mb-3"><i class="fa fa-map-marker"></i> <a href="#">45 Plastira Avenue</a>, in <a href="#">Athens</a> <i class="fa fa-clock-o"></i> 22:00 am</h6>
                                    <p class="card-text">Why do the nations rage, and the peoples plot a vain thing? The kings of the earth take a stand, and the rulers take counsel together, against Yahweh, and against his Anointed, saying, «Let's break their bonds apart, and cast their cords from us.» He who sits in the heavens will laugh. The LORD will have them in derision.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-6 --o--mt-9">
                            <h3 class="--o--heading-bordered text-capitalize --o--os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                                <a href="events-day.html">
                                    <small class="text-muted font-italic">&larr; Previous</small> Events On May
                                </a>
                            </h3>
                        </div>
                        <div class="col-md-6 col-6 --o--mt-9 --o--mb-9">
                            <h3 class="--o--heading-bordered --o--heading-bordered-reversed text-capitalize --o--os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
                                <a href="events-list.html">
                                    <small class="text-muted font-italic">Next &rarr;</small>  Events On July
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
