{% set active_page = 'single-sermon.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
    <div class="section-background">
        <div class="section-bg-image section-bg-image-size-lg-100 section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-16-b --o--opacity-5"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="card card-hero --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-9 --o--mt-25 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/church-12-800x500-notinclude.jpg" alt="Sermon image">
                            <div class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-right text-xs-center">
                                <span class="h6 block --o--mb-0">
                                    <a class=" magnific-audio" href="http://oxy-wp-media.s3.amazonaws.com/divinity-html/sermon.mp3">
                                        <i class="fa fa-headphones --o--mr-2"></i>
                                    </a>
                                    <a href="https://www.youtube.com/watch?v=bofF_aRIILI" class="magnific-youtube">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                    <a target="_blank" href="http://oxy-wp-media.s3.amazonaws.com/divinity-html/sermon.pdf">
                                        <i class="fa fa-file-text-o --o--ml-2"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h1 class="h2 card-title">Receptance, Faith, Resurrection & Judgement Is Our Only Road</h1>
                            <h5 class="card-subtitle font-italic --o--mb-5">By <a href="#" class="text-muted">John Langan & Christos Pantazis</a></h5>
                            <p>
                                As for God, his way is perfect. The word of Yahweh is tried. He is a shield to all those who take refuge in him. For who is God, except Yahweh? Who is a rock, besides our God, the God who arms me with strength, and makes my way perfect? He makes my feet like deer's feet, and sets me on my high places. He teaches my hands to war, so that my arms bend a bow of bronze. You have also given me the shield of your salvation. Your right hand sustains me.
                            </p>
                            <p>
                                He will be like a tree planted by the streams of water, that brings forth its fruit in its season, whose leaf also does not wither. Whatever he does shall prosper. The wicked are not so, but are like the chaff which the wind drives away. Therefore the wicked shall not stand in the judgment, nor sinners in the congregation of the righteous. For Yahweh knows the way of the righteous, but the way of the wicked shall perish.
                            </p>
                            <p>
                                Answer me when I call, God of my righteousness. Give me relief from my distress. Have mercy on me, and hear my prayer. You sons of men, how long shall my glory be turned into dishonor? Will you love vanity, and seek after falsehood?
                            </p>
                        </div>
                        <div class="card-footer">
                            <small>
                                <i class="fa fa-tags text-muted p-r-1"></i>
                                <a href="#" class="text-muted">Faith</a>,
                                <a href="#" class="text-muted">Love</a>,
                                <a href="#" class="text-muted">God</a>
                            </small>

                            <div class="--o--icon-set pull-right">
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-10 ml-auto mr-auto">
                    <h3 class="--o--heading-bordered text-capitalize --o--os-animation --o--mb-3" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                        <a href="#">
                            <small class="text-muted font-italic">Related</small> Sermons
                        </a>
                    </h3>
                </div>
                <div class="col-md-5 ml-auto">
                    <div class="card card-horizontal --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 align-items-lg-strech --o--os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/church-team-6-500x600-notinclude.jpg" alt="Sermon image">
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h3 class="card-title">Love & Faith</h3>
                                    <h6 class="card-subtitle font-italic text-muted --o--mb-0">By <a href="#">Christos</a> on <a href="#">May 12 1977</a> about <a href="#">God & All</a></h6>
                                </div>
                                <div class="card-footer">
                                    <div class="--o--icon-set pull-right">
                                        <a class="--o--icon-set-item magnific-audio --o--transition text-muted" href="http://oxy-wp-media.s3.amazonaws.com/divinity-html/sermon.mp3">
                                            <i class="fa fa-headphones"></i>
                                        </a>
                                        <a class="--o--icon-set-item --o--transition text-muted magnific-youtube" href="https://www.youtube.com/watch?t&v=GKWYhSEml0w">
                                            <i class="fa fa-play-circle"></i>
                                        </a>
                                        <a target="_blank" class="--o--icon-set-item --o--transition text-muted" href="http://oxy-wp-media.s3.amazonaws.com/divinity-html/sermon.pdf">
                                            <i class="fa fa-file-text-o"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-horizontal --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-15 align-items-lg-strech --o--os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".3s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/church-team-1-500x600-notinclude.jpg" alt="Sermon image">
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h3 class="card-title">You'll Find Grace</h3>
                                    <h6 class="card-subtitle font-italic text-muted --o--mb-0">By <a href="#">Christos</a> on <a href="#">May 12 1977</a> about <a href="#">God & All</a></h6>
                                </div>
                                <div class="card-footer">
                                    <div class="--o--icon-set pull-right">
                                        <a class="--o--icon-set-item magnific-audio --o--transition text-muted" href="http://oxy-wp-media.s3.amazonaws.com/divinity-html/sermon.mp3">
                                            <i class="fa fa-headphones"></i>
                                        </a>
                                        <a class="--o--icon-set-item --o--transition text-muted magnific-youtube" href="https://www.youtube.com/watch?t&v=GKWYhSEml0w">
                                            <i class="fa fa-play-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mr-auto">
                    <div class="card card-horizontal --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-3 align-items-lg-strech --o--os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/church-team-2-500x600-notinclude.jpg" alt="Sermon image">
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h3 class="card-title">For The Hopeless</h3>
                                    <h6 class="card-subtitle font-italic text-muted --o--mb-0">By <a href="#">Langan</a> on <a href="#">March 10 1979</a> about <a href="#">South</a></h6>
                                </div>
                                <div class="card-footer">
                                    <div class="--o--icon-set pull-right">
                                        <a class="--o--icon-set-item magnific-audio --o--transition text-muted" href="http://oxy-wp-media.s3.amazonaws.com/divinity-html/sermon.mp3">
                                            <i class="fa fa-headphones"></i>
                                        </a>
                                        <a class="--o--icon-set-item --o--transition text-muted magnific-youtube" href="https://www.youtube.com/watch?t&v=GKWYhSEml0w">
                                            <i class="fa fa-play-circle"></i>
                                        </a>
                                        <a target="_blank" class="--o--icon-set-item --o--transition text-muted" href="http://oxy-wp-media.s3.amazonaws.com/divinity-html/sermon.pdf">
                                            <i class="fa fa-file-text-o"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-horizontal --o--shadow-8 --o--shadow-hover-16 --o--transition --o--mb-9 align-items-lg-strech --o--os-animation" data-os-animation="fadeInUp" data-os-animation-delay=".6s">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/church-team-3-500x600-notinclude.jpg" alt="Sermon image">
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="card-body">
                                    <h3 class="card-title">For Hurting Parents</h3>
                                    <h6 class="card-subtitle font-italic text-muted --o--mb-0">By <a href="#">Manos</a> on <a href="#">June 21 1991</a> about <a href="#">Holy Spirit</a></h6>
                                </div>
                                <div class="card-footer">
                                    <div class="--o--icon-set pull-right">
                                        <a class="--o--icon-set-item magnific-audio --o--transition text-muted" href="http://oxy-wp-media.s3.amazonaws.com/divinity-html/sermon.mp3">
                                            <i class="fa fa-headphones"></i>
                                        </a>
                                        <a class="--o--icon-set-item --o--transition text-muted magnific-youtube" href="https://www.youtube.com/watch?t&v=GKWYhSEml0w">
                                            <i class="fa fa-play-circle"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
