<div class="--o--widget widget_recent_entries">
    <h4 class="--o--widget-header">Latest Products</h4>

    <ul>
        <li  class="text-truncate">
            <a href="shop-single.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="Product image" src="http://placehold.it/100x100/DAF5F0/B6DDD6">
            </a>
            <p class="--o--mb-0"><a href="shop-single.html">Kongo Headphones</a></p>
            <strong class="post-date d-block">$108.99</strong>
        </li>

        <li  class="text-truncate">
            <a href="shop-single.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="Product image" src="http://placehold.it/100x100/DAF5F0/B6DDD6">
            </a>
            <p class="--o--mb-0"><a href="shop-single.html">BBK Speakers</a></p>
            <strong class="post-date d-block">$89.99</strong>
        </li>
        <li  class="text-truncate">
            <a href="shop-single.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="Product image" src="http://placehold.it/100x100/DAF5F0/B6DDD6">
            </a>
            <p class="--o--mb-0"><a href="shop-single.html">Mamba Cable</a></p>
            <strong class="post-date d-block">$18.99</strong>
        </li>
    </ul>
</div>
