<div class="--o--widget widget_recent_entries">
    <h4 class="--o--widget-header">Latest Products</h4>

    <ul>
        <li  class="text-truncate">
            <a href="shop-single.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="Product image" src="assets/images/commerce-funky-thumbnail-04-50x50-notinclude.jpg">
            </a>
            <p class="--o--mb-0"><a href="shop-single.html">Old Style Ghetto Blaster</a></p>
            <strong class="post-date d-block">$120.99</strong>
        </li>

        <li  class="text-truncate">
            <a href="shop-single.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="Product image" src="assets/images/commerce-funky-thumbnail-05-50x50-notinclude.jpg">
            </a>
            <p class="--o--mb-0"><a href="shop-single.html">3d Stereo Booster</a></p>
            <strong class="post-date d-block">$89.99</strong>
        </li>
        <li  class="text-truncate">
            <a href="shop-single.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="Product image" src="assets/images/commerce-funky-thumbnail-06-50x50-notinclude.jpg">
            </a>
            <p class="--o--mb-0"><a href="shop-single.html">Bluetooth head</a></p>
            <strong class="post-date d-block">$45.50</strong>
        </li>
    </ul>
</div>
