// Basic Colors
$body-bg: #A79086;
$body-color: #B7978C;

$o-primary:                 #F7B733;
$o-secondary:               #4ABDAD;
$o-info:                    #999E64;
$o-success:                 rgba(0,153,153,0.8);
$o-warning:                 #cc6633;
$o-danger:                  #DA9F7B;
$o-light:                  #a91628;
$o-dark:                  #a91628;

// Basic Type
$font-family-base:  'Roboto';
$font-size-base: 14px;
$font-weight-base: 400;
$line-height-base: 1.928;

// Headings Type
$headings-font-family: 'Roboto Condensed';
$headings-color: #FD491A;
$headings-font-weight: 400;
$o-headings-style: normal;
$o-headings-text-transform: uppercase;
$headings-margin-bottom: 24px;
$headings-line-height:   1.2;

$h1-font-size: 48px;
$h2-font-size: 36px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 16px;
$h6-font-size: 14px;

$display1-size: 72px;
$display2-size: 60px;
$display3-size: 48px;
$display4-size: 36px;

$font-size-lg:   21px;
$font-size-sm:   13px;
$font-size-xs:   14px;

// links
$link-color: #FD491A;
$link-decoration: none;
$link-hover-color: #BC3E1D;
$link-hover-decoration: none;

// Muted text
$text-muted: #92cec5;

// Navigation
$o-nav-height: 100px;
$o-nav-height-scrolled: 90px;
$o-nav-bg: rgba(239,233,232,.9);
$o-nav-font-family: 'Roboto Condensed';
$o-nav-font-weight: 400;
$o-nav-text-tranform: uppercase;
$o-nav-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 4px 5px 0 rgba(0,0,0,.05),0 1px 10px 0 rgba(0,0,0,.1);

$o-nav-link-font-size: 16px;
$o-nav-link-color: #FD491A;
$o-nav-link-hover-color: #4ABDAD;
$o-nav-link-hover-bg: transparent;
$o-nav-link-active-color: #4ABDAD;
$o-nav-link-active-bg: transparent;
$o-nav-link-padding-y: 20px; // For menu items before collapsing only
$o-nav-link-padding-x: 24px; // For menu items after collapsing only
$o-nav-link-max-size: 130px; // For menu style with the logo in center and menu left and right
$o-nav-link-border-width: 3px;
$o-nav-link-border-color: #4ABDAD;

$o-nav-brand-color: #FD491A;
$o-nav-brand-font-size: 24px;
$o-nav-link-brand-height: 90px; // For menu layouts with the logo above only
$o-nav-link-brand-width: 200px;  // Brand width for float style only
$o-nav-brand-padding-y: 20px; // Brand vertical padding

// Navigation Dropdowns
$o-nav-dropdown-bg: rgba(239,233,232,.9);
$o-nav-dropdown-font-size: 14px;
$o-nav-dropdown-link-color: #FD491A;
$o-nav-dropdown-link-hover-color: #4ABDAD;
$o-nav-dropdown-link-hover-bg: #E6DBDB;
$o-nav-dropdown-link-active-color: #E6DBDB;
$o-nav-dropdown-link-active-bg: rgba(253, 255, 252, .1);
$o-nav-dropdown-link-padding-y: 12px;
$o-nav-dropdown-link-padding-x: 20px;
$o-nav-dropdown-width: 220px;
$o-nav-dropdown-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.04), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);

// Float header
$o-header-float-y: 20px; // Top margin for float nav only

// Transparent Header
$o-header-transparent-bg: rgba(239,233,232, .7);
$o-header-transparent-link-color: #FD491A;
$o-header-transparent-link-hover-color: #4ABDAD;
$o-header-transparent-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.02), 0 4px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.01);

// Transparent Top bar
$o-topbar-transparent-bg: rgba(167,144,134, .2);
$o-topbar-transparent-color: #dd877a;

// Navigation Collapse point
$o-nav-collapse-breakpoint: 1200px;

// Top bar
$o-topbar-height: 36px;
$o-topbar-bg: #e3d9df;
$o-topbar-font-size: 13px;
$o-topbar-color: red;
$o-topbar-hover-color: red;
$o-topbar-shadow: 0 -2px 4px -1px rgba(0,0,0,.3) inset;

// Blockquotes
$o-blockquote-font-family: 'Roboto';
$blockquote-font-size:    24px;
$o-blockquote-font-weight: 300;
$o-blockquote-style:  italic;
$o-blockquote-line-height: 1.714;
$o-blockquote-font-size-lg: 36px;

$blockquote-small-color:  #FD491A;
$o-blockquote-small-size: 14px;
$o-blockquote-small-style: normal;

// Lead text
$lead-font-size:   24px;
$lead-font-weight: 300;
$o-lead-line-height: 40px;

// Light colored elements
$o-light-color: #fafafa;
$o-light-headings-color: #fafafa;
$o-light-link-color: #fafafa;
$o-light-link-hover-color: #fafafa;
$o-light-text-muted: #fafafa;
$o-light-border-color: #fafafa;

// Global Border radius
$border-radius: 0px;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Buttons
$input-btn-padding-x: 48px;
$input-btn-padding-y: 10px;
$input-btn-line-height: 1.25;
$btn-font-weight: normal;
$o-input-btn-font-size: 14px;
$o-input-btn-style: uppercase;
$o-input-btn-border-width: 0px;

$btn-link-disabled-color:        #979da3;

$input-btn-padding-x-sm:               30px;
$input-btn-padding-y-sm:               5px;

$input-btn-padding-x-lg:               50px;
$input-btn-padding-y-lg:               13px;

$btn-border-radius: 18px;
$btn-border-radius-lg:           22px;
$btn-border-radius-sm:           14px;

// Forms
$input-padding-x:                14px;
$input-padding-y:                10px;

$input-bg:                       #EFE9E8;
$input-disabled-bg:              #c5c2c5;

$input-color:                    #A79086;
$input-border-color:             #A79086;
$input-btn-border-width:         3px;

$input-border-radius:            0;
$input-border-radius-lg:         0;
$input-border-radius-sm:         0;

$input-focus-bg:                 #EFE9E8;
$input-focus-border-color:             #47B7A3;
$input-focus-color:              #47B7A3;

$input-placeholder-color:        #B7978C;

// Footer
$o-footer-bg: #4ABDAD;
$o-footer-color: #EFE9E8;
$o-footer-font-size: 14px;
$o-footer-link-color: #EFE9E8;
$o-footer-link-hover-color: #ffffff;
$o-footer-headings-color: #EFE9E8;
$o-footer-border-color: rgba(255, 255, 255, 0.1);
$o-footer-muted-color: #EAB1F3;
$o-footer-primary-color:  #47B7A3;
$o-footer-primary-bg: #DAF5F0;

// Subfooter
$o-subfooter-bg: #329a8b;
$o-subfooter-color: #EFE9E8;
$o-subfooter-font-size: 16px;
$o-subfooter-link-color: #EFE9E8;
$o-subfooter-link-hover-color: #ffffff;
$o-subfooter-muted-color: #ffffff;

// Sidebar Widgets
$o-widget-padding-x: 20px;
$o-widget-padding-y: 20px;
$o-widget-bottom-margin: 30px;
$o-widget-bg: rgba(255, 255, 255, .8);
$o-widget-border-color: #f0f0f0;

// Rule & border Colors
$hr-border-color: #fd6138;

// Bordered Header width
$o-heading-border-width: 3px;

// Cards
$card-spacer-x:            40px;
$card-spacer-y:            40px;
$o-card-cap-spacer-y:      10px; // footer horizontal padding
$card-border-width:        0px;
$card-border-radius:       0;
$card-border-color:        #E6DBDB;
$card-bg:                  #efe9e8;
$card-img-overlay-padding: 20px;

$card-cap-bg:              #EFE9E8;
$o-card-inverse-bg:        rgba(74,189,173, 1);

$o-card-hero-spacer-x:     75px;
$o-card-hero-spacer-y:     75px;

$o-card-overlay-bg:       rgba(253, 73, 26, .7);

// List Groups
$list-group-item-padding-y: 20px;
$list-group-item-padding-x: 30px;
$list-group-border-width: 1px;

$list-group-bg: rgba(255, 255, 255, .1);
$list-group-border-color: rgba(0, 0, 0, .05);
$list-group-hover-bg: rgba(255, 255, 255, .15);

// Counters
$o-counter-width:         150px;

// Progress Bars
$progress-bg:                 #B6DDD6;
$progress-bar-bg:             #FD6138;
$progress-bar-color:          #FD6138;
$progress-height:        4px;

// Breadcrumbs
$breadcrumb-padding-y:          30px;
$breadcrumb-padding-x:          30px;
$breadcrumb-item-padding:       10px;

$breadcrumb-bg:                 #f7f7f7;
$breadcrumb-divider-color:      #979da3;
$breadcrumb-active-color:       #979da3;
$breadcrumb-divider:            "/";

// Pagination
$pagination-padding-x:                16px;
$pagination-padding-y:                12px;
$pagination-padding-x-sm:             14px;
$pagination-padding-y-sm:             3px;
$pagination-padding-x-lg:             20px;
$pagination-padding-y-lg:             8px;

$pagination-color:                     #333;
$pagination-bg:                        #efe9e8;
$pagination-border-width:              1px;
$pagination-border-color:              #E6DBDB;

$pagination-hover-color:               #ffffff;
$pagination-hover-bg:                  #FD6138;
$pagination-hover-border-color:        #FD6138;

$pagination-active-color:              #ffffff;
$pagination-active-bg:                 #FD6138;
$pagination-active-border-color:             #FD6138;

$pagination-disabled-color:            #333;
$pagination-disabled-bg:               #FCFBFB;
$pagination-disabled-border-color:     #ddd;

// Popovers
$popover-bg:                          #A79086;
$popover-body-color:                     #EFE9E8;
$popover-border-color:                #B7978C;
$popover-header-bg:                    #B7978C;

// Tooltips
$tooltip-color:               #EFE9E8;
$tooltip-bg:                  #B7978C;
$tooltip-padding-y:           6px;
$tooltip-padding-x:           20px;

// Modals
$modal-inner-padding:         30px;

$modal-content-bg:               #fafafa;
$modal-content-border-color:     rgba(0,0,0,.2);
$modal-content-border-width:     1px;
$modal-backdrop-bg:           rgba(167,144,134, 1);
$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    300px;

// Tables
$table-cell-padding:            20px;
$table-cell-padding-sm:         10;

$table-bg:                      #EFE9E8;
$o-table-header-bg: #B7978C;
$o-table-body-bg: #EFE9E8;
$table-accent-bg:               rgba(222, 222, 222, 0.6);
$table-hover-bg:                rgba(222, 222, 222, 0.4);
$table-active-bg:               red;
$table-border-width:            1px;
$table-border-color:            #E6DBDB;

// Nav
$nav-tabs-border-color:                       #dbdad7;
$nav-tabs-border-width:                       1px;
$nav-tabs-border-radius:                      0;
$nav-tabs-link-hover-border-color:            transparent;
$nav-tabs-link-active-color:            #061a40;
$nav-tabs-link-active-bg:               #ffffff;
$nav-tabs-link-active-border-color:     #dbdad7;

// Section Background titles
$o-section-bg-color: rgba(0,0,0, .03);
$o-section-bg-size: 200px;
$o-section-bg-offset: 100px;

// Carousel indicators/text color
$carousel-control-color:                      rgba(167,144,134 ,0.9);
$carousel-caption-color:                      rgba(167,144,134 ,0.9);

// Magnific - Full Screen Search
$o-magnific-overlay-color:                   rgba(167,144,134, .9);
$o-magnific-controls-color:                  #fdfffc;

// Loader
$o-loader-bg: rgba(247,183,51,0.95);
$o-loader-color: rgba(253,73,26, .7);
$o-loader-image: url("../images/logo.png");

// Box layout settings
$o-box-layout-width: 100%;  // When not defined it should be 100%
$o-box-layout-top-offest: 0px;
$o-box-layout-shadow: none;
$o-box-layout-bg: #FCFBFB;

// Go to top button
$o-go-top-bg: rgba(247,183,51,0.8);
$o-go-top-color: #ffffff;
$o-go-top-radius: 50%;

// Transition Speed
$o-transition-speed: 0.3s;

// Paralax Speed
$parallax-space: 20%;
