{% set active_page = 'index.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-04"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="display-2 text-uppercase --o--text-light --o--font-weight-300 --o--mt-30 --o--mb-20 --o--opacity-8 --o--os-animation text-shadow" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <span class="text-muted">Reinventing</span>
                        <span class="d-block">The Corporate</span>
                        <span class="text-muted">Identity</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background" data-section-bg-title="SERVICES"></div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-10">
                <div class="col-lg-12">
                    <h2 class="--o--heading-image --o--heading-image-01 text-uppercase --o--heading-image-reversed d-inline-block text-left --o--os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                        View Our Services
                    </h2>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                <div class="card-body">
                                    <img src="assets/images/corporate-modern-icon-01-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h4 class="card-title text-uppercase --o--mb-2">
                                        <a href="service.html">Marketing</a>
                                    </h4>
                                    <p class="card-text">Leverage agile frameworks to provide a robust synopsis for high level overviews. </p>
                                </div>
                            </div>
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-body">
                                    <img src="assets/images/corporate-modern-icon-02-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h4 class="card-title text-uppercase --o--mb-2">
                                        <a href="service.html">Strategy</a>
                                    </h4>
                                    <p class="card-text">Organically grow the holistic world view of disruptive innovation. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-body">
                                    <img src="assets/images/corporate-modern-icon-03-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h4 class="card-title text-uppercase --o--mb-2">
                                        <a href="service.html">Financial</a>
                                    </h4>
                                    <p class="card-text">Bring to the table win-win survival strategies to ensure proactive domination. </p>
                                </div>
                            </div>
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-body">
                                    <img src="assets/images/corporate-modern-icon-04-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h4 class="card-title text-uppercase --o--mb-2">
                                        <a href="service.html">Capital</a>
                                    </h4>
                                    <p class="card-text">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-body">
                                    <img src="assets/images/corporate-modern-icon-05-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h4 class="card-title text-uppercase --o--mb-2">
                                        <a href="service.html">Broadcast</a>
                                    </h4>
                                    <p class="card-text">Override the digital divide with additional clickthroughs from DevOps.  </p>
                                </div>
                            </div>
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                                <div class="card-body">
                                    <img src="assets/images/corporate-modern-icon-06-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h4 class="card-title text-uppercase --o--mb-2">
                                        <a href="service.html">Management</a>
                                    </h4>
                                    <p class="card-text">User generated content in real-time will have multiple touchpoints for offshoring. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
     <div class="section-background" data-section-bg-title="TESTIMONIALS">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-02"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-10 --o--text-light">
                <div class="col-lg-2"></div>
                <div class="col-lg-9">
                    <h2 class="--o--heading-image --o--heading-image-01 text-uppercase --o--heading-image-reversed d-inline-block text-left --o--os-animation text-shadow" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                        Clients Testimonials
                    </h2>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-9">
                    <div class="card card-hero --o--demo-bg-gradient-01 --o--shadow-15 --o--shadow-hover-20 --o--os-animation text-center --o--mb--10 --o--text-light" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <div id="carousel-example-1" class="carousel slide --o--mb-0 carousel-indicators-circle " data-ride="carousel">
                                <ol class="carousel-indicators --o--mb--1 --o--mb-sm--3">
                                    <li data-target="#carousel-example-1" data-slide-to="0" class="active --o--transition"></li>
                                    <li class="--o--transition" data-target="#carousel-example-1" data-slide-to="1"></li>
                                    <li class="--o--transition" data-target="#carousel-example-1" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <blockquote class="card-blockquote blockquote --o--pl-4">
                                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative. </p>
                                            <footer class="blockquote-footer text-uppercase --o--mt-3 --o--text-light">Jason Smith <cite title="Source Title">CEO</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="carousel-item">
                                        <blockquote class="card-blockquote blockquote --o--pl-4">
                                            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. </p>
                                            <footer class="blockquote-footer text-uppercase --o--mt-3 --o--text-light">Jim Mack <cite title="Source Title">CTO</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="carousel-item">
                                        <blockquote class="card-blockquote blockquote --o--pl-4">
                                            <p>Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators.</p>
                                            <footer class="blockquote-footer text-uppercase --o--mt-3 --o--text-light">Jenna Tops <cite title="Source Title">Vice President</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background" data-section-bg-title="PORTFOLIO"></div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-10 --o--mt-10">
                <div class="col-lg-12">
                    <h2 class="--o--heading-image --o--heading-image-01 text-uppercase --o--heading-image-reversed d-inline-block  text-left --o--os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                        View Our Portfolio
                    </h2>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-modern-portfolio-01-600x600-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                                    <h5 class="card-title --o--transition">
                                        <a href="project.html">Headquarters</a>
                                    </h5>
                                    <p class="card-subtitle --o--transition">Lovely View</p>
                                </div>
                            </div>
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-modern-portfolio-02-600x800-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                                    <h5 class="card-title --o--transition">
                                        <a href="project.html">Main Offices</a>
                                    </h5>
                                    <p class="card-subtitle --o--transition">Amazing Architecture</p>
                                </div>
                            </div>
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-modern-portfolio-03-600x400-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                                    <h5 class="card-title --o--transition">
                                        <a href="project.html">Our Company</a>
                                    </h5>
                                    <p class="card-subtitle --o--transition">We are the best!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-modern-portfolio-04-600x1200-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                                    <h5 class="card-title --o--transition">
                                        <a href="project.html">Department</a>
                                    </h5>
                                    <p class="card-subtitle --o--transition">Creating the Future</p>
                                </div>
                            </div>
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-modern-portfolio-05-600x670-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                                    <h5 class="card-title --o--transition">
                                        <a href="project.html">Major Client</a>
                                    </h5>
                                    <p class="card-subtitle --o--transition">Secret Project</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-modern-portfolio-06-600x400-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                                    <h5 class="card-title --o--transition">
                                        <a href="project.html">Featured Project</a>
                                    </h5>
                                    <p class="card-subtitle --o--transition">A great Success</p>
                                </div>
                            </div>
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".7s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-modern-portfolio-07-600x800-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                                    <h5 class="card-title --o--transition">
                                        <a href="project.html">Amazing Work</a>
                                    </h5>
                                    <p class="card-subtitle --o--transition">Wonderful client</p>
                                </div>
                            </div>
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".8s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-modern-portfolio-08-600x600-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-img-overlay card-img-overlay-bottom card-img-overlay-on-hover --o--transition">
                                    <h5 class="card-title --o--transition">
                                        <a href="project.html">Big Success</a>
                                    </h5>
                                    <p class="card-subtitle --o--transition">Great Start-up</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
     <div class="section-background" data-section-bg-title="CLIENTS">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-02"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-10 --o--text-light">
                <div class="col-lg-12">
                    <h2 class="--o--heading-image --o--heading-image-01 text-uppercase --o--heading-image-reversed d-inline-block  text-left --o--os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                        Our Clients
                    </h2>
                </div>
                <div class="col-lg-12">
                    <div class="card --o--demo-bg-gradient-01 --o--shadow-15 --o--shadow-hover-20 --o--os-animation text-center --o--mb--10" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img src="assets/images/corporate-modern-client-01-150x150-notinclude.png" alt="Client">
                                    <span class="--o--mt-3 d-block --o--mb-2">Triangular</span>
                                </div>
                                <div class="col-sm-2">
                                    <img src="assets/images/corporate-modern-client-02-150x150-notinclude.png" alt="Client">
                                    <span class="--o--mt-3 d-block --o--mb-2">Ena</span>
                                </div>
                                <div class="col-sm-2">
                                    <img src="assets/images/corporate-modern-client-03-150x150-notinclude.png" alt="Client">
                                    <span class="--o--mt-3 d-block --o--mb-2">Angle</span>
                                </div>
                                <div class="col-sm-2">
                                    <img src="assets/images/corporate-modern-client-04-150x150-notinclude.png" alt="Client">
                                    <span class="--o--mt-3 d-block --o--mb-2">Verso Theme</span>
                                </div>
                                <div class="col-sm-2">
                                    <img src="assets/images/corporate-modern-client-05-150x150-notinclude.png" alt="Client">
                                    <span class="--o--mt-3 d-block --o--mb-2">Lambda</span>
                                </div>
                                <div class="col-sm-2">
                                    <img src="assets/images/corporate-modern-client-06-150x150-notinclude.png" alt="Client">
                                    <span class="--o--mt-3 d-block --o--mb-2">Smartbox</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background" data-section-bg-title="NEWS"></div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-10 --o--mt-10 --o--mb-10">
                <div class="col-lg-12">
                    <h2 class="--o--heading-image --o--heading-image-01 text-uppercase --o--heading-image-reversed d-inline-block  text-left --o--os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                        Latest News
                    </h2>
                </div>
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-5">

                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-modern-article-01-400x500-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase --o--mb-1">
                                        <a href="service.html">Corporate Enviroment</a>
                                    </h4>
                                    <p class="card-subtitle font-italic text-muted --o--mb-1">By <a href="author.html">Christos</a> on May 1977</p>
                                    <p class="card-text">We've got to manage that low hanging fruit we need more paper but price point, nor not enough bandwidth, so level the playing field, so into the weeds. </p>
                                </div>
                            </div>

                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase --o--mb-1">
                                        <a href="service.html">Better Sales</a>
                                    </h4>
                                    <p class="card-subtitle font-italic text-muted --o--mb-1">By <a href="author.html">Christos</a> on May 1977</p>
                                    <p class="card-text">Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">

                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase --o--mb-1">
                                        <a href="service.html">Stronger Leads &amp; new visitors</a>
                                    </h4>
                                    <p class="card-subtitle font-italic text-muted --o--mb-1">By <a href="author.html">Christos</a> on May 1977</p>
                                    <p class="card-text">Forcing function drop-dead date, so touch base. New economy. Golden goose digital literacy. We need to socialize the comms with the wider stakeholder community can we take this offline race without a finish line, yet viral engagement work flows . Wheelhouse gain traction. Forcing function drop-dead date, so touch base. New economy. Golden goose digital literacy. </p>
                                    <p class="card-text">Viral engagement dog and pony show that jerk from finance really threw me under the bus. Strategic staircase powerpoint Bunny, or bench mark design thinking. Bells and whistles that jerk from finance really threw me under the bus, or can I just chime in on that one, so i don't want to drain the whole swamp, i just want to shoot some alligators, hammer out.</p>
                                    <p class="card-text">Forcing function drop-dead date, so touch base. New economy. Golden goose digital literacy. We need to socialize the comms with the wider stakeholder community can we take this offline race without a finish line, yet viral engagement work flows . Wheelhouse gain traction. Golden goose we need to have a Come to Jesus meeting with Phil about his attitude viral engagement, ramp up, for not the long pole in my tent.</p>
                                </div>
                            </div>

                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation --o--demo-bg-gradient-01 card-inverse" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-body">
                                   <blockquote class="card-blockquote blockquote --o--pl-4">
                                        <p>Ramp up viral engagement we need to have a Come to Jesus meeting with Phil about his attitude organic growth, or drill down. We need to future-proof this.</p>
                                        <footer class="blockquote-footer text-uppercase --o--mt-3 --o--text-light">Steve Bojs <cite title="Source Title">The Buss Book</cite></footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
     <div class="section-background" data-section-bg-title="HIRING">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-gradient-02"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-10 --o--text-light">
                <div class="col-lg-4 text-center text-lg-left">
                    <h3 class="text-uppercase --o--os-animation --o--mb-3" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                        We are Hiring
                    </h3>
                    <p class="--o--os-animation --o--mb-3" data-os-animation="fadeInLeft" data-os-animation-delay=".4s">Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                    <a href="#" class="btn btn-secondary --o--os-animation --o--mb-3 --o--shadow-10 --o--shadow-hover-15" data-os-animation="fadeInLeft" data-os-animation-delay=".5s">Learn More</a>
                </div>
                <div class="col-lg-6 ml-auto">
                    <img class="card-img d-block --o--mt-lg--20 --o--os-animation" src="assets/images/corporate-modern-mockup-01-500x500-notinclude.png" data-os-animation="fadeInUp" data-os-animation-delay=".6s" alt="device">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background" data-section-bg-title="TEAM"></div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-10">
                <div class="col-lg-12">
                    <h2 class="--o--heading-image --o--heading-image-01 text-uppercase --o--heading-image-reversed d-inline-block  text-left --o--os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                        Our Team
                    </h2>
                </div>
                <div class="col-lg-6">
                    <div class="card card-horizontal --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-modern-team-02-500x500-notinclude.jpg" alt="Card image">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h2 class="h4 card-title m-b-1 text-uppercase">Aaron Triangul</h2>
                                    <h6 class="card-subtitle text-muted --o--mb-3 text-uppercase">CEO/DESIGNER</h6>
                                    <p class="card-text">Distinctively exploit optimal alignments for intuitive bandwidth. Quickly coordinate e-business applications through revolutionary catalysts for change. Seamlessly underwhelm optimal testing procedures whereas bricks-and-clicks.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-horizontal --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-modern-team-01-500x500-notinclude.jpg" alt="Card image">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h2 class="h4 card-title m-b-1 text-uppercase">Jason Angle</h2>
                                    <h6 class="card-subtitle text-muted --o--mb-3 text-uppercase">CEO/DESIGNER</h6>
                                    <p class="card-text">Dynamically target high-payoff intellectual capital for customized technologies. Objectively integrate emerging core competencies before process-centric communities. Dramatically evisculate holistic innovation.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card-horizontal --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-modern-team-03-500x500-notinclude.jpg" alt="Card image">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h2 class="h4 card-title m-b-1 text-uppercase">Alice Hue</h2>
                                    <h6 class="card-subtitle text-muted --o--mb-3 text-uppercase">CEO/DESIGNER</h6>
                                    <p class="card-text">Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate standardized metrics after resource-leveling processes. Objectively pursue diverse catalysts for change for interoperable meta-services.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-horizontal --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation --o--os-animation --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-modern-team-04-500x500-notinclude.jpg" alt="Card image">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h2 class="h4 card-title m-b-1 text-uppercase">Jane Hue</h2>
                                    <h6 class="card-subtitle text-muted --o--mb-3 text-uppercase">CEO/DESIGNER</h6>
                                    <p class="card-text">Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate standardized metrics after resource-leveling processes. Objectively pursue diverse catalysts for change for interoperable meta-services.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
