// Basic Colors
$body-bg: #ffffff;
$body-color: #656564;

$o-primary:                 rgba(230, 169, 60, .9);
$o-secondary:               #725A39;
$o-info:                    #9eb9c0;
$o-success:                 #9ba290;
$o-warning:                 #caac8e;
$o-danger:                  #ac686a;
$o-light:                  #ac686a;
$o-dark:                  #ac686a;

// Basic Type
$font-family-base:  'Alegreya Sans';
$font-size-base: 18px;
$font-weight-base: 400;
$line-height-base: 1.5;

// Headings Type
$headings-font-family: 'Playfair Display';
$headings-color: #1E1610;
$headings-font-weight: 400;
$o-headings-style: normal;
$o-headings-text-transform: none;
$headings-margin-bottom: 24px;
$headings-line-height:   1.2;

$h1-font-size: 48px;
$h2-font-size: 36px;
$h3-font-size: 24px;
$h4-font-size: 21px;
$h5-font-size: 16px;
$h6-font-size: 14px;

$display1-size: 96px;
$display2-size: 60px;
$display3-size: 48px;
$display4-size: 36px;

$font-size-lg:   21px;
$font-size-sm:   16px;
$font-size-xs:   14px;

// links
$link-color: #1E1610;
$link-decoration: none;
$link-hover-color: #614733;
$link-hover-decoration: none;

// Muted text
$text-muted: #807e7b;

// Navigation
$o-nav-height: 120px;
$o-nav-height-scrolled: 100px;
$o-nav-bg: rgba(255,255,255,0.94);
$o-nav-font-family: 'Playfair Display';
$o-nav-font-weight: 400;
$o-nav-text-tranform: none;
$o-nav-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 4px 5px 0 rgba(0,0,0,.05),0 1px 10px 0 rgba(0,0,0,.1);

$o-nav-link-font-size: 16px;
$o-nav-link-color: #666564;
$o-nav-link-hover-color: #b7942a;
$o-nav-link-hover-bg: transparent;
$o-nav-link-active-color: #b7942a;
$o-nav-link-active-bg: transparent;
$o-nav-link-padding-y: 20px; // For menu items before collapsing only
$o-nav-link-padding-x: 30px; // For menu items after collapsing only
$o-nav-link-max-size: 130px; // For menu style with the logo in center and menu left and right
$o-nav-link-border-width: 3px;
$o-nav-link-border-color: #b7942a;

$o-nav-brand-color: #313843;
$o-nav-brand-font-size: 21px;
$o-nav-link-brand-height: 50px; // For menu layouts with the logo above only
$o-nav-link-brand-width: 150px;  // Brand width for float style only
$o-nav-brand-padding-y: 20px; // Brand vertical padding

// Navigation Dropdowns
$o-nav-dropdown-bg: rgba(251, 244, 228, .9);
$o-nav-dropdown-font-size: 14px;
$o-nav-dropdown-link-color: #725A39;
$o-nav-dropdown-link-hover-color: #b7942a;
$o-nav-dropdown-link-hover-bg: #ece5d6;
$o-nav-dropdown-link-active-color: #b7942a;
$o-nav-dropdown-link-active-bg: #ece5d6;
$o-nav-dropdown-link-padding-y: 12px;
$o-nav-dropdown-link-padding-x: 20px;
$o-nav-dropdown-width: 200px;
$o-nav-dropdown-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.04), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);

// Float header
$o-header-float-y: 20px; // Top margin for float nav only

// Transparent Header
$o-header-transparent-bg: rgba(255, 255, 255, .5);
$o-header-transparent-link-color: #666157;
$o-header-transparent-link-hover-color: #666157;
$o-header-transparent-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.02), 0 4px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.01);

// Transparent Top bar
$o-topbar-transparent-bg: #fdfdfd;
$o-topbar-transparent-color: #7E949F;

// Navigation Collapse point
$o-nav-collapse-breakpoint: 1200px;

// Top bar
$o-topbar-height: 36px;
$o-topbar-bg: #fdfdfd;
$o-topbar-font-size: 13px;
$o-topbar-color: #7E949F;
$o-topbar-hover-color: #263238;
$o-topbar-shadow: 0 -2px 4px -1px rgba(0,0,0,.3) inset;

// Blockquotes
$o-blockquote-font-family: 'Playfair Display';
$blockquote-font-size:    24px;
$o-blockquote-font-weight: 400;
$o-blockquote-style:  italic;
$o-blockquote-line-height: 1.66666;
$o-blockquote-font-size-lg: 36px;

$blockquote-small-color:  #393e43;
$o-blockquote-small-size: 14px;
$o-blockquote-small-style: normal;

// Lead text
$lead-font-size:   24px;
$lead-font-weight: 300;
$o-lead-line-height: 40px;

// Light colored elements
$o-light-color: #f8f2e6;
$o-light-headings-color: #f8f2e6;
$o-light-link-color: #f8f2e6;
$o-light-link-hover-color: #f8f2e6;
$o-light-text-muted: #f8f2e6;
$o-light-border-color: #f8f2e6;

// Global Border radius
$border-radius: 0px;
$border-radius-lg: 0px;
$border-radius-sm: 0px;

// Buttons
$input-btn-padding-x: 36px;
$input-btn-padding-y: 11px;
$input-btn-line-height: 1.25;
$btn-font-weight: normal;
$o-input-btn-font-size: 16px;
$o-input-btn-style: uppercase;
$o-input-btn-border-width: 1px;

$btn-link-disabled-color:        #a3a197;

$input-btn-padding-x-sm:               30px;
$input-btn-padding-y-sm:               5px;

$input-btn-padding-x-lg:               40px;
$input-btn-padding-y-lg:               13px;

$btn-border-radius:              0;
$btn-border-radius-lg:           0;
$btn-border-radius-sm:           0;

// Forms
$input-padding-x:                14px;
$input-padding-y:                10px;

$input-bg:                       #fffaef;
$input-disabled-bg:              #e3dbc9;

$input-color:                    #725A39;
$input-border-color:             #e6a93c;
$input-btn-border-width:         3px;

$input-border-radius:            0;
$input-border-radius-lg:         0;
$input-border-radius-sm:         0;

$input-focus-bg:                 #F7F1E6;
$input-focus-border-color:             #725A39;
$input-focus-color:              #725A39;

$input-placeholder-color:        #a3a197;

// Footer
$o-footer-bg: rgba(0,0,0,1);
$o-footer-color: #c8bda9;
$o-footer-font-size: 16px;
$o-footer-link-color: #ffffff;
$o-footer-link-hover-color: #dad3c5;
$o-footer-headings-color: #ffffff;
$o-footer-border-color: rgba(248, 242, 230, 0.1);
$o-footer-muted-color: #bab2a1;
$o-footer-primary-color:  #121212;
$o-footer-primary-bg: rgba(248, 242, 230, .9);

// Subfooter
$o-subfooter-bg: #231e0e;
$o-subfooter-color: #c8bda9;
$o-subfooter-font-size: 16px;
$o-subfooter-link-color: #ffffff;
$o-subfooter-link-hover-color: #dad3c5;
$o-subfooter-muted-color: #bab2a1;

// Sidebar Widgets
$o-widget-padding-x: 20px;
$o-widget-padding-y: 20px;
$o-widget-bottom-margin: 30px;
$o-widget-bg: rgba(255, 255, 255, .95);
$o-widget-border-color: #ece9e2;

// Rule & border Colors
$hr-border-color: rgba(230, 169, 60, 1);

// Bordered Header width
$o-heading-border-width: 3px;

// Cards
$card-spacer-x:            30px;
$card-spacer-y:            30px;
$o-card-cap-spacer-y:      10px; // footer horizontal padding
$card-border-width:        0px;
$card-border-radius:       0;
$card-border-color:        rgba(255, 255, 255, .95);
$card-bg:                  rgba(255, 255, 255, .85);
$card-img-overlay-padding: 20px;

$card-cap-bg:              #fbf4e4;
$o-card-inverse-bg:        rgba(230, 169, 60, 0.74);

$o-card-hero-spacer-x:     100px;
$o-card-hero-spacer-y:     100px;

$o-card-overlay-bg:       rgba(0,0,0,0.65);

// List Groups
$list-group-item-padding-y: 30px;
$list-group-item-padding-x: 30px;
$list-group-border-width: 1px;

$list-group-bg: rgba(255, 255, 255, .95);
$list-group-border-color: #ece9e2;
$list-group-hover-bg: rgba(255, 255, 255, .95);

// Counters
$o-counter-width:         150px;

// Progress Bars
$progress-bg:                 rgba(0, 0, 0, .05);
$progress-bar-bg:             rgba(230, 169, 60, .9);
$progress-bar-color:          rgba(230, 169, 60, .9);
$progress-height:        4px;

// Breadcrumbs
$breadcrumb-padding-y:          30px;
$breadcrumb-padding-x:          30px;
$breadcrumb-item-padding:       10px;

$breadcrumb-bg:                 #ffffff;
$breadcrumb-divider-color:      #a3a197;
$breadcrumb-active-color:       #a3a197;
$breadcrumb-divider:            "/";

// Pagination
$pagination-padding-x:                16px;
$pagination-padding-y:                6px;
$pagination-padding-x-sm:             14px;
$pagination-padding-y-sm:             3px;
$pagination-padding-x-lg:             20px;
$pagination-padding-y-lg:             8px;

$pagination-color:                     #725A39;
$pagination-bg:                        #ffffff;
$pagination-border-width:              1px;
$pagination-border-color:              #ececec;

$pagination-hover-color:               #fbf4e4;
$pagination-hover-bg:                  #121212;
$pagination-hover-border-color:        #121212;

$pagination-active-color:              #fbf4e4;
$pagination-active-bg:                 #121212;
$pagination-active-border-color:             #121212;

$pagination-disabled-color:            #a3a197;
$pagination-disabled-bg:               #fbf4e4;
$pagination-disabled-border-color:     #f8f2e6;

// Popovers
$popover-bg:                          #121212;
$popover-body-color:                  #f8f2e6;
$popover-border-color:                #121212;
$popover-header-bg:                   #121212;

// Tooltips
$tooltip-color:               #f8f2e6;
$tooltip-bg:                  #121212;
$tooltip-padding-y:           6px;
$tooltip-padding-x:           20px;

// Modals
$modal-inner-padding:         30px;

$modal-content-bg:               #f8f2e6;
$modal-content-border-color:     rgba(0,0,0,.2);
$modal-content-border-width:     1px;
$modal-backdrop-bg:           rgba(18, 24, 35, .8);
$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    300px;

// Tables
$table-cell-padding:            20px;
$table-cell-padding-sm:         10;

$table-bg:                      transparent;
$o-table-header-bg: transparent;
$o-table-body-bg: #ffffff;
$table-accent-bg:               rgba(251, 237, 208, .2);
$table-hover-bg:                rgba(251, 237, 208, .1);
$table-active-bg:               rgba(0,0,0,.025);
$table-border-width:            1px;
$table-border-color:            rgba(0,0,0,.025);

// Nav
$nav-tabs-border-color:                       #f3ead7;
$nav-tabs-border-width:                       1px;
$nav-tabs-border-radius:                      0;
$nav-tabs-link-hover-border-color:            transparent;
$nav-tabs-link-active-color:            #121212;
$nav-tabs-link-active-bg:               #ffffff;
$nav-tabs-link-active-border-color:     #f3ead7;

// Section Background titles
$o-section-bg-color: rgba(150,150,150, .05);
$o-section-bg-size: 220px;
$o-section-bg-offset: 0px;

// Carousel indicators/text color
$carousel-control-color:                      #fff;
$carousel-caption-color:                      #fff;

// Magnific
$o-magnific-overlay-color:                   rgba(38, 21, 25, .95);
$o-magnific-controls-color:                  rgba(230, 169, 60, 1);

// Loader
$o-loader-bg: rgba(38, 21, 25, .95);
$o-loader-color: rgba(230, 169, 60, 0.5);
$o-loader-image: url("../images/logo.png");

// Box layout settings
$o-box-layout-width: 100%;  // When not defined it should be 100%
$o-box-layout-top-offest: 0px;
$o-box-layout-shadow: none;
$o-box-layout-bg: #f5f5f4;

// Go to top button
$o-go-top-bg: rgba(49, 21, 25, .7);
$o-go-top-color: #f8f2e6;
$o-go-top-radius: 50%;

// Transition Speed
$o-transition-speed: 0.3s;

// Paralax Speed
$parallax-space: 20%;
