<div class="--o--widget widget_categories">
    <h4 class="h5 --o--widget-header text-uppercase">Categories</h4>
    <ul>
        <li>
            <a href="blog.html">
                Human Resources (3)
            </a>
        </li>
        <li>
            <a href="blog.html">
                Web Development (2)
            </a>
        </li>
        <li>
            <a href="blog.html">
                Corporate Funding (1)
            </a>
        </li>
        <li>
            <a href="blog.html">
                Marketing &amp; Media (3)
            </a>
        </li>
    </ul>
</div>
