<div class="--o--widget widget_recent_entries">
    <h4 class="h5 --o--widget-header text-uppercase">Recent Posts</h4>

    <ul>
        <li  class="text-truncate">
            <a href="post.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/corporate-classic-article-11-100x100-notinclude.jpg">
            </a>
            <a href="post.html">Corporate Enviroment</a>
            <small class="post-date d-block">September 25, 2017</small>
        </li>

        <li  class="text-truncate">
            <a href="post.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/corporate-classic-article-12-100x100-notinclude.jpg">
            </a>
            <a href="post.html"> Better Sales</a>
            <small class="post-date d-block">June 12, 2017</small>
        </li>
        <li  class="text-truncate">
            <a href="post.html" class="float-left --o--mr-1 --o--widget-image" title="Post title">
                <img alt="post image" src="assets/images/corporate-classic-article-13-100x100-notinclude.jpg">
            </a>
            <a href="post.html">Stronger Leads & new visitors</a>
            <small class="post-date d-block">May 05, 2017</small>
        </li>
    </ul>
</div>
