// Basic Colors
$body-bg: #ffffff;
$body-color: #655F5E;

$o-primary:                 #f56f81;
$o-secondary:               #82CFD1;
$o-info:                    #009999;
$o-success:                 rgba(0,153,153,0.8);
$o-warning:                 #cc6633;
$o-danger:                  #a91628;
$o-light:                  #a91628;
$o-dark:                  #a91628;

// Basic Type
$font-family-base:  'Open Sans';
$font-size-base: 14px;
$font-weight-base: 300;
$line-height-base: 1.9285714286;

// Headings Type
$headings-font-family: 'Unica One';
$headings-color: #f56f81;
$headings-font-weight: 400;
$o-headings-style: normal;
$o-headings-text-transform: normal;
$headings-margin-bottom: 24px;
$headings-line-height:   1;

$h1-font-size: 46px;
$h2-font-size: 36px;
$h3-font-size: 27px;
$h4-font-size: 21px;
$h5-font-size: 16px;
$h6-font-size: 14px;

$display1-size: 72px;
$display2-size: 60px;
$display3-size: 48px;
$display4-size: 36px;

$font-size-lg:   21px;
$font-size-sm:   16px;
$font-size-xs:   14px;

// links
$link-color: #F75445;
$link-decoration: none;
$link-hover-color: #D93520;
$link-hover-decoration: none;

// Muted text
$text-muted: #82cfd1;

// Navigation
$o-nav-height: 100px;
$o-nav-height-scrolled: 90px;
$o-nav-bg: rgba(255,255,255,1);
$o-nav-font-family: 'Unica One';
$o-nav-font-weight: 400;
$o-nav-text-tranform: normal;
$o-nav-shadow: 0 2px 4px -1px rgba(0,0,0,.1),0 4px 5px 0 rgba(0,0,0,.05),0 1px 10px 0 rgba(0,0,0,.1);

$o-nav-link-font-size: 21px;
$o-nav-link-color: #575e66;
$o-nav-link-hover-color: #82CFD1;
$o-nav-link-hover-bg: transparent;
$o-nav-link-active-color: #F75445;
$o-nav-link-active-bg: transparent;
$o-nav-link-padding-y: 20px; // For menu items before collapsing only
$o-nav-link-padding-x: 30px; // For menu items after collapsing only
$o-nav-link-max-size: 130px; // For menu style with the logo in center and menu left and right
$o-nav-link-border-width: 3px;
$o-nav-link-border-color: #82CFD1;

$o-nav-brand-color: #655F5E;
$o-nav-brand-font-size: 24px;
$o-nav-link-brand-height: 90px; // For menu layouts with the logo above only
$o-nav-link-brand-width: 200px;  // Brand width for float style only
$o-nav-brand-padding-y: 20px; // Brand vertical padding

// Navigation Dropdowns
$o-nav-dropdown-bg: rgba(255, 255, 255, .9);
$o-nav-dropdown-font-size: 18px;
$o-nav-dropdown-link-color: #575e66;
$o-nav-dropdown-link-hover-color: #F75445;
$o-nav-dropdown-link-hover-bg: rgba(255, 255, 255, .95);
$o-nav-dropdown-link-active-color: #F75445;
$o-nav-dropdown-link-active-bg: rgba(255, 255, 255, .95);
$o-nav-dropdown-link-padding-y: 12px;
$o-nav-dropdown-link-padding-x: 20px;
$o-nav-dropdown-width: 220px;
$o-nav-dropdown-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.04), 0 4px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 10px 0 rgba(0, 0, 0, 0.08);

// Float header
$o-header-float-y: 20px; // Top margin for float nav only

// Transparent Header
$o-header-transparent-bg: rgba(255, 255, 255, .1);
$o-header-transparent-link-color: #ffffff;
$o-header-transparent-link-hover-color: #ffffff;
$o-header-transparent-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.02), 0 4px 5px 0 rgba(0, 0, 0, 0.05), 0 1px 10px 0 rgba(0, 0, 0, 0.01);

// Transparent Top bar
$o-topbar-transparent-bg: rgba(255, 255, 255, .45);
$o-topbar-transparent-color: #909090;

// Navigation Collapse point
$o-nav-collapse-breakpoint: 1000px;

// Top bar
$o-topbar-height: 36px;
$o-topbar-bg: #f7f5f5;
$o-topbar-font-size: 16px;
$o-topbar-color: #909090;
$o-topbar-hover-color: #7d7b7b;
$o-topbar-shadow: 0 -2px 4px -1px rgba(0,0,0,.3) inset;

// Blockquotes
$o-blockquote-font-family: 'Open Sans';
$blockquote-font-size:    24px;
$o-blockquote-font-weight: 300;
$o-blockquote-style:  italic;
$o-blockquote-line-height: 1.8;
$o-blockquote-font-size-lg: 36px;

$blockquote-small-color:  #F75445;
$o-blockquote-small-size: 14px;
$o-blockquote-small-style: normal;

// Lead text
$lead-font-size:   20px;
$lead-font-weight: 300;
$o-lead-line-height: 40px;

// Light colored elements
$o-light-color: #fafafa;
$o-light-headings-color: #fafafa;
$o-light-link-color: #fafafa;
$o-light-link-hover-color: #fafafa;
$o-light-text-muted: #fafafa;
$o-light-border-color: #fafafa;

// Global Border radius
$border-radius: 0px;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Buttons
$input-btn-padding-x: 48px;
$input-btn-padding-y: 10px;
$input-btn-line-height: 1.25;
$btn-font-weight: normal;
$o-input-btn-font-size: 14px;
$o-input-btn-style: normal;
$o-input-btn-border-width: 0px;

$btn-link-disabled-color:        #979da3;

$input-btn-padding-x-sm:               30px;
$input-btn-padding-y-sm:               5px;

$input-btn-padding-x-lg:               50px;
$input-btn-padding-y-lg:               13px;

$btn-border-radius: 18px;
$btn-border-radius-lg:           22px;
$btn-border-radius-sm:           14px;

// Forms
$input-padding-x:                14px;
$input-padding-y:                10px;

$input-bg:                       #F9EBEA;
$input-disabled-bg:              #c5c2c5;

$input-color:                    rgba(247,84,69,.5);
$input-border-color:             rgba(247,84,69,.5);
$input-btn-border-width:         3px;

$input-border-radius:            0px;
$input-border-radius-lg:         0;
$input-border-radius-sm:         0;

$input-focus-bg:                 #F9EBEA;
$input-focus-border-color:             #F75445;
$input-focus-color:              #F75445;

$input-placeholder-color:        #CFCAC4;

// Footer
$o-footer-bg: #F75445;
$o-footer-color: #F9EBEA;
$o-footer-font-size: 14px;
$o-footer-link-color: #FFFFFF;
$o-footer-link-hover-color: #F9EBEA;
$o-footer-headings-color: #F9EBEA;
$o-footer-border-color: rgba(255, 255, 255, 0.1);
$o-footer-muted-color: #F9EBEA;
$o-footer-primary-color:  #F9EBEA;
$o-footer-primary-bg: #F75445;

// Subfooter
$o-subfooter-bg: #D93520;
$o-subfooter-color: #fbd6d3;
$o-subfooter-font-size: 14px;
$o-subfooter-link-color: #FFFFFF;
$o-subfooter-link-hover-color: #F9EBEA;
$o-subfooter-muted-color: #F9EBEA;

// Sidebar Widgets
$o-widget-padding-x: 20px;
$o-widget-padding-y: 20px;
$o-widget-bottom-margin: 30px;
$o-widget-bg: rgba(255, 255, 255, .8);
$o-widget-border-color: #FFF;

// Rule & border Colors
$hr-border-color: #82cfd1;

// Bordered Header width
$o-heading-border-width: 3px;

// Cards
$card-spacer-x:            30px;
$card-spacer-y:            30px;
$o-card-cap-spacer-y:      10px; // footer horizontal padding
$card-border-width:        0px;
$card-border-radius:       0;
$card-border-color:        rgba(255, 255, 255, 1);
$card-bg:                  rgba(255, 255, 255, 1);
$card-img-overlay-padding: 20px;

$card-cap-bg:              #f7f7f7;
$o-card-inverse-bg:        #f56f81;

$o-card-hero-spacer-x:     67px;
$o-card-hero-spacer-y:     67px;

$o-card-overlay-bg:       rgba(78, 120, 121, 1);

// List Groups
$list-group-item-padding-y: 20px;
$list-group-item-padding-x: 20px;
$list-group-border-width: 1px;

$list-group-bg: rgba(255, 255, 255, .8);
$list-group-border-color: #f0f0f0;
$list-group-hover-bg: #f7f7f7;

// Counters
$o-counter-width:         150px;

// Progress Bars
$progress-bg:                 #F9EBEA;
$progress-bar-bg:             #FD6138;
$progress-bar-color:          #F75445;
$progress-height:        4px;

// Breadcrumbs
$breadcrumb-padding-y:          0px;
$breadcrumb-padding-x:          0px;
$breadcrumb-item-padding:       10px;

$breadcrumb-bg:                 #f7f7f7;
$breadcrumb-divider-color:      #979da3;
$breadcrumb-active-color:       #979da3;
$breadcrumb-divider:            "/";

// Pagination
$pagination-padding-x:                16px;
$pagination-padding-y:                12px;
$pagination-padding-x-sm:             14px;
$pagination-padding-y-sm:             3px;
$pagination-padding-x-lg:             20px;
$pagination-padding-y-lg:             8px;

$pagination-color:                     #333;
$pagination-bg:                        #fff;
$pagination-border-width:              1px;
$pagination-border-color:              #ddd;

$pagination-hover-color:               #F9EBEA;
$pagination-hover-bg:                  #F75445;
$pagination-hover-border:              #F75445;

$pagination-active-color:              #F9EBEA;
$pagination-active-bg:                 #F75445;
$pagination-active-border-color:             #F75445;

$pagination-disabled-color:            #333;
$pagination-disabled-bg:               #fff;
$pagination-disabled-border:           #ddd;

// Popovers
$popover-bg:                          #F75445;
$popover-body-color:                     #F9EBEA;
$popover-border-color:                #F75445;
$popover-header-bg:                    #F75445;

// Tooltips
$tooltip-color:               #F9EBEA;
$tooltip-bg:                  #F75445;
$tooltip-padding-y:           6px;
$tooltip-padding-x:           20px;

// Modals
$modal-inner-padding:         30px;

$modal-content-bg:               #F75445;
$modal-content-border-color:     rgba(0,0,0,.2);
$modal-content-border-width:     1px;
$modal-backdrop-bg:           rgba(6, 26, 64, .8);
$modal-lg:                    900px;
$modal-md:                    600px;
$modal-sm:                    300px;

// Tables
$table-cell-padding:            20px;
$table-cell-padding-sm:         10;

$table-bg:                      rgba(249,235,231,.5);
$o-table-header-bg:             #F9EBEA;
$o-table-body-bg: rgba(255, 255, 255, .8);
$table-accent-bg:               rgba(249, 235, 234, 0.6);
$table-hover-bg:                rgba(249, 235, 234, 0.4);
$table-active-bg:               red;
$table-border-width:            1px;
$table-border-color:            rgba(0,0,0,.025);

// Nav
$nav-tabs-border-color:                       #dbdad7;
$nav-tabs-border-width:                       1px;
$nav-tabs-border-radius:                      0;
$nav-tabs-link-hover-border-color:            transparent;
$nav-tabs-link-active-color:            #061a40;
$nav-tabs-link-active-bg:               #ffffff;
$nav-tabs-link-active-border-color:     #dbdad7;

// Section Background titles
$o-section-bg-color: rgba(0,0,0, .03);
$o-section-bg-size: 200px;
$o-section-bg-offset: 100px;

// Carousel indicators/text color
$carousel-control-color:                      #f89eab;
$carousel-caption-color:                      rgba(247,84,69,0.9);

// Magnific - Full Screen Search
$o-magnific-overlay-color:                   rgba(6, 26, 64, .8);
$o-magnific-controls-color:                  #fdfffc;

// Loader
$o-loader-bg: rgba(255,107,130,0.0);
$o-loader-color: #f8ced4;
$o-loader-image: url("../images/logo.png");

// Box layout settings
$o-box-layout-width: 100%;  // When not defined it should be 100%
$o-box-layout-top-offest: 0px;
$o-box-layout-shadow: none;
$o-box-layout-bg: #ffffff;

// Go to top button
$o-go-top-bg: rgba(130,207,209,0.9);
$o-go-top-color: #ffffff;
$o-go-top-radius: 50%;

// Transition Speed
$o-transition-speed: 0.3s;

// Paralax Speed
$parallax-space: 20%;
