<footer class="--o--footer">
    <div class="section">

        <div class="section-content">
            <div class="container">
                <div class="row --o--py-15">
                    <div class="col-md-12 text-center">
                        <div class="textwidget">
                            <p>Feel free to <a href="contact.html"><u>contact</u></a> me for any requests or crazy <br>photo shooting ideas you might have</p>
                        </div>
                        <div class="--o--icon-set">
                            <a class="--o--icon-set-item --o--transition" href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a class="--o--icon-set-item --o--transition" href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a class="--o--icon-set-item --o--transition" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="--o--icon-set-item --o--transition" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<a href="#" class="--o--go-top --o--shadow-hover-10 d-none d-sm-block hide --o--shadow-5 --o--shadow-hover-10">
    <i class="fa fa-angle-up"></i>
</a>
