{% set active_page = 'blog.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-02"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h1 class="display-3 text-uppercase --o--text-light --o--font-weight-300 --o--mt-25 --o--mb-15 --o--opacity-8 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <span class="text-muted">Our </span> News
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background" data-section-bg-title="NEWS"></div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-10">
                <div class="col-lg-9 --o--mb-5 --o--mb-lg-0">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-10 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">

                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/corporate-classic-article-05-800x300-notinclude.jpg" alt="Card image">
                        </div>

                        <div class="card-body">
                            <h2 class="h3 card-title text-uppercase --o--mb-1">
                                Working with clients from abroad
                            </h2>
                            <p class="card-subtitle font-italic text-muted --o--mb-1">By <a href="author.html">Christos</a> on May 1977, in <a href="blog.html">Management</a></p>
                            <p class="card-text">Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate one-to-one customer service with robust ideas. Dynamically innovate resource-leveling customer service for state of the art customer service. </p>

                            <p class="card-text">Objectively innovate empowered manufactured products whereas parallel platforms. Holisticly predominate extensible testing procedures for reliable supply chains. Dramatically engage top-line web services vis-a-vis cutting-edge deliverables.</p>

                            <p class="card-text">Proactively envisioned multimedia based expertise and cross-media growth strategies. Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals after maintainable products.</p>

                            <p class="card-text">Phosfluorescently engage worldwide methodologies with web-enabled technology. Interactively coordinate proactive e-commerce via process-centric "outside the box" thinking. Completely pursue scalable customer service through sustainable potentialities.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                <i class="fa fa-tags text-muted"></i>
                                <a href="#" class="text-muted">corporation</a>,
                                <a href="#" class="text-muted">financial</a>,
                                <a href="#" class="text-muted">investment</a>
                            </small>
                            <div class="--o--icon-set --o--icon-set-expandable --o--transition float-right">
                                <a class="--o--icon-set-item --o--icon-set-item-trigger text-muted" href="1">
                                    <i class="fa fa-share-alt"></i>
                                </a>
                                <a class="--o--icon-set-item --o--icon-set-item-close --o--transition" href="2">
                                    <i class="fa fa-close"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="--o--mb-10">
                        <a href="#" class="btn btn-primary --o--shadow-4 --o--shadow-hover-8 --o--transition --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s"> ← previous post </a>
                        <a href="#" class="btn btn-primary float-right --o--shadow-4 --o--shadow-hover-8 --o--transition --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s"> next post →</a>
                    </div>

                    <div class="card card-horizontal --o--shadow-15 --o--shadow-hover-20 --o--mb-10 --o--transition --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-img-container">
                                    <img src="assets/images/corporate-classic-author-01-250x250-notinclude.jpg" alt="Card image" class="card-img">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h2 class="h5 text-uppercase card-title --o--mb-3">
                                        <a href="author.html">Stelios D Johnon</a>
                                    </h2>
                                    <p>Synergistically evolve 2.0 technologies rather than just in time initiatives. Quickly deploy strategic networks with compelling e-business. Credibly pontificate highly efficient manufactured products and enabled data.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="h4 text-uppercase --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">Related posts</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/corporate-classic-article-06-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="post.html">Working at a deadline</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">Web Design</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/corporate-classic-article-07-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="post.html">Managing your time</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">Human Resources</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 class="h4 text-uppercase --o--mb-3 --o--transition --o--mt-10 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">4 comments</h4>
                    <div class="media-list">
                        <div class="media">
                            <img class="d-flex --o--mr-1 --o--mr-md-3 rounded-circle" src="assets/images/corporate-classic-team-10-70x70-notinclude.jpg" alt="comments author">
                            <div class="media-body">
                                <h5 class="media-heading --o--mb-1 font-italic">Peter Chur Chlington - <small class="text-muted">June 11th, 2001 <a href="#" class="float-right">reply</a></small></h5>
                                <p>Proactively fabricate one-to-one materials via effective e-business.</p>
                            </div>
                        </div>
                        <div class="media --o--mt-10">
                            <img class="d-flex --o--mr-1 --o--mr-md-3 rounded-circle" src="assets/images/corporate-classic-team-11-70x70-notinclude.jpg" alt="comments author">
                            <div class="media-body">
                                <h5 class="media-heading --o--mb-1 font-italic">Don Johnson - <small class="text-muted">June 11th, 2001 <a href="#" class="float-right">reply</a></small></h5>
                                <p>Objectively integrate emerging core competencies before process-centric communities. Dramatically evisculate holistic innovation rather than client-centric data.</p>
                                <!-- Nested media object -->
                                <div class="media --o--mt-10">
                                    <a class="media-left" href="#">
                                        <img class="d-flex --o--mr-1 --o--mr-md-3 rounded-circle" src="assets/images/corporate-classic-team-12-70x70-notinclude.jpg" alt="comments author">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="media-heading --o--mb-1 font-italic">Peter Chur Chlington - <small class="text-muted">June 11th, 2001 <a href="#" class="float-right">reply</a></small></h5>
                                        <p>Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate standardized metrics after resource-leveling processes.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media --o--mt-10">
                            <img class="d-flex --o--mr-1 --o--mr-md-3 rounded-circle" src="assets/images/corporate-classic-team-13-70x70-notinclude.jpg" alt="comments author">
                            <div class="media-body">
                                <h5 class="media-heading --o--mb-1 font-italic">Peter Chur Chlington - <small class="text-muted">June 11th, 2001 <a href="#" class="float-right">reply</a></small></h5>
                                <p>Dynamically target high-payoff intellectual capital for customized technologies.</p>
                            </div>
                        </div>
                    </div>

                    <h4 class="h4 text-uppercase --o--mb-3 --o--transition --o--mt-10 --o--os-animation text-shadow" data-os-animation="fadeIn" data-os-animation-delay=".3s">Leave a reply</h4>
                    <form>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <input type="text" class="--o--mb-3 form-control --o--shadow-2 --o--shadow-focus-4 --o--transition " id="lgFormGroupInput" placeholder="Your Name">
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="--o--mb-3 form-control --o--shadow-2 --o--shadow-focus-4 --o--transition " id="smFormGroupInput" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="form-group row --o--mb-3">
                            <div class="col-md-12">
                                <textarea rows="8" class="form-control --o--shadow-2 --o--shadow-focus-4 --o--transition " id="smFormGroupArea" placeholder="Your Comment"></textarea>
                            </div>
                        </div>
                        <div class="form-group row ">
                            <div class="col-md-12">
                                <input type="submit" value="Post Comment" class="btn btn-primary --o--shadow-2 --o--shadow-focus-4 --o--transition ">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 sidebar">
                    {% include "partials/sidebar.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
