{% set active_page = 'services.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-01"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h1 class="display-3 text-uppercase --o--text-light --o--font-weight-300 --o--mt-25 --o--mb-15 --o--opacity-8 --o--os-animation text-lg-right" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <span class="text-muted">Our </span> Services
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background" data-section-bg-title="SERVICES"></div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-10 --o--mb-lg-10">
                <div class="col-lg-3">
                    <h1 class="h2 --o--heading-image --o--heading-image-01 --o--heading-image-reversed text-uppercase  text-left text-lg-right --o--os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                        <small class="d-block text-muted">View Our</small> Services
                    </h1>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                <div class="card-body">
                                    <img src="assets/images/corporate-classic-icon-01-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h4 class="card-title text-uppercase --o--mb-2">
                                        <a href="service.html">Marketing</a>
                                    </h4>
                                    <p class="card-text">Leverage agile frameworks to provide a robust synopsis for high level overviews. </p>
                                </div>
                            </div>
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-body">
                                    <img src="assets/images/corporate-classic-icon-02-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h4 class="card-title text-uppercase --o--mb-2">
                                        <a href="service.html">Strategy</a>
                                    </h4>
                                    <p class="card-text">Organically grow the holistic world view of disruptive innovation. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-body">
                                    <img src="assets/images/corporate-classic-icon-03-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h4 class="card-title text-uppercase --o--mb-2">
                                        <a href="service.html">Financial</a>
                                    </h4>
                                    <p class="card-text">Bring to the table win-win survival strategies to ensure proactive domination. </p>
                                </div>
                            </div>
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-body">
                                    <img src="assets/images/corporate-classic-icon-04-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h4 class="card-title text-uppercase --o--mb-2">
                                        <a href="service.html">Capital</a>
                                    </h4>
                                    <p class="card-text">Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-body">
                                    <img src="assets/images/corporate-classic-icon-05-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h4 class="card-title text-uppercase --o--mb-2">
                                        <a href="service.html">Broadcast</a>
                                    </h4>
                                    <p class="card-text">Override the digital divide with additional clickthroughs from DevOps.  </p>
                                </div>
                            </div>
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                                <div class="card-body">
                                    <img src="assets/images/corporate-classic-icon-06-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h4 class="card-title text-uppercase --o--mb-2">
                                        <a href="service.html">Management</a>
                                    </h4>
                                    <p class="card-text">User generated content in real-time will have multiple touchpoints for offshoring. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
     <div class="section-background" data-section-bg-title="STRATEGY">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-02"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-10 --o--pb-10 --o--text-light">
                <div class="col-lg-3">
                    <h1 class="h2 --o--heading-image --o--heading-image-01 --o--heading-image-reversed text-uppercase  text-left text-lg-right --o--os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                        <small class="d-block text-muted">Our</small> Strategy
                    </h1>
                </div>
                <div class="col-lg-9">
                    <div class="card card-hero card-inverse --o--shadow-15 --o--shadow-hover-20 --o--os-animation text-center --o--mt-lg--20 --o--demo-bg-gradient-02" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="assets/images/corporate-classic-icon-07-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h3 class="--o--font-weight-300 text-muted">
                                        1. Think
                                    </h3>
                                    <p>Organically grow the holistic world view of disruptive innovation via workplace.</p>
                                </div>
                                <div class="col-md-4">
                                    <img src="assets/images/corporate-classic-icon-08-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h3 class="--o--font-weight-300 text-muted">
                                        2. Proccess
                                    </h3>
                                    <p>Bring to the table win-win survival strategies to ensure proactive domination.</p>
                                </div>
                                <div class="col-md-4">
                                    <img src="assets/images/corporate-classic-icon-09-60x60-notinclude.png" alt="service" class="--o--mt-4 --o--mb-4">
                                    <h3 class="--o--font-weight-300 text-muted">
                                        3. Results
                                    </h3>
                                    <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

