{% set active_page = 'services.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-02"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h1 class="display-3 text-uppercase --o--text-light --o--font-weight-300 --o--mt-25 --o--mb-15 --o--opacity-8 --o--os-animation text-lg-right" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <span class="text-muted">Capital </span> Investment
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background" data-section-bg-title="DESCRIPTION"></div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-10">
                <div class="col-lg-3">
                    <h1 class="h2 --o--heading-image --o--heading-image-01 --o--heading-image-reversed text-uppercase  text-left text-lg-right --o--os-animation" data-os-animation="fadeInLeft" data-os-animation-delay=".3s">
                        <small class="d-block text-muted">Service</small>Description
                    </h1>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/corporate-classic-article-10-800x300-notinclude.jpg" alt="Card image">
                                </div>
                            </div>

                            <div class="--o--col-count-2 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                <p>
                                Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
                                </p>
                                <p>
                                Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.
                                </p>
                                <p>
                                Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

