{% set active_page = 'about.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-01"></div>
        <div class="section-bg-image --o--demo-bg-noise --o--opacity-5"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-20 --o--pb-15 align-items-center">
                <div class="col-lg-4 text-center text-lg-left">
                    <h1 class="--o--os-animation --o--font-weight-200 text-muted" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        Just a few things to know <span class="--o--demo-color-gray-dark">about us</span>
                    </h1>
                    <p class="--o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        Verso Design inc is an experienced and passionate group of designers, developers, project managers, writers and artists. Every client we work with becomes a part of the team. Together we face the challenges and celebrate the victories.
                    </p>
                </div>
                <div class="col-lg-8">
                    <img class="--o--os-animation img-fluid" data-os-animation="fadeInUp" data-os-animation-delay=".3s" src="assets/images/web-agency-ipad-910x560.png" alt="ipad">
                </div>
            </div>

            <div class="row --o--pb-20">
                <div class="col-lg-3 text-center text-lg-left --o--order-lg-2">
                    <h2 class="--o--mb-3 --o--mt-7 --o--os-animation --o--font-weight-200 " data-os-animation="fadeIn" data-os-animation-delay=".3s">Why we rock?</h2>
                    <p class="--o--os-animation --o--mb-5"  data-os-animation="fadeIn" data-os-animation-delay=".4s">Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive technologies.</p>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card --o--shadow-big --o--mb-3 --o--transition --o--mb-0 --o--os-animation --o--os-animation text-center --o--demo-bg-card-02" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                <div class="card-body">
                                    <h1 class="display-one text-muted --o--mb-1 --o--mt-4 --o--opacity-8">
                                        852
                                    </h1>
                                    <h4 class="text-uppercase --o--mb-4">
                                        Projects
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card --o--shadow-big --o--mb-3 --o--transition --o--os-animation --o--os-animation text-center --o--demo-bg-card-01" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-body">
                                    <h1 class="display-one text-muted --o--mb-1 --o--mt-4 --o--opacity-8">
                                        520
                                    </h1>
                                    <h4 class="text-uppercase --o--mb-4">
                                        Clients
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card --o--shadow-big --o--mb-3 --o--transition --o--os-animation --o--os-animation text-center --o--demo-bg-card-03" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-body">
                                    <h1 class="display-one text-muted --o--mb-1 --o--mt-4 --o--opacity-8">
                                        28
                                    </h1>
                                    <h4 class="text-uppercase --o--mb-4">
                                        Awards
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card --o--shadow-big --o--mb-3 --o--transition --o--os-animation --o--os-animation text-center --o--demo-bg-card-04" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                <div class="card-body">
                                    <h1 class="display-one text-muted --o--mb-1 --o--mt-4 --o--opacity-8">
                                        340
                                    </h1>
                                    <h4 class="text-uppercase --o--mb-4">
                                        Posts
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card --o--shadow-big --o--mb-3 --o--transition --o--os-animation --o--os-animation text-center --o--demo-bg-card-05" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-body">
                                    <h1 class="display-one text-muted --o--mb-1 --o--mt-4 --o--opacity-8">
                                        25
                                    </h1>
                                    <h4 class="text-uppercase --o--mb-4">
                                        Apps
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card --o--shadow-big --o--mb-3 --o--transition --o--os-animation --o--os-animation text-center --o--demo-bg-card-06" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-body">
                                    <h1 class="display-one text-muted --o--mb-1 --o--mt-4 --o--opacity-8">
                                        105
                                    </h1>
                                    <h4 class="text-uppercase --o--mb-4">
                                        Themes
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row --o--pb-15  align-items-center">
                
                <div class="col-lg-4">
                    <h2 class="--o--mb-3 --o--mt--2 --o--os-animation --o--font-weight-200" data-os-animation="fadeIn" data-os-animation-delay=".3s">How we do it?</h2>
                    <p class="--o--os-animation --o--demo-list-bg-image-01 --o--pt-3 --o--pl-3 --o--mb-5"  data-os-animation="fadeIn" data-os-animation-delay=".4s">We listen, we discuss, we advise. Sounds obvious but we listen to your ideas, plans and objectives for your business.</p>
                    <p class="--o--os-animation --o--demo-list-bg-image-02 --o--pt-3 --o--pl-3 --o--mb-5"  data-os-animation="fadeIn" data-os-animation-delay=".5s">Whether it’s website or graphic design, system development or custom programming we like to keep everything under one roof.</p>
                    <p class="--o--os-animation --o--demo-list-bg-image-03 --o--pt-3 --o--pl-3 --o--mb-5"  data-os-animation="fadeIn" data-os-animation-delay=".6s">We love nothing more than working on a great project with a fantastic client. We care about our clients and can often be found..</p>
                </div>
                <div class="col-lg-8">
                    <img class="--o--os-animation img-fluid" data-os-animation="fadeIn" data-os-animation-delay=".3s" src="assets/images/web-agency-iphones-750x780.png" alt="iphones">
                </div>
            </div>

            <div class="row --o--pb-20">
                <div class="col-lg-3 text-center text-lg-left --o--order-lg-2">
                    <h2 class="--o--mb-3 --o--mt-7 --o--os-animation --o--font-weight-200 " data-os-animation="fadeIn" data-os-animation-delay=".3s">Our Story</h2>
                    <p class="--o--os-animation --o--mb-5"  data-os-animation="fadeIn" data-os-animation-delay=".4s">We listen, we discuss, we advise. Sounds obvious but we listen to your ideas, plans and objectives for your business.
                    </p>

                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-hero --o--shadow-big --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                <div class="card-body">
                                    <div class="--o--timeline">
                                        <div class="--o--timeline-item">
                                            <h3 class="--o--timeline-item-title --o--mb-1">2001 <small class=" --o--opacity-5">- The Foundation</small></h3>
                                            <p class="lead --o--timeline-item-description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam veniam obcaecati animi voluptates expedita ratione facilis officiis, eum illo id dolor deleniti quidem quo sed quibusdam rem neque eos. Facilis?
                                            </p>
                                        </div>
                                        <div class="--o--timeline-item">
                                            <h3 class="--o--timeline-item-title --o--mb-1">2004 <small class=" --o--opacity-5">- The expansion</small></h3>
                                            <p class="lead  --o--timeline-item-description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, voluptatum cumque aut adipisci magnam. Aliquam hic vel culpa eligendi saepe cum fugiat alias eum maiores ut cumque voluptas, debitis.
                                            </p>
                                        </div>
                                        <div class="--o--timeline-item">
                                            <h3 class="--o--timeline-item-title --o--mb-1">2015 <small class=" --o--opacity-5">- The success</small></h3>
                                            <p class="lead  --o--timeline-item-description">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel repellendus nisi quibusdam amet tenetur placeat ipsum perferendis, earum illo. Dolores deleniti, tempore, asperiores esse libero quo natus dolorem ipsa est.
                                            </p>
                                        </div>
                                    </div>
                                </div>  
                                
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

