{% set active_page = 'services.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-01"></div>
        <div class="section-bg-image --o--demo-bg-noise --o--opacity-5"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-20 --o--pb-15 align-items-center">
                <div class="col-lg-5 text-center text-lg-left">
                    <h1 class="--o--os-animation --o--font-weight-200 text-muted" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        We help <span class="--o--demo-color-gray-dark">people</span> engage with their <span class="--o--demo-color-gray-dark">visions</span>
                    </h1>
                    <p class="--o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        Verso Design inc is an experienced and passionate group of designers, developers, project managers, writers and artists. Every client we work with becomes a part of the team. Together we face the challenges and celebrate the victories.
                    </p>
                </div>
                <div class="col-lg-7">
                    <img class="--o--os-animation img-fluid" data-os-animation="fadeInUp" data-os-animation-delay=".3s" src="assets/images/web-agency-iphones-750x550.png" alt="ipad">
                </div>
            </div>

            <div class="row --o--pb-15">
                <div class="col-lg-3 text-center text-lg-left --o--order-lg-2">
                    <h2 class="--o--mb-3 --o--mt-7 --o--os-animation --o--font-weight-200 " data-os-animation="fadeIn" data-os-animation-delay=".3s">Things we do best</h2>
                    <p class="--o--os-animation --o--mb-5"  data-os-animation="fadeIn" data-os-animation-delay=".4s">Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive technologies.</p>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card --o--shadow-big --o--mb-3 --o--transition --o--mb-0 --o--os-animation --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                <div class="card-body">
                                    <img class="card-img --o--mt-1 --o--pl-2 --o--pr-2" src="assets/images/web-agency-service-icon-01-78x78.png" alt="Card image">
                                    <h3 class="h4 --o--mb-2 --o--mt--2">
                                        Visualize
                                    </h3>
                                    <p class="--o--mb-0">
                                        We define the basic principles of the project.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card --o--shadow-big --o--mb-3 --o--transition --o--os-animation --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-body">
                                    <img class="card-img --o--mt-1 --o--pl-2 --o--pr-2" src="assets/images/web-agency-service-icon-02-78x78.png" alt="Card image">
                                    <h3 class="h4 --o--mb-2 --o--mt--2">
                                        Research
                                    </h3>
                                    <p class="--o--mb-0">
                                        We take into account all the variables needed.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card --o--shadow-big --o--mb-3 --o--transition --o--os-animation --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-body">
                                    <img class="card-img --o--mt-1 --o--pl-2 --o--pr-2" src="assets/images/web-agency-service-icon-03-78x78.png" alt="Card image">
                                    <h3 class="h4 --o--mb-2 --o--mt--2">
                                        Develop
                                    </h3>
                                    <p class="--o--mb-0">
                                        We develop based on the needs and the research.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card --o--shadow-big --o--mb-3 --o--transition --o--os-animation --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                <div class="card-body">
                                    <img class="card-img --o--mt-1 --o--pl-2 --o--pr-2" src="assets/images/web-agency-service-icon-04-78x78.png" alt="Card image">
                                    <h3 class="h4 --o--mb-2 --o--mt--2">
                                        Branding
                                    </h3>
                                    <p class="--o--mb-0">
                                        We make you stand out of the competition.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card --o--shadow-big --o--mb-3 --o--transition --o--os-animation --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-body">
                                    <img class="card-img --o--mt-1 --o--pl-2 --o--pr-2" src="assets/images/web-agency-service-icon-05-78x78.png" alt="Card image">
                                    <h3 class="h4 --o--mb-2 --o--mt--2">
                                        Coding
                                    </h3>
                                    <p class="--o--mb-0">
                                        We deliver five star coding experience.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card --o--shadow-big --o--mb-3 --o--transition --o--os-animation --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-body">
                                    <img class="card-img --o--mt-1 --o--pl-2 --o--pr-2" src="assets/images/web-agency-service-icon-06-78x78.png" alt="Card image">
                                    <h3 class="h4 --o--mb-2 --o--mt--2">
                                        Web Design
                                    </h3>
                                    <p class="--o--mb-0">
                                        We design products that will make your clients happy.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row --o--pb-20  align-items-center">
                <div class="col-lg-10 --o--mb--20">
                    <img class="--o--os-animation img-fluid" data-os-animation="fadeIn" data-os-animation-delay=".3s" src="assets/images/web-agency-macbook-910x600.png" alt="ipad">
                </div>
                <div class="col-lg-7 ml-auto">
                    <div class="card card-hero text-center --o--shadow-big --o--transition --o--mb-3 --o--os-animation --o--os-animation --o--mt--20" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <h2 class="--o--font-weight-200">Want to work with us?</h2>
                            <p class="--o--mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa sint exercitationem reprehenderit tempora commodi consequuntur quam dolore modi harum aliquam sunt dicta unde est explicabo velit nam, illum amet. Error.</p>
                            <a href="contact.html" class="btn btn-primary btn-lg --o--shadow-5 --o--shadow-hover-8">get in touch</a>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>



{% endblock %}
