{% set active_page = 'team.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-01"></div>
        <div class="section-bg-image --o--demo-bg-noise --o--opacity-5"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-20 --o--pb-15 align-items-center">
                <div class="col-lg-5 text-center text-lg-left">
                    <h1 class="--o--os-animation --o--font-weight-200 text-muted" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        Meet our <span class="--o--demo-color-gray-dark">amazing</span> team of <span class="--o--demo-color-gray-dark">superheroes</span>
                    </h1>
                </div>
            </div>

            <div class="row --o--pb-15">

                <div class="col-md-4 col-lg-3">
                    <div class="card --o--shadow-big --o--transition --o--mb-0 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/web-agency-team-01-260x375.jpg" alt="Card image">
                        </div>
                    </div>
                    <div class="card --o--shadow-big --o--transition --o--ml-2 --o--mr-2 --o--mt--6 --o--mb-3 --o--os-animation --o--os-animation text-center --o--demo-bg-gradiend-01" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <h4 class="h5 card-title text-uppercase --o--mb-1">
                                <a href="team-single.html">Mandy Smith</a>
                            </h4>
                            <p class="card-text --o--mb-0 text-uppercase">CEO, Co-founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card --o--shadow-big --o--transition --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/web-agency-team-02-260x375.jpg" alt="Card image">
                        </div>
                    </div>
                    <div class="card --o--shadow-big --o--transition --o--ml-2 --o--mr-2 --o--mt--6 --o--mb-3 --o--os-animation --o--os-animation text-center --o--demo-bg-gradiend-01" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="card-body">
                            <h4 class="h5 card-title text-uppercase --o--mb-1">
                                <a href="team-single.html">Jason Stardust</a>
                            </h4>
                            <p class="card-text text-uppercase --o--mb-0">CEO, Lead designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card --o--shadow-big --o--transition  --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/web-agency-team-03-260x375.jpg" alt="Card image">
                        </div>
                    </div>
                    <div class="card --o--shadow-big --o--transition --o--ml-2 --o--mr-2 --o--mt--6 --o--mb-3 --o--os-animation --o--os-animation text-center --o--demo-bg-gradiend-01" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                        <div class="card-body">
                            <h4 class="h5 card-title text-uppercase --o--mb-1">
                                <a href="team-single.html">Jane Underwood</a>
                            </h4>
                            <p class="card-text text-uppercase --o--mb-0">Web designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card --o--shadow-big --o--transition --o--mb-0 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/web-agency-team-04-260x375.jpg" alt="Card image">
                        </div>
                    </div>
                    <div class="card --o--shadow-big --o--transition --o--ml-2 --o--mr-2 --o--mt--6 --o--mb-3 --o--os-animation --o--os-animation text-center --o--demo-bg-gradiend-01" data-os-animation="fadeIn" data-os-animation-delay=".7s">
                        <div class="card-body">
                            <h4 class="h5 card-title text-uppercase --o--mb-1">
                                <a href="team-single.html">Sam Maddison</a>
                            </h4>
                            <p class="card-text text-uppercase --o--mb-0">Co-founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card --o--shadow-big --o--transition --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/web-agency-team-05-260x375.jpg" alt="Card image">
                        </div>
                    </div>
                    <div class="card --o--shadow-big --o--transition --o--ml-2 --o--mr-2 --o--mt--6 --o--mb-3 --o--os-animation --o--os-animation text-center --o--demo-bg-gradiend-01" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <h4 class="h5 card-title text-uppercase --o--mb-1">
                                <a href="team-single.html">Ann Doyle</a>
                            </h4>
                            <p class="card-text text-uppercase --o--mb-0">Project manager</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card --o--shadow-big --o--transition  --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/web-agency-team-06-260x375.jpg" alt="Card image">
                        </div>
                    </div>
                    <div class="card --o--shadow-big --o--transition --o--ml-2 --o--mr-2 --o--mt--6 --o--mb-3 --o--os-animation --o--os-animation text-center --o--demo-bg-gradiend-01" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="card-body">
                            <h4 class="h5 card-title text-uppercase --o--mb-1">
                                <a href="team-single.html">Sam Franson</a>
                            </h4>
                            <p class="card-text text-uppercase --o--mb-0">App designer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card --o--shadow-big --o--transition --o--mb-0 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/web-agency-team-07-260x375.jpg" alt="Card image">
                        </div>
                    </div>
                    <div class="card --o--shadow-big --o--transition --o--ml-2 --o--mr-2 --o--mt--6 --o--mb-3 --o--os-animation --o--os-animation text-center --o--demo-bg-gradiend-01" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                        <div class="card-body">
                            <h4 class="h5 card-title text-uppercase --o--mb-1">
                                <a href="team-single.html">Mary Dean</a>
                            </h4>
                            <p class="card-text --o--mb-0 text-uppercase">CEO, Co-founder</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="card --o--shadow-big --o--transition --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/web-agency-team-08-260x375.jpg" alt="Card image">
                        </div>
                    </div>
                    <div class="card --o--shadow-big --o--transition --o--ml-2 --o--mr-2 --o--mt--6 --o--mb-3 --o--os-animation --o--os-animation text-center --o--demo-bg-gradiend-01" data-os-animation="fadeIn" data-os-animation-delay=".7s">
                        <div class="card-body">
                            <h4 class="h5 card-title text-uppercase --o--mb-1">
                                <a href="team-single.html">Helen Don</a>
                            </h4>
                            <p class="card-text text-uppercase --o--mb-0">CEO, Lead designer</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row --o--pb-20  ">
                <div class="col-lg-3 text-center text-lg-left --o--order-lg-2">
                    <h2 class="--o--mb-3 --o--mt-7 --o--os-animation --o--font-weight-200 " data-os-animation="fadeIn" data-os-animation-delay=".3s">Our Clients</h2>
                    <p class="--o--os-animation --o--mb-5"  data-os-animation="fadeIn" data-os-animation-delay=".4s">We listen, we discuss, we advise. Sounds obvious but we listen to your ideas, plans and objectives for your business.
                    </p>
                </div>
                <div class="col-lg-9">
                    <div class="card card-hero --o--shadow-big --o--transition --o--mb-3 --o--os-animation --o--os-animation " data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <div id="carousel-02" class="carousel slide --o--pl-2 --o--pr-2 --o--pb-3 text-center carousel-indicators-circle" data-ride="carousel">
                                <ol class="carousel-indicators ">
                                    <li data-target="#carousel-02" data-slide-to="0" class="active --o--transition"></li>
                                    <li class="--o--transition" data-target="#carousel-02" data-slide-to="1"></li>
                                    <li class="--o--transition" data-target="#carousel-02" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <blockquote class="card-blockquote blockquote">
                                            <p>Since the 1500’s, when a printer jumbled a gallery of type to create a type specimen book, Lorem Ipsum has been the industry standard for dummy text. Today, a variety of software can create random text that resembles. </p>
                                            <footer class="blockquote-footer text-uppercase --o--mt-3 ">Jason Smith <cite title="Source Title">CEO</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="carousel-item">
                                        <blockquote class="card-blockquote blockquote">
                                            <p>Lorem Ipsum is absolutely necessary in most design cases, too. Web design projects like landing pages, website redesigns and so on only look as intended when they're fully-fleshed out with content. Even if the design work .</p>
                                            <footer class="blockquote-footer text-uppercase --o--mt-3">Jim Mack <cite title="Source Title">CTO</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="carousel-item">
                                        <blockquote class="card-blockquote blockquote">
                                            <p>There really is no limit to where Lorem Ipsum should be used. It doesn't matter if you're building the next Facebook, or if you're the director of marketing for an industrial, heavy equipment seller - Lorem Ipsum .</p>
                                            <footer class="blockquote-footer text-uppercase --o--mt-3">Jenna Tops <cite title="Source Title">Vice President</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}

