{% set active_page = 'services.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-01"></div>
        <div class="section-bg-image --o--demo-bg-noise --o--opacity-5"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-20 --o--pb-15 align-items-center">
                <div class="col-lg-5 text-center text-lg-left">
                    <h1 class="--o--os-animation --o--font-weight-200 --o--mb-1" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        Mandy Smith
                    </h1>
                    <h2 class="text-uppercase text-muted h5 --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">CEO, Designer</h2>
                    <p class="--o--os-animation --o--mb-3" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        Verso Design inc is an experienced and passionate group of designers, developers, project managers, writers and artists. Every client we work with becomes a part of the team. Together we face the challenges and celebrate the victories.
                    </p>
                    <div class="--o--timeline --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".6s">
                        <div class="--o--timeline-item">
                            <h4 class="--o--timeline-item-title --o--mb-1">2001 <span class=" --o--opacity-5">- Graduated from CS College</span></h4>
                            <p class="-o--timeline-item-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam veniam obcaecati animi voluptates expedita ratione facilis officiis
                            </p>
                        </div>
                        <div class="--o--timeline-item">
                            <h4 class="--o--timeline-item-title --o--mb-1">2004 <span class=" --o--opacity-5">- Co founded Verso</span></h4>
                            <p class="--o--timeline-item-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, voluptatum cumque aut adipisci magnam. Aliquam 
                            </p>
                        </div>
                        <div class="--o--timeline-item">
                            <h4 class="--o--timeline-item-title --o--mb-1">2015 <span class=" --o--opacity-5">- CEO in Oxygenna</span></h4>
                            <p class="--o--timeline-item-description">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel repellendus nisi quibusdam amet tenetur placeat ipsum perferendis
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <img class="--o--os-animation img-fluid" data-os-animation="fadeInUp" data-os-animation-delay=".3s" src="assets/images/web-agency-ipad-600x850.png" alt="ipad">
                </div>
            </div>

            <div class="row --o--pb-20">
                <div class="col-lg-3 text-center text-lg-left --o--order-lg-2">
                    <h2 class="--o--mb-3 --o--mt-7 --o--os-animation --o--font-weight-200 " data-os-animation="fadeIn" data-os-animation-delay=".3s">My Work</h2>
                    <p class="--o--os-animation --o--mb-5"  data-os-animation="fadeIn" data-os-animation-delay=".4s">We listen, we discuss, we advise. Sounds obvious but we listen to your ideas, plans and objectives for your business.
                    </p>

                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card --o--shadow-big --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/web-agency-portfolio-04-260x340.jpg" alt="Card image">
                                </div>
                                <div class="card-body text-center">
                                    <h4 class="card-title text-uppercase --o--mb-1">
                                        <a href="portfolio-single.html">Oxygenna</a>
                                    </h4>
                                    <p class="card-text --o--mb-0">Branding, Web Design</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card --o--shadow-big --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/web-agency-portfolio-05-260x340.jpg" alt="Card image">
                                </div>
                                <div class="card-body text-center">
                                    <h4 class="card-title text-uppercase --o--mb-1">
                                        <a href="portfolio-single.html">Envato</a>
                                    </h4>
                                    <p class="card-text --o--mb-0">SEO, Web Design</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card --o--shadow-big --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/web-agency-portfolio-06-260x340.jpg" alt="Card image">
                                </div>
                                <div class="card-body text-center">
                                    <h4 class="card-title text-uppercase --o--mb-1">
                                        <a href="portfolio-single.html">Verso</a>
                                    </h4>
                                    <p class="card-text --o--mb-0">App, Branding</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card --o--shadow-big --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/web-agency-portfolio-07-260x340.jpg" alt="Card image">
                                </div>
                                <div class="card-body text-center">
                                    <h4 class="card-title text-uppercase --o--mb-1">
                                        <a href="portfolio-single.html">Gecko Inc</a>
                                    </h4>
                                    <p class="card-text --o--mb-0">Web Design</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card --o--shadow-big --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/web-agency-portfolio-08-260x340.jpg" alt="Card image">
                                </div>
                                <div class="card-body text-center">
                                    <h4 class="card-title text-uppercase --o--mb-1">
                                        <a href="portfolio-single.html">Axo inc</a>
                                    </h4>
                                    <p class="card-text --o--mb-0">Branding, Web Design</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card --o--shadow-big --o--transition --o--mb-3 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-img-container">
                                    <img class="card-img" src="assets/images/web-agency-portfolio-09-260x340.jpg" alt="Card image">
                                </div>
                                <div class="card-body text-center">
                                    <h4 class="card-title text-uppercase --o--mb-1">
                                        <a href="portfolio-single.html">Capsio Web</a>
                                    </h4>
                                    <p class="card-text --o--mb-0">SEO, Branding</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
</div>



{% endblock %}

