<div class="--o--widget widget_categories">
    <h4 class="h5 --o--widget-header text-uppercase">Categories</h4>
    <ul>
        <li>
            <a href="categories.html">
                Fruit Desserts (3)
            </a>
        </li>
        <li>
            <a href="categories-1.html">
                Pie Recipes (2)
            </a>
        </li>
        <li>
            <a href="categories-2.html">
                Chocolate Desserts (1)
            </a>
        </li>
        <li>
            <a href="categories-3.html">
                Cake Recipes (3)
            </a>
        </li>
        <li>
            <a href="recipes.html">
                Recipes (9)
            </a>
        </li>
    </ul>
</div>
