<div class="--o--widget widget_tag_cloud">
    <h4 class="h5 --o--widget-header text-uppercase">Tags</h4>
    <ul>
        <li>
            <a href="blog.html">cake</a>
        </li>

        <li>
            <a href="blog.html">donut</a>
        </li>

        <li>
            <a href="blog.html">breakfast</a>
        </li>

        <li>
            <a href="blog.html">sweets</a>
        </li>

        <li>
            <a href="blog.html">bisquits</a>
        </li>
        <li>
            <a href="blog.html">cheesepie</a>
        </li>
        <li>
            <a href="blog.html">cream</a>
        </li>

        <li>
            <a href="blog.html">cinamon</a>
        </li>

        <li>
            <a href="blog.html">news</a>
        </li>

        <li>
            <a href="blog.html">verso</a>
        </li>
        <li>
            <a href="blog.html">recipe</a>
        </li>
        <li>
            <a href="blog.html">chef</a>
        </li>
        <li>
            <a href="blog.html">nutritious</a>
        </li>
    </ul>
</div>
