.progress {
  position: relative;
}
.progress-bar {
  height: $progress-height;
}
.progress-wrapper {
  position: relative;
  padding-top: 1.5em;
}
.progress-indicator {
  font-size: 1.2em;
  color: $progress-bar-color;
  display: block;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 0;
  transform: translateX(-50%);
  text-align: center;
}

.progress-with-point {
  overflow: visible;
  .progress-bar {
    position: relative;
  }
  .progress-bar:after {
    content: "";
    width: $progress-height * 2.5;
    height: $progress-height * 2.5;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 50%;
    background: $progress-bar-color;
  }
}
