<div class="--o--widget widget_categories">
    <h4 class="--o--widget-header">Categories</h4>
    <ul>
        <li>
            <a href="blog.html">
                Aid The World (3)
            </a>
        </li>
        <li>
            <a href="blog.html">
                Water Foundation (2)
            </a>
        </li>
        <li>
            <a href="blog.html">
                Funding Crisis (1)
            </a>
        </li>
        <li>
            <a href="blog.html">
                Victims of War (3)
            </a>
        </li>
        <li>
            <a href="blog.html">
                Identity Crisis (2)
            </a>
        </li>
    </ul>
</div>
