{% set active_page = 'blog.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
    <div class="section-background">
        <div class="section-bg-image section-bg-image-size-cover section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-01"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto --o--pt-30 --o--pb-18">
                    <div class="card  card-hero --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-5 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/restaurant-dark-800x400-8-notinclude.jpg" alt="Card image">
                        </div>
                        <div class="card-body">
                            <h1 class="h2 card-title --o--mb-1">
                                <a href="post.html">Christos Pantazis</a>
                            </h1>
                            <p class="card-subtitle font-italic text-muted --o--mb-3">By <a href="author.html">Christos</a> on May 1977, in <a href="blog.html">Organization</a></p>
                            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                        </div>
                        <div class="card-footer">
                            <div class="--o--icon-set --o--transition float-right">
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <h2 class="h3 --o--mb-3 --o--transition --o--os-animation text-shadow --o--text-light" data-os-animation="fadeIn" data-os-animation-delay=".3s">Related posts</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/restaurant-dark-600x400-2-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Cooking Pasta</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">pasta food</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/restaurant-dark-600x400-3-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Greek Souvlaki</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">recipes</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
