{% set active_page = 'about.html' -%}

{% extends "layouts/default.html" %}

{% block content %}

<div class="section --o--demo-bg-color-green">
    <div class="section-background">
        <div class="section-bg-image section-bg-image-size-100 section-bg-image-position-bottom --o--demo-bg-image-02"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row align-items-center --o--pb-12 --o--pt-6">
                <div class="col-lg-5 --o--text-light ">
                    <h1 class="card-title --o--mt-3  --o--os-animation" data-os-animation-delay=".3s">About Us</h1>
                    <p class="lead --o--mb-3  --o--os-animation" data-os-animation-delay=".4s">
                        Shop now all speakers for more than 20% discount up until the end of June. Don’t miss our big offers
                    </p>
                </div>
                <div class="col-lg-7">
                    <div class="card card-hero --o--shadow-15 --o--shadow-hover-20 --o--transition  --o--mb-lg--12 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-body">
                            <div class="--o--timeline">
                                <div class="--o--timeline-item">
                                    <h3 class="--o--timeline-item-title --o--mb-1 color-green">2001 <small class=" --o--opacity-5">- The Foundation</small></h3>
                                    <p class="--o--timeline-item-description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam veniam obcaecati animi voluptates expedita ratione facilis officiis, eum illo id dolor deleniti quidem quo sed quibusdam rem neque eos. Facilis?
                                    </p>
                                </div>
                                <div class="--o--timeline-item">
                                    <h3 class="--o--timeline-item-title --o--mb-1 color-green">2004 <small class=" --o--opacity-5">- Best EU eshop</small></h3>
                                    <p class="--o--timeline-item-description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos repellat, voluptatum cumque aut adipisci magnam. Aliquam hic vel culpa eligendi saepe cum fugiat alias eum maiores ut cumque voluptas, debitis.
                                    </p>
                                </div>
                                <div class="--o--timeline-item">
                                    <h3 class="--o--timeline-item-title --o--mb-1 color-green">2015 <small class=" --o--opacity-5">- Award for best Commerce Brand</small></h3>
                                    <p class="--o--timeline-item-description">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel repellendus nisi quibusdam amet tenetur placeat ipsum perferendis, earum illo. Dolores deleniti, tempore, asperiores esse libero quo natus dolorem ipsa est.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-100 section-bg-image-position-bottom --o--demo-bg-image-07"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-12">
                <div class="col-12 text-center">
                    <h3 class="--o--mb-6 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".2s">Our Team</h3>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card --o--shadow-12 --o--shadow-hover-16 --o--transition --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-img-container">
                            <img class="card-img-top" src="assets/images/commerce-funky-team-01-400x400-notinclude.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body --o--mb-1">
                            <h4 class="card-title">
                                John Langan
                            </h4>
                            <h4 class="color-green --o--mb-0"> CEO, FOUNDER</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card --o--shadow-12 --o--shadow-hover-16 --o--transition --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-img-container">
                            <img class="card-img-top" src="assets/images/commerce-funky-team-02-400x400-notinclude.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body --o--mb-1">
                            <h4 class="card-title">
                                Jane Samuel
                            </h4>
                            <h4 class="color-green --o--mb-0"> CEO</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card --o--shadow-12 --o--shadow-hover-16 --o--transition --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <div class="card-img-container">
                            <img class="card-img-top" src="assets/images/commerce-funky-team-03-400x400-notinclude.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body --o--mb-1">
                            <h4 class="card-title">
                                Mike Smith
                            </h4>
                            <h4 class="color-green --o--mb-0"> Sales Manager</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card --o--shadow-12 --o--shadow-hover-16 --o--transition --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-img-container">
                            <img class="card-img-top" src="assets/images/commerce-funky-team-04-400x400-notinclude.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body --o--mb-1">
                            <h4 class="card-title">
                                Mary Johnson
                            </h4>
                            <h4 class="color-green --o--mb-0"> Product Designer</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card --o--shadow-12 --o--shadow-hover-16 --o--transition --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <div class="card-img-container">
                            <img class="card-img-top" src="assets/images/commerce-funky-team-05-400x400-notinclude.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body --o--mb-1">
                            <h4 class="card-title">
                                Ann Smithson
                            </h4>
                            <h4 class="color-green --o--mb-0"> Commerce Manager</h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card --o--shadow-12 --o--shadow-hover-16 --o--transition --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-img-container">
                            <img class="card-img-top" src="assets/images/commerce-funky-team-06-400x400-notinclude.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body --o--mb-1">
                            <h4 class="card-title">
                                Garry Jackson
                            </h4>
                            <h4 class="color-green --o--mb-0"> Designer</h4>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="section --o--demo-bg-color-red">
    <div class="section-content">
        <div class="container">
            <div class="row align-items-center --o--py-12">
                <div class="col-lg-4 --o--text-light --o--order-lg-2 text-center text-lg-left">
                    <h1 class="card-title --o--mb-3 --o--mt-3  --o--os-animation" data-os-animation-delay=".3s">Testimonials</h1>
                    <p class="lead --o--mb-3  --o--os-animation" data-os-animation-delay=".4s">
                        Verso Shop is a specializing in the retail and wholesale of the latest, never-seen-before, electronic, intelligent gadgets.
                    </p>
                </div>
                <div class="col-lg-8">
                    <div class="card card-hero --o--shadow-15 --o--shadow-hover-20 --o--transition --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-body">
                            <div id="carousel-example-1" class="--o--pl-4 --o--pr-4 carousel slide " data-ride="carousel">
                                <ol class="carousel-indicators --o--mb--2">
                                    <li data-target="#carousel-example-1" data-slide-to="0" class="active --o--transition"></li>
                                    <li class="--o--transition" data-target="#carousel-example-1" data-slide-to="1"></li>
                                    <li class="--o--transition" data-target="#carousel-example-1" data-slide-to="2"></li>
                                </ol>
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <blockquote class="card-blockquote blockquote">
                                            <p>Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate. </p>
                                            <footer class="blockquote-footer text-uppercase --o--mt-3 ">Jason Smith <cite title="Source Title">CEO</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="carousel-item">
                                        <blockquote class="card-blockquote blockquote">
                                            <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide clickthroughs</p>
                                            <footer class="blockquote-footer text-uppercase --o--mt-3">Jim Mack <cite title="Source Title">CTO</cite></footer>
                                        </blockquote>
                                    </div>
                                    <div class="carousel-item">
                                        <blockquote class="card-blockquote blockquote">
                                            <p>Podcasting operational change management inside of workflows to establish a framework. Always seems to be taking seamless key.</p>
                                            <footer class="blockquote-footer text-uppercase --o--mt-3">Jenna Tops <cite title="Source Title">Vice President</cite></footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

