{% set active_page = 'post.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section --o--demo-bg-color-red">
    <div class="section-content">
        <div class="container">
            <div class="row --o--py-6">
                <h1 class="--o--text-light --o--mb-0">
                    Our Authors
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="section-background">
        <div class="section-bg-image section-bg-image-size-100 section-bg-image-position-bottom --o--demo-bg-image-05"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-6 --o--pb-12">
                <div class="col-lg-9">
                    <div class="card  card-hero --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-5 --o--os-animation --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <div class="card-img-container">
                            <img class="card-img" src="assets/images/commerce-funky-team-11-900x400-notinclude.jpg" alt="Card image">
                        </div>
                        <div class="card-body">
                            <h1 class="card-title --o--mb-3">
                                Christos Langan
                            </h1>
                            <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
                            <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
                        </div>
                        <div class="card-footer">
                            <div class="--o--icon-set --o--transition float-right">
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    
                    <h2 class="--o--mb-3 --o--transition --o--os-animation text-shadow" data-os-animation="fadeIn" data-os-animation-delay=".3s">Related posts</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/commerce-funky-article-06-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Commerce Rising</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">Good shopping</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/commerce-funky-article-07-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Latest Arrivals</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">winter</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/commerce-funky-article-08-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Shipping to Europe</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">Europe</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/commerce-funky-article-09-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Getting your coupon</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">discounts</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/commerce-funky-article-10-600x400-notinclude.jpg" alt="Card image">
                                    <div class="card-img-overlay card-img-overlay-fade-to-top card-img-overlay-bottom">
                                        <h5 class="card-title text-uppercase"><a href="single.html">Using Paypal</a></h5>
                                        <p class="--o--mb-0 text-truncate font-italic">
                                            By <a href="author.html">Christos</a> in <a href="blog.html">Shopping</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 sidebar --o--mt-5 --o--mt-lg-0">
                    {% include "partials/sidebar.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

