{% set active_page = 'shop-single.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
     <div class="section-background">
        <div class="section-bg-image section-bg-image-size-100 section-bg-image-position-bottom --o--demo-bg-image-07"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-6 --o--pb-12">
                <div class="col-12">
                    <div class="row align-items-center --o--mb-3 --o--mt-2">
                        <div class="col-6">
                            <ol class="breadcrumb float-left">
                              <li class="breadcrumb-item"><a href="#">Home</a></li>
                              <li class="breadcrumb-item"><a href="#">Shop</a></li>
                              <li class="breadcrumb-item active">Gadgets</li>
                            </ol>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="btn btn-primary rounded-0 --o--px-2 --o--shadow-8 --o--shadow-hover-12">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a href="#" class="btn btn-primary rounded-0 --o--px-2 --o--shadow-8 --o--shadow-hover-12">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="carousel-product" class="carousel slide carousel-thumbnails --o--mb-3" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <img src="assets/images/commerce-funky-product-25-750x750-notinclude.jpg" alt="Card image cap">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/commerce-funky-product-26-750x750-notinclude.jpg" alt="Card image cap">
                            </div>
                            <div class="carousel-item">
                                <img src="assets/images/commerce-funky-product-27-750x750-notinclude.jpg" alt="Card image cap">
                            </div>
                        </div>
                        <ol class="carousel-indicators --o--mb--2">
                            <li data-target="#carousel-product" data-slide-to="0" class="active --o--transition">
                                <img src="assets/images/commerce-funky-thumbnail-01-100x100-notinclude.jpg" alt="Card image cap">
                            </li>
                            <li class="--o--transition" data-target="#carousel-product" data-slide-to="1">
                                <img src="assets/images/commerce-funky-thumbnail-02-100x100-notinclude.jpg" alt="Card image cap">
                            </li>
                            <li class="--o--transition" data-target="#carousel-product" data-slide-to="2">
                                <img src="assets/images/commerce-funky-thumbnail-03-100x100-notinclude.jpg" alt="Card image cap">
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-6 --o--pb-12">
                    <h1 class="--o--mb-2">Boom Basters</h1>
                    <h6 class="--o--mb-2">
                        <small>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </small>
                        <a href="#reviews" class="text-muted --o--pl-2">(2 reviews)</a>
                    </h6>
                    <h2 class="--o--mb-2 color-green">$99.99</h2>
                    <p class="lead">Made for urban environments, the Boombasters are designed to keep your powerful and compact DSLR kit within quick reach. And your go-to tablet, smartphone, headphones, wallet and other essentials well organized.</p>
                    <p class="lead --o--mb-5">Designed for smooth operation and extra security. Rotate sling to front, unzip side-access pocket and grab kit to shoot.  Body-side access to main compartment.</p>
                    <div class="row --o--mb-3">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-primary rounded-0 --o--px-2">-</a>
                            <input type="text" class="form-control border-0 --o--px-1 d-inline-block align-middle text-center" style="width: 50px;" placeholder="1" value="2">
                            <a href="#" class="btn btn-primary rounded-0 --o--px-2">+</a>
                        </div>
                        <div class="col-md-6">
                            <a href="card.html" class="btn btn-secondary float-right --o--shadow-4 --o--shadow-hover-8">Add to cart</a>
                        </div>
                    </div>
                    <small class="text-muted d-block --o--mb-1">
                        SKU: BBASTERS110
                    </small>
                    <small class="text-muted d-block --o--mb-1">
                        Category: <a href="shop-left.html">Headphones</a>
                    </small>
                    <small class="text-muted d-block --o--mb-1">
                        Tags: <a href="shop-left.html">Headphones</a>, <a href="shop-right.html">Sound</a>
                    </small>
                </div>
                <div class="col-12 --o--pb-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#info" role="tab">Additional Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (2)</a>
                        </li>
                    </ul>
                    <div class="tab-content --o--shadow-12 --o--shadow-hover-16 --o--transition">
                        <div class="tab-pane active" id="description" role="tabpanel">
                            <div class="--o--py-3 --o--px-2">
                                <h4 class="--o--mb-2">Product Description</h4>
                                Mauris eget posuere quam. Aenean auctor tortor eu felis porttitor, in euismod leo sollicitudin. Aenean porttitor mi nec tellus ultricies pulvinar. Vivamus tincidunt turpis vel laoreet congue. Mauris ac mi tempus, blandit lorem ac, suscipit tellus. Quisque semper, orci eget blandit laoreet, lectus lorem pharetra eros, rhoncus vulputate lacus risus vel enim. Duis fringilla felis metus. Quisque bibendum leo ut erat pharetra volutpat. Aliquam tincidunt arcu enim, at faucibus massa venenatis nec. Duis ut tortor id dolor euismod elementum. Nullam nulla diam, vehicula ac gravida et, posuere id erat. Morbi commodo dignissim felis, sit amet fringilla est auctor et. Proin malesuada metus sed augue pretium dictum. Ut porta, arcu eget tristique dignissim, sem lorem egestas mi, at sodales ipsum mi at magna. Etiam id semper lorem.
                            </div>
                        </div>
                        <div class="tab-pane" id="info" role="tabpanel">
                            <div class="--o--py-3 --o--px-2">
                                <h4 class="--o--mb-2">Additional Information</h4>
                                <table class="table --o--mb-0">
                                    <tbody>
                                        <tr class="">
                                            <th>Color</th>
                                            <td>
                                                <strong>Black</strong>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Size</th>
                                            <td>X Small, Small, Medium, Large, X Large, XX Large, XXX Large</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      <div class="tab-pane" id="reviews" role="tabpanel">
                            <div class="--o--py-3 --o--px-2">
                                <h4 class="--o--mb-2">Product Reviews</h4>
                                <div class="media-list --o--mb-5">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="d-flex --o--mr-1 --o--mr-md-3 rounded-circle" src="assets/images/commerce-funky-team-07-70x70-notinclude.jpg" alt="review author">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading --o--mb-1">Peter Chur Chlington -
                                                <small class="text-muted">June 11th, 2017
                                                    <span class="float-right">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </span>
                                                </small>
                                            </h5>
                                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>
                                        </div>
                                    </div>
                                    <div class="media --o--mt-5">
                                        <div class="media-left">
                                            <a href="#">
                                                <img class="d-flex --o--mr-1 --o--mr-md-3 rounded-circle" src="assets/images/commerce-funky-team-08-70x70-notinclude.jpg" alt="review author">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading --o--mb-1">John Langan -
                                                <small class="text-muted">June 25th, 2017
                                                    <span class="float-right">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </span>
                                                </small>
                                            </h5>
                                            <p>I love hoodies, and ninjas, so what could be better than a ninja hoodie? Not much, if you ask me!</p>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="--o--mb-2">Leave your review</h4>
                                <h5 class="--o--mb-1">Your Rating</h5>
                                <div class="--o--mb-2">
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                                <h5 class="--o--mb-1">Your Review</h5>
                                <form action="index.html" class="contact-form">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <input type="text" id="name" name="name" class="form-control --o--shadow-0 --o--shadow-focus-2 --o--transition --o--mb-3" placeholder="Name">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" id="email" name="email" class="form-control --o--shadow-0 --o--shadow-focus-2 --o--transition --o--mb-3" placeholder="Your Email">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea id="message" name="message" rows="8" class="form-control --o--shadow-0 --o--shadow-focus-2 --o--transition --o--mb-3 col-md-12" placeholder="Your Comment"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-primary --o--shadow-2">Submit Review</button>
                                        </div>
                                    </div>
                                </form>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <h4 class="--o--mb-6">Related Products</h4>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card --o--shadow-12 --o--shadow-hover-16 --o--transition --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                        <a href="shop-single.html" class="card-img-container">
                            <img class="card-img-top" src="assets/images/commerce-funky-product-09-500x400-notinclude.jpg" alt="Card image cap">
                            <img class="card-img-top --o--pos-absolute --o--opacity-hover-0 --o--transition-slow" src="assets/images/commerce-funky-product-18-500x400-notinclude.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="shop-single.html">Chill-out Speakers</a>
                            </h4>
                            <h4 class="color-green --o--mb-2"> $299</h4>
                            <a href="shop-single.html" class="btn btn-primary --o--shadow-4 --o--shadow-hover-8 --ο--transition">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card --o--shadow-12 --o--shadow-hover-16 --o--transition --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                        <a href="shop-single.html" class="card-img-container">
                            <img class="card-img-top" src="assets/images/commerce-funky-product-08-500x400-notinclude.jpg" alt="Card image cap">
                            <img class="card-img-top --o--pos-absolute --o--opacity-hover-0 --o--transition-slow" src="assets/images/commerce-funky-product-17-500x400-notinclude.jpg" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="shop-single.html">Cozy Headphones</a>
                            </h4>
                            <h4 class="color-green --o--mb-2"> $88</h4>
                            <a href="shop-single.html" class="btn btn-primary --o--shadow-4 --o--shadow-hover-8 --ο--transition">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4">
                    <div class="card --o--shadow-12 --o--shadow-hover-16 --o--transition --o--os-animation --o--mb-3 text-center" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                        <a href="shop-single.html" class="card-img-container">
                            <img class="card-img-top" src="assets/images/commerce-funky-product-07-500x400-notinclude.jpg" alt="Card image cap">
                            <img class="card-img-top --o--pos-absolute --o--opacity-hover-0 --o--transition-slow" src="assets/images/commerce-funky-product-16-500x400-notinclude.jpg" alt="Card image cap">
                        </a>
                        <h5 class="card-img-overlay card-img-overlay-mini card-img-overlay-top card-img-overlay-right text-center rounded-circle card-img-overlay-square">
                            Sale
                        </h5>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="shop-single.html">Blue tooth headphones</a>
                            </h4>
                            <h4 class="color-green --o--mb-2"> $45</h4>
                            <a href="shop-single.html" class="btn btn-primary --o--shadow-4 --o--shadow-hover-8 --ο--transition">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
