{% set active_page = 'blog.html' -%}

{% extends "layouts/default.html" %}

{% block content %}
<div class="section">
    <div class="section-background">
        <div class="section-bg-image section-bg-image-size-100 section-bg-image-position-top section-bg-image-paralax --o--demo-bg-image-01"></div>
    </div>
    <div class="section-content">
        <div class="container">
            <div class="row --o--pt-20 --o--pb-10">
                <div class="col-md-8 --o--mb-10 --o--mb-md-0">
                    <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-10 --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">

                        <div class="card-img-container">
                            <img class="mw-100" src="assets/images/blog-travel-winter-article-09-800x400-notinclude.jpg" alt="Card image">
                        </div>

                        <div class="card-body">
                            <h1 class="h2 text-uppercase card-title --o--mb-3">
                                Travel Magazine
                            </h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit eum voluptate quae perspiciatis vitae. Commodi delectus, esse quam nam blanditiis eum officiis consequatur culpa maxime quisquam. Lorem ipsum dolor sit amet, consectetur.</p>
                            <p>Adipisicing elit Vero sapiente dolores, esse commodi ut perferendis blanditiis necessitatibus aliquam veniam quasi. Sed accusamus itaque porro ipsam placeat, voluptate nihil, quam officiis!</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit eum voluptate quae perspiciatis vitae. Commodi delectus, esse quam nam blanditiis eum officiis consequatur culpa maxime quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sapiente dolores, esse commodi ut perferendis blanditiis necessitatibus aliquam veniam quasi. Sed accusamus itaque porro ipsam placeat, voluptate nihil, quam officiis!</p>
                            <p>Adipisicing elit Vero sapiente dolores, esse commodi ut perferendis blanditiis necessitatibus aliquam veniam quasi. Sed accusamus itaque porro ipsam placeat, voluptate nihil, quam officiis!</p>
                        </div>

                        <div class="card-footer clearfix">
                            <div class="--o--icon-set --o--transition float-right">
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-instagram"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a class="--o--icon-set-item text-muted --o--transition" href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </div>
                        </div>
                    </div>


                    <h4 class="text-uppercase --o--mb-3 --o--transition --o--mb-3 --o--os-animation text-shadow" data-os-animation="fadeIn" data-os-animation-delay=".3s">Fellow authors</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/blog-travel-winter-author-01-500x500-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase --o--mb-0"><a href="author.html">John Langan</a></h4>
                                    <p class="--o--mb-0 --o--mt-2 d-none d-lg-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae veritatis quisquam officiis alias rem,
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/blog-travel-winter-author-02-500x500-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase --o--mb-0"><a href="author.html">Stelios D Funky</a></h4>
                                    <p class="--o--mb-0 --o--mt-2 d-none d-lg-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae veritatis quisquam officiis alias rem,
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".4s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/blog-travel-winter-author-03-500x500-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase --o--mb-0"><a href="author.html">Sarah Johnson</a></h4>
                                    <p class="--o--mb-0 --o--mt-2 d-none d-lg-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae veritatis quisquam officiis alias rem,
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card --o--shadow-15 --o--shadow-hover-20 --o--transition --o--mb-3 --o--os-animation text-center" data-os-animation="fadeIn" data-os-animation-delay=".5s">
                                <div class="card-img-container">
                                    <img class="card-img d-block mw-100" src="assets/images/blog-travel-winter-author-04-500x500-notinclude.jpg" alt="Card image">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title text-uppercase --o--mb-0"><a href="author.html">Mary J Smith</a></h4>
                                    <p class="--o--mb-0 --o--mt-2 d-none d-lg-block">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae veritatis quisquam officiis alias rem,
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 sidebar --o--os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                    {% include "partials/sidebar.html" %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

