<div class="--o--header --o--header-transparent">

    <!-- Navigation -->
    <div class="--o--nav --o--nav-sticky --o--nav-layout-logo-l-menu-r">
        <div class="--o--nav-inner">
            <div class="--o--nav-container">

                <!-- Logo -->
                <div class="--o--nav-brand">
                    <a href="index.html">
                        <img src="assets/images/web-agency-logo-130x100.png" alt="verso">
                        verso
                    </a>
                </div>

                <!-- Mobile menu toggle button -->
                <div class="--o--nav-mobile">
                    <a id="nav-toggle"  href="#">
                        <span></span>
                    </a>
                </div>

                <!-- Menu One -->
                <nav class="--o--nav-menu">
                    <ul class="--o--nav-list">
                        <li>
                            <a href="index.html" >Home</a>
                        </li>
                        <li>
                            <a href="about.html" >About</a>
                            <ul class="--o--nav-dropdown closed">
                                <li>
                                    <a href="about.html">About Us</a>
                                </li>
                                <li>
                                    <a href="team.html">Our Team</a>
                                </li>
                                <li>
                                    <a href="services.html">Our Services</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="portfolio.html" >Portfolio</a>
                            <ul class="--o--nav-dropdown closed">
                                <li>
                                    <a href="portfolio.html">Portfolio</a>
                                </li>
                                <li>
                                    <a href="portfolio-single.html">Single Portfolio</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="blog.html" >News</a>
                            <ul class="--o--nav-dropdown closed">
                                <li>
                                    <a href="blog.html">Blog List</a>
                                </li>
                                <li>
                                    <a href="post.html">Single Post</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
