<div class="--o--header --o--header-transparent">

    <!-- Top Bar -->
    <div class="--o--topbar --o--topbar-leftright">
        <div class="--o--topbar-inner">
            <div class="--o--topbar-container">
                <div class="--o--topbar-col">
                    <div class="--o--widget widget_text">
                        <i class="fa fa-phone"></i> &nbsp; 1-800-555-555
                    </div>
                </div>
                <div class="--o--topbar-col">
                    <div class="--o--widget widget_social">
                        <div class="--o--icon-set">
                            <a class="--o--icon-set-item --o--transition" href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                            <a class="--o--icon-set-item --o--transition" href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                            <a class="--o--icon-set-item --o--transition" href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <a class="--o--icon-set-item --o--transition" href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navigation -->
    <div class="--o--nav --o--nav-sticky --o--nav-layout-logo-l-menu-r">
        <div class="--o--nav-inner">
            <div class="--o--nav-container">

                <!-- Logo -->
                <div class="--o--nav-brand">
                    <a href="index.html">
                        <img src="assets/images/corporate-modern-logo-130x100.png" alt="verso">
                        CORPO
                    </a>
                </div>

                <!-- Mobile menu toggle button -->
                <div class="--o--nav-mobile">
                    <a id="nav-toggle" href="#">
                        <span></span>
                    </a>
                </div>

                <!-- Menu One -->
                <nav class="--o--nav-menu">
                    <ul class="--o--nav-list">
                        <li>
                            <a href="index.html">HOME</a>
                        </li>
                        <li>
                            <a href="about.html">ABOUT</a>
                            <ul class="--o--nav-dropdown closed">
                                <li>
                                    <a href="about.html">ABOUT US</a>
                                </li>
                                <li>
                                    <a href="team.html">OUR TEAM</a>
                                </li>
                                <li>
                                    <a href="pricing.html">PRICING</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="services.html">SERVICES</a>
                        </li>
                        <li>
                            <a href="projects.html">PROJECTS</a>
                        </li>
                        <li>
                            <a href="blog.html">BLOG</a>
                            <ul class="--o--nav-dropdown closed">
                                <li>
                                    <a href="blog.html">BLOG</a>
                                </li>
                                <li>
                                    <a href="post.html">SINGLE POST</a>
                                </li>
                                <li>
                                    <a href="author.html">AUTHOR'S PAGE</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="contact.html">CONTACT</a>
                        </li>
                    </ul>
                    <div class="--o--nav-widget">
                        <div class="--o--widget">
                            <div class="--o--icon-set">
                                <a class="--o--icon-set-item --o--transition --o--search-widget-button-open" href="#">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
